{% extends "emails/base_mail2.html" %}
{% load widget_tweaks %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}


{% block content %}


        <tr>
            <td style="padding: 25px; color: #333333;">
                
                <!-- Saludo personalizado según el idioma -->
                
<div class="email-header" style="text-align: left; margin-bottom: 20px; padding: 40px 30px; background-color: #1e3a8a; background-image: url('{% static 'portada2.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat; border-radius: 8px 8px 0 0;">
                    <img src="{% static 'img/BA-LOGOS/logo_sq_header.png' %}" alt="SmartQuail Logo" width="210px">
                  </div>

                <!-- CONDICIONALES POR TIPO DE MAILING E IDIOMA -->
                
                <!-- 1. INFORMATIVO -->
                {% if mailing.tipo_mailing == 'informativo' %}

                {% include 'emails/mailing/info.html' %}

                <!-- 2. COMUNICATIVO (Bienvenida y Soporte Técnico) -->
                {% elif mailing.tipo_mailing == 'comunicativo' %}

                {% include 'emails/mailing/comunicacion.html' %}

                <!-- 3. FINANCIERO -->
                {% elif mailing.tipo_mailing == 'financiero' %}

                {% include 'emails/mailing/financiero.html' %}

                <!-- 4. PUBLICITARIO -->
                {% elif mailing.tipo_mailing == 'publicitario' %}

                {% include 'emails/mailing/publicitario.html' %}

                {% endif %}

                <!-- Contenido dinámico escrito en el campo de texto de Wagtail -->


            </td>
        </tr>
        
{% endblock %}

