{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">

    <!-- Breadcrumb -->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">
        <ion-icon name="card"></ion-icon> Inversiones ITC
      </div>

    </div>

    <!-- Nav pills -->
    <ul class="nav nav-pills mb-2 text-success rounded bg-light-success" id="custom-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="orderlist-tab" data-bs-toggle="pill" href="#tab-orderlist" role="tab" aria-selected="true">
          <div class="d-flex align-items-center">
            <div class="tab-title">
              <ion-icon name="cloud-download-outline"></ion-icon>
              <ion-icon name="checkmark-done-circle-outline"></ion-icon>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content">
      {% include "business/paymentorder_list.html" %}
    </div> <!-- end tab content -->

  </div> <!-- end page content -->
</div> <!-- end page content wrapper -->
{% endblock %}
