.text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(105, 106, 108);
}


/* Estilo personalizado para el badge */
.badge-custom-dark {
    background-color: #ec2704 !important;
    color: white !important;
    font-weight: 600;
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}


.bg-red-600 {
    background-color: #e82b0c  !important
  }



  .h-8 {
    height: 2.8rem;
  }
