{% load i18n %}
{% load static %}

<div class="page-number"></div>

<header>
    <div class="header-left">
        <img src="{% static 'css/logosmartquail.png' %}" alt="SmartQuail Logo">
    </div>

    <div class="header-center">
        {{ contrato.numero_contrato }}
    </div>

    <div class="header-right">
        <strong>Ecuador, {{ contrato.fecha_firma|date:"d" }} de {{ contrato.fecha_firma|date:"F" }} de {{ contrato.fecha_firma|date:"Y" }}</strong>
    </div>
</header>
<hr>


<div class="titulos">
    <h4> {{ contrato.get_tipo_contrato_display|upper }}
    DE LA COMPAÑÍA <strong>SMARTQUAIL S.A.S. </strong></h4>
</div>

<div class="preambulo">
    <p>

<strong>{{ contrato.objeto_contrato }}</strong>
  </p>
  <p> {{       contrato.cargo }}</p>
<p><strong>Presente.</strong></p>


    <p>
    {{ contrato.partes_contratantes }}
    </p>
</div>

<div class="clausulas">
    {% for clausula in clausulas %}
        <h3>{{ clausula.get_clausula_display }}: {{ clausula.titulo_clausura }} </h3>
        <p>{{ clausula.detalle }}</p>
    {% empty %}

    {% endfor %}
</div>

<div class="certificaciones">

    <div class="cert-left">

      <!-- Cuadrado para la firma -->
      <div class="signature-box"></div>
      <p><strong>SANTIAGO MAURICIO SILVA DOMÍNGUEZ</strong><br>
        <strong>REPRESENTANTE LEGAL</strong><br>
        <strong>SMARTQUAIL.S.A.S</strong>

    </div>

    <div class="cert-right">
        <div class="cert-sign">

          <!-- QR generado -->
          <img src="{{ qr_url }}" alt="QR de certificación">
          <p><strong>SMARTQUAIL S.A.S</strong></p>


            </p>
        </div>
    </div>



</div>



<hr>
<footer>
    <p>
        SmartQuail, Inc. — Innovación en Soluciones Tecnológicas<br>
        Web: https://ec.smartquail.io | Tel: +593 (96) 352-1262 | Mail: smartquail.dev@gmail.com <br>
        © 2026 SmartQuail, Inc. Todos los derechos reservados.
    </p>
</footer>
