{% load i18n %}
{% load static %}

<div class="page-number"></div>

<header>
    <div class="header-left">
        <img src="{% static 'css/logosmartquail.png' %}" alt="SmartQuail Logo">
    </div>

    <div class="header-center">
        {{ contrato.numero_contrato }}
    </div>

    <div class="header-right">
        <strong>Ecuador, {{ contrato.created_at|date:"d" }} de {{ contrato.created_at|date:"F" }} de {{ contrato.created_at|date:"Y" }}</strong>
    </div>
</header>
<hr>


<div class="titulos">
    <h2> {{ contrato.get_tipo_contrato_display|upper }} <br>
    <strong>DE LA COMPAÑÍA SMARTQUAIL S.A.S. </strong></h2>
</div>

<div class="preambulo">
    <p>

{{ contrato.objeto_contrato }}
    </p>

    <p>
    {{ contrato.partes_contratantes }}
    </p>
</div>

<div class="clausulas">
    {% for clausula in clausulas %}
        <h3>{{ clausula.get_clausula_display }}: {{ clausula.titulo_clausura }} </h3>
        <p>{{ clausula.detalle }}</p>
    {% empty %}

    {% endfor %}
</div>

<div class="certificaciones">

    <div class="cert-left">
        <!-- QR generado -->
        <img src="{{ qr_url }}" alt="QR de certificación">
        <p><strong>SMARTQUAIL S.A.S</strong></p>
    </div>

    <div class="cert-right">
        <div class="cert-sign">
            <!-- Cuadrado para la firma -->
            <div class="signature-box"></div>
            <p><strong>SANTIAGO MAURICIO SILVA DOMÍNGUEZ</strong><br>
              <strong>REPRESENTANTE LEGAL INTERINO</strong><br>
              <strong>SMARTQUAIL.S.A.S</strong>

            </p>
        </div>
    </div>



</div>

<div class="contract-note code">
  <p><strong>TOKEN:<strong> {{ contrato.contract_hash }} <br>
    <strong>ID:<strong> {{ contrato.numero_contrato }}
  </p>
</div>


<footer>
    <p>
        SmartQuail, Inc. — Innovación en Soluciones Tecnológicas<br>
        Web: ec.smartquail.io | Tel: +593 (96) 352-1262 | Mail: smartquail.dev@gmail.com <br>
        © 2026 SmartQuail, Inc. Todos los derechos reservados.
    </p>
</footer>
