{% extends "webapp/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static menu_tags %}

{% block content %}
{% main_menu template="webapp/home/header.html" %}

<section class="pt-50 pb-50 dark-bg">
  <div class="container"></div>
</section>

{# =======================
   ABOUT SECTION (BANNER)
   ======================= #}
<section class="white-bg">
  {% for item in page.aboutus_items.all %}
    {% image item.image_1 scale-100 as banner %}
    <div class="col-md-6 col-sm-4 bg-flex bg-flex-right">
      <div class="bg-flex-holder bg-flex-cover"
           style="background-image: url('{{ banner.url }}');">
      </div>
    </div>
  {% endfor %}

  <div class="container">
    <div class="col-md-5 col-sm-7">
      <h2 class="text-uppercase font-700">{% trans 'About SmartQuail' %}</h2>
      <h4 class="mt-10 line-height-26 default-color">Part of your success.</h4>
      <p class="mt-20">{{ page.aboutus|richtext }}</p>
    </div>
  </div>
</section>

{# =======================
   TEAM SECTION
   ======================= #}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading">
        <h2 class="text-uppercase font-700">{% trans 'Meet Our Team' %}</h2>
        <h4 class="mt-10 line-height-26 text-uppercase">
          - {% trans 'We Are Proud of Them' %} -
        </h4>
      </div>
    </div>

    {% for item in page.aboutus_items.all %}
    <div class="row mt-50">

      {# === TEAM MEMBER 1 === #}
      <div class="col-md-3 col-sm-6">
        {% image item.image_2 scale-100 as img %}
        <div class="team-member-container gallery-image-hover">
          <img src="{{ img.url }}" class="img-responsive">
          <div class="member-caption">
            <div class="member-description text-center">
              <h4>{{ item.team1_name }}</h4>
              <p>{{ item.team1_position }}</p>
            </div>
          </div>
        </div>
      </div>

      {# === TEAM MEMBER 2 === #}
      <div class="col-md-3 col-sm-6">
        {% image item.image_3 scale-100 as img %}
        <div class="team-member-container gallery-image-hover">
          <img src="{{ img.url }}" class="img-responsive">
          <div class="member-caption text-center">
            <h4>{{ item.team2_name }}</h4>
            <p>{{ item.team2_position }}</p>
          </div>
        </div>
      </div>

      {# === TEAM MEMBER 3 === #}
      <div class="col-md-3 col-sm-6">
        {% image item.image_4 scale-100 as img %}
        <div class="team-member-container gallery-image-hover">
          <img src="{{ img.url }}" class="img-responsive">
          <div class="member-caption text-center">
            <h4>{{ item.team3_name }}</h4>
            <p>{{ item.team3_position }}</p>
          </div>
        </div>
      </div>

      {# === TEAM MEMBER 4 === #}
      <div class="col-md-3 col-sm-6">
        {% image item.image_5 scale-100 as img %}
        <div class="team-member-container gallery-image-hover">
          <img src="{{ img.url }}" class="img-responsive">
          <div class="member-caption text-center">
            <h4>{{ item.team4_name }}</h4>
            <p>{{ item.team4_position }}</p>
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</section>

{% include 'webapp/home/footer_section.html' %}
{% endblock %}
