{% extends "base_dash.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="page-content-wrapper">
    <!-- start page content -->
    <div class="page-content">
   
  <div class="row">

        <!-- Card 1: Leídas -->

       {% include 'usuarios/citas/barra_herramientas.html' %} 

         {% include 'usuarios/logo.html' %} 

    </div> <!-- Fin row -->
    
    <div class="row">
            <!-- Sección de mensajes -->
            <div class="col-12 col-lg-8 col-xl-9">
                {% if mensajes_recientes %}
                    <div class="row row-cols-1 row-cols-lg-3">
                        {% for mensaje in mensajes_recientes %}
                            <div class="col">
                                <a href="{% url 'usuarios:ver_mensaje' mensaje.id %}">
                                    <div class="card radius-10 bg-success">
                                        <div class="card-body text-white">
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="service-box bg-white text-white me-2">
                                                    {% if mensaje.asunto == 'Terapéutico' %}
                                                        <ion-icon name="pulse"></ion-icon>
                                                    {% elif mensaje.asunto == 'Solicitud de pago vencido' %}
                                                        <ion-icon name="card"></ion-icon>
                                                    {% elif mensaje.asunto == 'Reclamo del servicio  Médico' %}
                                                        <ion-icon name="megaphone"></ion-icon>
                                                    {% endif %}
                                                </div>
                                                <h5 class="mb-0">{{ mensaje.emisor.get_full_name }}</h5>
                                            </div>
                                            <p>Grupo MEDDES®</p>
                                            <h4 class="mb-0">{{ mensaje.asunto|truncatechars:50 }}</h4>
                                            <p class="mb-0">Enviado hace {{ mensaje.fecha_envio|timesince }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card-body">
                        <div class="alert alert-dismissible fade show py-2 bg-primary">
                            <div class="d-flex align-items-center">
                                <div class="fs-3 text-white">
                                    <ion-icon name="close-circle-sharp"></ion-icon>
                                </div>
                                <div class="ms-3">
                                    {% if mensajes_nuevos > 0 %}
                                        <div class="text-white">
                                            Usted tiene <strong>{{ mensajes_nuevos }}</strong> notificaciones nuevas en su bandeja de entrada. 
                                        </div>
                                    {% elif mensajes_nuevos == 0 %}
                                        <div class="text-white">
                                            No existen nuevas notificaciones en su bandeja de entrada.
                                        </div>
                                    {% else %}
                                        <div class="text-white">
                                            Usted tiene <strong>{{ mensajes_nuevos }}</strong> notificación nueva en su bandeja de entrada. Al hacer clic en las notificaciones, automáticamente confirma su lectura a MEDDES®.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

             {% include 'usuarios/panel_usuario.html' %} 

    </div> <!-- Fin row -->

        
    </div> <!-- Fin page-content -->
</div> <!-- Fin page-content-wrapper -->
{% endblock %}
