{% extends "paas_shop/base3.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Checkout" %}
{% endblock %}

{% block content %}


<style>
  .step-count-circle {
  background-color: #b50f15; /* o el color corporativo que uses */
  color: #fff;
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  margin-right: 8px;
  font-size: 14px;
}

</style>

<div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content">

                  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3"> <ion-icon name="browsers-outline"></ion-icon> Software de Negocios  </div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0 align-items-center">
                  <li class="breadcrumb-item">
                 Confirmación de Orden
                  </li>
                </ol>
              </nav>
            </div>

          </div>

<div class="product-more-info mt-4">



<div class="card">
  <div class="card-body p-4" style="color: #ededed;
    text-align: justify;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    background-color: #2e2e2e;
    border-radius: 25px;">

    <!-- Tabs -->


    <!-- Contenido de las Tabs -->
    <div class="tab-content pt-3">

      <!-- TAB 1: ORDEN DE COMPRA -->
      <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="tab-order">
        <div class="checkout-details">
          <div class="card border-0 bg-transparent">
            <div class="card-body">

              <!-- Progreso de pasos -->
              <div class="steps steps-light">
                <a class="step-item active" href="{% url 'paas_cart:cart_detail' %}">
                  <div class="step-progress"><span class="step-count">1</span></div>
                </a>
                <a class="step-item active current" href="{% url 'paas_orders:order_create' %}">
                  <div class="step-progress"><span class="step-count">2</span></div>
                </a>
                <a class="step-item"><div class="step-progress"><span class="step-count">3</span></div></a>
                <a class="step-item"><div class="step-progress"><span class="step-count">4</span></div></a>
              </div>
            </div>
          </div>

          <div class="card bg-transparent">
            <div class="card-body">

              <!-- Datos del usuario -->
              <div class="d-flex align-items-center mb-3">
                <div><img src="assets/images/avatars/06.png" width="80" alt="" class="rounded-circle p-1 shadow-sm"></div>
                <div class="ms-3">
                  <h6 class="mb-0">{{ order.first_name }} {{ order.last_name }}</h6>
                  <p class="mb-0">{{ order.email }}</p>
                </div>
              </div>

              <hr>

            
              <p>Una vez que complete el formulario y confirme la orden de software, recibirá en su correo electrónico un documento en formato PDF que incluirá los detalles de la orden de compra, los puntos de desarrollo acordados, y las políticas y términos de adquisición, para su conocimiento y registro institucional.</p>
              <div class="my-3 border-bottom"></div>

              <div class="form-body">
                <form action="." method="post" class="order-form row g-3">
                  {% csrf_token %}

                  <!-- RUC -->
                  <div class="col-md-6">
                    <label class="form-label" for="{{ form.ruc.id_for_label }}">Registro Fiscal (R.U.C) / Número de Identificacion (C.I) </label>
                    {{ form.ruc }}
                  </div>

                  <!-- Razon Social -->
                  <div class="col-md-6">
                    <label class="form-label" for="{{ form.razon_social.id_for_label }}">Razón Social / Nombre de titular de identificación</label>
                    {{ form.razon_social }}
                  </div>

                  <!-- Sector -->
          

                  <!-- Botones -->
                  <div class="col-md-6">
                    <div class="d-grid">
                      <a href="{% url 'paas_cart:cart_detail' %}" class="btn btn-light btn-ecomm"><i class='bx bx-chevron-left'></i> Ver detalle de orden</a>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="d-grid">
                      <input type="submit" value="{% trans 'Confirmar Orden de Software' %}" class="btn btn-warning btn-ecomm">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



    </div>


      </div>
  </div>






{% endblock %}



     <div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content">




          <!--start shop cart-->
          <section class="shop-page">
            <div class="shop-container">
              <div class="card shadow-sm border-0">
                <div class="card-body">
						<div class="shop-cart">
							<div class="row">
								<div class="col-12 col-xl-8">
									<div class="checkout-details">
										<div class="card border-0">
											<div class="card-body">
												<div class="steps steps-light">
													<a class="step-item active" href="{% url 'paas_cart:cart_detail' %}">
														<div class="step-progress"><span class="step-count">1</span>
														</div>
														<div class="step-label"><i class='bx bx-cart'></i></div>
													</a>
													<a class="step-item active current" href="{% url 'paas_orders:order_create' %}">
														<div class="step-progress"><span class="step-count">2</span>
														</div>
														<div class="step-label"><i class='bx bx-user-circle'></i></div>
													</a>
													<a class="step-item" href="#">
														<div class="step-progress"><span class="step-count">3</span>
														</div>
														<div class="step-label"><i class='bx bx-credit-card'></i></div>
													</a>
													<a class="step-item" href="#">
														<div class="step-progress"><span class="step-count">4</span>
														</div>
														<div class="step-label"><i class='bx bx-check-circle'></i></div>
													</a>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="d-flex align-items-center mb-3">
													<div class="">
														<img src="assets/images/avatars/06.png" width="80" alt="" class="rounded-circle p-1 shadow-sm">
													</div>
													<div class="ms-3">
														<h6 class="mb-0">{{ order.first_name  }} {{order.last_name }}</h6>
														<p class="mb-0">{{ order.email }} </p>
													</div>
												</div>
                        <hr>
												<div class="">
													<h2 class="h5 mb-0">Datos de Facturación</h2>
													<div class="my-3 border-bottom"></div>
<div class="form-body">
  <form action="." method="post" class="order-form row g-3">
    
    {% csrf_token %}
    
    <!-- RUC -->
    <div class="col-md-6">
      <label class="form-label" for="{{ form.ruc.id_for_label }}">R.U.C / C.I</label>
      {{ form.ruc }}
    </div>

    <!-- Razon Social -->
    <div class="col-md-6">
      <label class="form-label" for="{{ form.razon_social.id_for_label }}">Nombre de la Organización,Negocio o Marca</label>
      {{ form.razon_social }}
    </div>

    <!-- Sector -->
    <div class="col-md-6">
      <label class="form-label" for="{{ form.sector.id_for_label }}">Sector de Negocios</label>
      {{ form.sector }}
    </div>

    <!-- Teléfono -->
  <div class="input-group">
    <span class="input-group-text">+593</span>
    {{ form.telefono }}
  </div>

  <!-- Texto explicativo -->
  <small class="form-text text-muted">
    Escriba el número en formato internacional. Ejemplo: +593XXXXXXXXX.
  </small>


    <!-- Dirección de Facturación -->
    <div class="col-md-12">
      <h6 class="mb-0 h5">Términos y Condiciones de compra</h6>
      <div class="my-3 border-bottom"></div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" checked>
        <label class="form-check-label" for="gridCheck">He leido y acepto lo terminos y condiciones</label>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="col-md-6">
      <div class="d-grid">
        <a href="{% url 'paas_cart:cart_detail' %}" class="btn btn-light btn-ecomm"><i class='bx bx-chevron-left'></i>Back to Cart</a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-grid">
        <input type="submit" value="{% trans 'Place order' %}" class="btn btn-primary btn-ecomm">
      </div>
    </div>
  </form>
</div>

												</div>
											</div>
										</div>
									</div>
								</div>
<div class="col-12 col-xl-4">
  <div class="order-summary">
    <div class="card">
      <div class="card-body">
        <!-- Aplicar código de descuento -->

        <!-- Resumen de la orden -->
     <div class="card">
  <div class="card-body">
    <p class="fs-5">Detalle de Compra</p>
    <div class="my-3 border-top"></div>
    
    <!-- Mostrar cada producto en el carrito -->
    <ul class="list-unstyled">
      {% for item in cart %}
        <li class="d-flex align-items-center">

          <div class="ps-3">
            <h6 class="mb-1">{{ item.product.name }}</h6>
            <p>{{item.product.description }}</p>
            <div class="widget-product-meta">
            </div>
          </div>
        </li>
        <div class="my-3 border-top"></div>
      {% endfor %}
    </ul>

    <!-- Mostrar descuento si aplica -->
    {% if cart.coupon %}
      <div class="d-flex justify-content-between">
        <span>{{ cart.coupon.code }} ({{ cart.coupon.discount }}% off)</span>
        <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
      </div>
      <div class="my-3 border-top"></div>
    {% endif %}
    
    <!-- Totales -->


    {% if cart.coupon %}
      <div class="d-flex justify-content-between">
        <span>Discount</span>
        <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
      </div>
    {% endif %}
    <div class="my-3 border-top"></div>
    <div class="d-flex justify-content-between">
      <h5 class="mb-0">Total a pagar</h5>
      <span class="float-end">${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
    </div>
  </div>
</div>

      </div>
    </div>


  </div>
</div>

							</div>
							<!--end row-->
						</div>
					</div>
        </div>
      </div>
				</section>
				<!--end shop cart-->
             

          </div>
          <!-- end page content-->
         </div>