{% extends "saas_shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Checkout" %}
{% endblock %}

{% block content %}



     <div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content">

          <!--start breadcrumb-->
          <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Software como Producto</div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0 align-items-center">
                  <li class="breadcrumb-item"><a href="javascript:;"></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Detalle de Orden de Compra</li>
                </ol>
              </nav>
            </div>
            <div class="ms-auto">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary">Settings</button>
                <button type="button" class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                  <a class="dropdown-item" href="javascript:;">Another action</a>
                  <a class="dropdown-item" href="javascript:;">Something else here</a>
                  <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                </div>
              </div>
            </div>
          </div>
          <!--end breadcrumb-->


          <!--start shop cart-->
          <section class="shop-page">
            <div class="shop-container">
              <div class="card shadow-sm border-0">
                <div class="card-body">
						<div class="shop-cart">
							<div class="row">
								<div class="col-12 col-xl-8">
									<div class="checkout-details">
										<div class="card border-0">
											<div class="card-body">
												<div class="steps steps-light">
													<a class="step-item active" href="{% url 'saas_cart:cart_detail' %}">
														<div class="step-progress"><span class="step-count">1</span>
														</div>
														<div class="step-label"><i class='bx bx-cart'></i></div>
													</a>
													<a class="step-item active current" href="{% url 'saas_orders:order_create' %}">
														<div class="step-progress"><span class="step-count">2</span>
														</div>
														<div class="step-label"><i class='bx bx-user-circle'></i></div>
													</a>
													<a class="step-item" href="#">
														<div class="step-progress"><span class="step-count">3</span>
														</div>
														<div class="step-label"><i class='bx bx-credit-card'></i></div>
													</a>
													<a class="step-item" href="#">
														<div class="step-progress"><span class="step-count">4</span>
														</div>
														<div class="step-label"><i class='bx bx-check-circle'></i></div>
													</a>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="d-flex align-items-center mb-3">
													<div class="">
														<img src="assets/images/avatars/06.png" width="80" alt="" class="rounded-circle p-1 shadow-sm">
													</div>
													<div class="ms-3">
														<h6 class="mb-0">{{ order.first_name  }} {{order.last_name }}</h6>
														<p class="mb-0">{{ order.email }} </p>
													</div>
												</div>
                        <hr>
												<div class="">
													<h2 class="h5 mb-0">Datos de Facturación</h2>
													<div class="my-3 border-bottom"></div>
<div class="form-body">
  <form action="." method="post" class="order-form row g-3">
    
    {% csrf_token %}
    
    <!-- RUC -->
    <div class="col-md-6">
      <label class="form-label" for="{{ form.ruc.id_for_label }}">R.U.C / C.I</label>
      {{ form.ruc }}
    </div>

    <!-- Razon Social -->
    <div class="col-md-6">
      <label class="form-label" for="{{ form.razon_social.id_for_label }}">Nombre de la Organización,Negocio o Marca</label>
      {{ form.razon_social }}
    </div>

    <!-- Sector -->
    <div class="col-md-6">
      <label class="form-label" for="{{ form.sector.id_for_label }}">Sector de Negocios</label>
      {{ form.sector }}
    </div>

    <!-- Teléfono -->
    <div class="col-md-6">
      <label class="form-label" for="{{ form.telefono.id_for_label }}">Número de Contacto</label>
      {{ form.telefono }}
    </div>


    <!-- Dirección de Facturación -->
    <div class="col-md-12">
      <h6 class="mb-0 h5">Términos y Condiciones de compra</h6>
      <div class="my-3 border-bottom"></div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" checked>
        <label class="form-check-label" for="gridCheck">He leido y acepto lo terminos y condiciones</label>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="col-md-6">
      <div class="d-grid">
        <a href="{% url 'saas_cart:cart_detail' %}" class="btn btn-light btn-ecomm"><i class='bx bx-chevron-left'></i>Back to Cart</a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-grid">
        <input type="submit" value="{% trans 'Place order' %}" class="btn btn-primary btn-ecomm">
      </div>
    </div>
  </form>
</div>

												</div>
											</div>
										</div>
									</div>
								</div>
<div class="col-12 col-xl-4">
  <div class="order-summary">
    <div class="card">
      <div class="card-body">
        <!-- Aplicar código de descuento -->

        <!-- Resumen de la orden -->
     <div class="card">
  <div class="card-body">
    <p class="fs-5">Detalle de Compra</p>
    <div class="my-3 border-top"></div>
    
    <!-- Mostrar cada producto en el carrito -->
    <ul class="list-unstyled">
      {% for item in cart %}
        <li class="d-flex align-items-center">

          <div class="ps-3">
            <h6 class="mb-1">{{ item.product.name }}</h6>
            <p>{{item.product.description }}</p>
            <div class="widget-product-meta">
            </div>
          </div>
        </li>
        <div class="my-3 border-top"></div>
      {% endfor %}
    </ul>

    <!-- Mostrar descuento si aplica -->
    {% if cart.coupon %}
      <div class="d-flex justify-content-between">
        <span>{{ cart.coupon.code }} ({{ cart.coupon.discount }}% off)</span>
        <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
      </div>
      <div class="my-3 border-top"></div>
    {% endif %}
    
    <!-- Totales -->
    <div class="d-flex justify-content-between">
      <span>Total</span>
      <span>${{ cart.get_total_price|floatformat:"2" }}</span>
    </div>

    {% if cart.coupon %}
      <div class="d-flex justify-content-between">
        <span>Discount</span>
        <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
      </div>
    {% endif %}
    <div class="my-3 border-top"></div>
    <div class="d-flex justify-content-between">
      <h5 class="mb-0">Total a pagar</h5>
      <span class="float-end">${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
    </div>
  </div>
</div>

      </div>
    </div>


  </div>
</div>

							</div>
							<!--end row-->
						</div>
					</div>
        </div>
      </div>
				</section>
				<!--end shop cart-->
             

          </div>
          <!-- end page content-->
         </div>

{% endblock %}



         
  <h1>{% trans "Checkout" %}</h1>

  <div class="order-info">
    <h3>{% trans "Your order" %}</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }} 
          <span>${{ item.total_price|floatformat:"2" }}</span>
        </li>
      {% endfor %}
      {% if cart.coupon %}
        <li>
          {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
            "{{ code }}" ({{ discount }}% off)
          {% endblocktrans %}
          <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
        </li>
      {% endif %}
    </ul>
    <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="{% trans "Realizar Orden" %}"></p>
    {% csrf_token %}
  </form>