{% load static %}
{% load qr_code %}
{% load humanize %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="{% static 'pdf.css' %}" media="print" rel="stylesheet">
    <title>SQ-INV021-0203{{ order.id }}</title>
    <meta name="description" content="Invoice demo sample">

    <style>
      .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .logo {
        width: 50%;
      }

      .company-info {
        width: 65%;
        text-align: right;
        margin-top: 20px;
      }

      hr {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid #ffffff;
        padding: 8px;
      }

      th {
        background-color: #b50f15;
      }

      footer {
        margin-top: 40px;
      }
    </style>
  </head>

  <body>
    <div class="header">
      <img src="{% static 'img/logoSQ_responsive.png' %}" class="logo" height="50px">
    </div>

    <dl id="informations">
      <dt># Proforma</dt>
      <dd>SQ-INV021-0203{{ order.id }}</dd>
      <dt>Fecha de orden</dt>
      <dd>{{ order.created|date:"F j, Y" }}</dd>
      <dt>Razón social</dt>
      <dd>SMARTQUAIL.S.A.S</dd>
      <dt>Registro fiscal</dt>
      <dd>1793206532001</dd>
    </dl>

<hr>
<h3><strong>Información de Cliente</strong></h3>
  <aside>
    <address id="to">
      Nombre:<strong>{{ order.first_name }} {{ order.last_name }}</strong><br>
      Razón Social:<strong>{{ order.razon_social }}</strong><br>
      Registro fiscal:  <strong>{{ order.ruc }}</strong><br>
      Correo Electrónico:<strong>{{ order.email }}</strong><br>
      Teléfono de Contacto<strong>{{ order.telefono }}</strong>

    </address>

    <address id="from">

        <img src="{{ qr_url }}" alt="QR de certificación">

    </address>
  </aside>

    {% for item in order.items.all %}
  <h3><strong>Software como Producto (SaaP)</strong></h3>
  <table>
    <thead>
      <tr>
        <th>Licencia</th>
        <th>(I+D)</th>

        {% if item.product.is_automatitation %}
          <th>(+A)</th>
        {% endif %}

        {% if item.product.is_intelligent %}
          <th>(+AI)</th>
        {% endif %}

        <th>Subtotal<sup>+(15% I.V.A)</sup></th>
      </tr>
    </thead>

    <tbody>
      <tr>

        <!-- Imagen -->
        <td>
          {% if item.product.image %}
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" height="19px">
          {% endif %}
        </td>

        <!-- I+D -->
        <td>
          ${{ item.product.total.amount|default_if_none:0|floatformat:2|intcomma }}
        </td>

        <!-- Automatización -->
        {% if item.product.is_automatitation %}
        <td>
          ${{ item.product.total_n8n.amount|default_if_none:0|floatformat:2|intcomma }}
        </td>
        {% endif %}

        <!-- IA -->
        {% if item.product.is_intelligent %}
        <td>
          ${{ item.product.total_ml.amount|default_if_none:0|floatformat:2|intcomma }}
        </td>
        {% endif %}

        <!-- SUBTOTAL CORRECTO -->
        {% for item in order.items.all %}
        <td>
          ${{ item.product.subtotal.amount|floatformat:2|intcomma}}
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

    {% endfor %}

{% for item in order.items.all %}
<div contract-note code>
  <p style ="text-align:justify;">
{% if item.product.name == 'SmartBusinessAnalytics' %}
    <strong>SmartBusinessAnalytics®</strong> es un software como producto (SaaP) desarrollado por SmartQuail Inc.,
     diseñado para la gestión integral de analítica empresarial. La plataforma permite el procesamiento,
     monitoreo y análisis de datos financieros y operativos en tiempo real,
     facilitando la toma de decisiones basada en información confiable.
     Incorpora estándares avanzados de seguridad, incluyendo mecanismos
      de protección contra accesos no autorizados y amenazas de ciberseguridad, garantizando la integridad,
       confidencialidad y disponibilidad de la información.
{% elif item.product.name == 'SmartBusinessMedia' %}
<strong>SmartBusinessMedia</strong> es un software como producto (SaaP) desarrollado por SmartQuail Inc.,
 diseñado para la gestión integral de analítica empresarial.
 La plataforma permite el procesamiento, monitoreo y análisis de datos financieros y operativos en tiempo real,
  facilitando la toma de decisiones basada en información confiable. Incorpora estándares avanzados de seguridad, incluyendo mecanismos de protección contra accesos no autorizados y amenazas de ciberseguridad, garantizando la integridad, confidencialidad y disponibilidad de la información.
{% elif item.product.name == 'SmartBusinessLaw' %}
<strong>SmartBusinessLaw</strong> es un software como producto (SaaP) desarrollado por SmartQuail Inc., diseñado para la gestión integral de analítica empresarial. La plataforma permite el procesamiento, monitoreo y análisis de datos financieros y operativos en tiempo real, facilitando la toma de decisiones basada en información confiable. Incorpora estándares avanzados de seguridad, incluyendo mecanismos de protección contra accesos no autorizados y amenazas de ciberseguridad, garantizando la integridad, confidencialidad y disponibilidad de la información.
{% endif %}

{% if item.product.is_reaserch  %}
<strong>El sistema incluye un componente de implementación personalizada (I+D)</strong> ,
mediante el cual se realiza la investigación, análisis y desarrollo de hasta cinco
 <strong>({{ item.product.numero_procesos|floatformat:0|intcomma  }}) procesos operativos o financieros críticos</strong>,
 ejecutados por profesionales especializados en cada área.
 El tiempo máximo estimado para esta implementación es de doce <strong>({{ item.product.tiempo_desarrollo|floatformat:0|intcomma  }}) horas</strong>, contadas a partir de la primera sesión de levantamiento de información con el cliente.
{% endif %}

{% if item.product.is_automatitation  %}
Adicionalmente, <strong>integra un módulo de automatización (+A) orientado a la optimización de procesos</strong>
 mediante el {{ item.product.automatizacion }},
 <strong>abarcando hasta dos ({{ item.product.numero_procesos|floatformat:0|intcomma  }}) procesos operativos</strong>, financieros o administrativos.
 El tiempo máximo de entrega para esta implementación es de <strong>diez ({{ item.product.tiempo_implementacion_a|floatformat:0|intcomma  }}) horas</strong>.
 {% endif %}

{% if item.product.is_intelligent  %}
Finalmente, el sistema incorpora un componente de <strong>inteligencia artificial (+AI)</strong>
enfocado en la predicción y análisis de patrones en procesos de información operativa.
Este módulo permite generar proyecciones y apoyar la toma de decisiones estratégicas mediante {{ item.product.inteligencia_artificial }} , con un tiempo estimado de implementación de <strong>cinco ({{ item.product.tiempo_implementacion_ai|floatformat:0|intcomma  }}) horas.</strong></p>
</div>
{% endif %}
{% endfor %}

  <h3><strong>Recursos dedicados de Nube</strong></h3>

{% for item in order.items.all %}
  <table>

    <thead style="background-color:#4d4d4d;">
      <tr>
        <th>CPU: {{ item.product.cpu|default:0|floatformat:0|intcomma }} Core</th>
        <th>SSD: {{ item.product.almacenamiento|default:0|floatformat:0|intcomma }} GB</th>
        <th>RAM: {{ item.product.memoria|default:0|floatformat:0|intcomma }} GB</th>
        <th>LB: {{ item.product.ancho_banda|default:0|floatformat:0|intcomma }} Kb/Sec</th>

        {% if item.product.is_gpu %}
          <th>GPU: {{ item.product.gpu|default:"-" }}</th>
        {% endif %}

        <th>Subtotal</th>
          <th>total</th>
      </tr>
    </thead>

    <tbody>
      <tr>

        <!-- CPU -->
        <td>
          ${{ item.product.costo_cpu_mes.amount|default_if_none:0|floatformat:2|intcomma }}/mes
        </td>

        <!-- Storage -->
        <td>
          ${{ item.product.costo_bucket_mes.amount|default_if_none:0|floatformat:2|intcomma }}/mes
        </td>

        <!-- RAM -->
        <td>
          ${{ item.product.costo_memory_mes.amount|default_if_none:0|floatformat:2|intcomma }}/mes
        </td>

        <!-- Load Balancer -->
        <td>
          ${{ item.product.costo_balanceador_mes.amount|default_if_none:0|floatformat:2|intcomma }}/mes
        </td>

        <!-- GPU -->
        {% if item.product.is_gpu %}
        <td>
          ${{ item.product.costo_gpu_mes.amount|default_if_none:0|floatformat:2|intcomma }}/mes
        </td>
        {% endif %}

        <td>
          ${{ item.product.total_nube.amount|default_if_none:0|floatformat:2|intcomma }}/mes
        </td>

        <!-- Subtotal Nube -->
        <td>
          ${{ item.product.total_nube_iva.amount|default_if_none:0|floatformat:2|intcomma }}/mes
        </td>

      </tr>
    </tbody>

  </table>
{% endfor %}

{% for item in order.items.all %}
  <div contract-note class="code">
    <p style="text-align:justify;">
      <strong>El uso de recursos de computación en la nube es obligatorio</strong> para el despliegue de
      los aplicativos y plataformas desarrollados por SmartQuail Inc.
       Esta infraestructura permite desarrollar, implementar y escalar soluciones en tiempo real,
        garantizando alta disponibilidad y rendimiento.
        Los recursos son provisionados bajo un esquema de alquiler mensual, ajustado a las necesidades específicas del sistema de información contratado y dimensionado de forma precisa para acompañar el crecimiento del proyecto.

Para este proyecto, la configuración de recursos computacionales incluye: <strong>{{ item.product.cpu|default:0|floatformat:0|intcomma }} core de capacidad de procesamiento (CPU) basada en un procesador AMD de 8 hilos </strong>, {{ item.product.memoria }} GB de memoria RAM, almacenamiento en bucket de {{ item.product.almacenamiento }} GB, y un balanceador de carga con un rendimiento máximo garantizado de {{ item.product.ancho_banda }} KB/s.
{% if item.pduct.is_gpu  %}
Adicionalmente se incorpora una unidad de procesamiento gráfico (GPU) de <strong> {{ item.product.gpu }} NVIDIA</strong>, destinada al procesamiento de datos, ejecución de redes neuronales y soporte a procesos de inteligencia artificial orientados a investigación y desarrollo.</p>
 {% endif %}
    <hr>
  </div>
{% endfor %}

    <h3>Términos y condiciones</h3>
  <div contract-note class="code" style="background-color:#E5E1E1;">

    <p style="font-size:6pt; text-align:justify;"><strong>La presente proforma tiene una validez de quince (15) días calendario a partir de la fecha de creación de la orden. Transcurrido este período sin haberse efectuado el pago correspondiente, SmartQuail Inc. se reserva el derecho de actualizar, modificar o cancelar la propuesta económica.

El aprovisionamiento de recursos en la nube, así como la configuración, dimensionamiento y despliegue de los aplicativos y plataformas, se realizará únicamente una vez confirmado el pago total de la presente proforma. Posteriormente, en un plazo de pocas horas, uno de nuestros profesionales se pondrá en contacto con el cliente para iniciar el proceso de levantamiento de información, investigación, desarrollo, implementación y despliegue en ambiente de producción.

Los tiempos estimados de desarrollo e implementación corresponden a dieciséis (16) horas efectivas de trabajo. No obstante, estos plazos podrán variar en función de la disponibilidad del cliente, la entrega oportuna de información requerida y la complejidad específica del proyecto.<br>
SmartQuail Inc. se reserva el derecho de rechazar, suspender o cancelar la prestación del servicio en caso de que el sistema de información solicitado esté destinado a actividades que contravengan los derechos humanos, las libertades fundamentales o la legislación vigente aplicable; en tales casos, se notificará de manera inmediata al cliente, se gestionará la devolución de los valores pagados y se formalizará la cancelación del pedido de software. Asimismo, SmartQuail Inc. se reserva el derecho de admisión y prestación de servicios conforme a sus políticas internas, estándares éticos, criterios técnicos y lineamientos operativos, incluyendo la facultad de evaluar la viabilidad del proyecto, la naturaleza del uso del sistema y el cumplimiento de buenas prácticas tecnológicas y legales, pudiendo rechazar o discontinuar servicios cuando estos no se alineen con dichos principios. </strong></p>

    </div>

    <footer>
      <table id="total">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Descuento ({{ order.discount|default:"0" }} %)</th>
            <th>Valor IVA</th>
              <th>Total a Pagar</th>
              <th>Tiempo para Entrega</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tbody>
              <tr>
                <td>{{ order.coupon|default:"-" }}</td>

                <!-- % descuento -->
                <td>${{ order.get_discount_value.amount|floatformat:2|intcomma }}</td>

                <td>${{ order.get_total_iva.amount|floatformat:2|intcomma }}</td>

                  <td>${{ order.get_total_with_discount.amount|floatformat:2|intcomma }}</td>

              {% for item in order.items.all %}
            <td>{{ item.product.total_tiempo |default_if_none:0|floatformat:0|intcomma }} Hs</td>
            {% endfor %}
              </tr>
            </tbody>

          </tr>
        </tbody>
      </table>
    </footer>
  </body>
</html>
