{% extends "base_dash_parther.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="page-content-wrapper">
  <div class="page-content">

    <!-- ================= BREADCRUMB ================= -->


    <hr class="my-4">

    <!-- ================= CARD ================= -->
    <div class="card radius-10">

      <div class="card-body">

        <div class="row">

          <!-- ================= FORMULARIO ================= -->
          <div class="col-xl-12 d-flex">

            <div class="card radius-10 w-100 border-0 shadow-sm">

              <!-- HEADER -->
              <div 
                class="card-body text-white"
                style="background-color: rgb(46,46,46); border-radius: 20px 20px 0 0;"
              >

                <h5 class="mb-2 text-warning">
                    <ion-icon name="id-card-outline"></ion-icon> Aplicar Convenio
                </h5>

                <p class="mb-0 text-light">
                  En SmartQuail,Inc
                  consideramos a nuestros clientes, aliados y socios estratégicos en un entorno digital cada vez más dinámico y evolutivo. Por ello, promovemos convenios estratégicos que permitan a nuestros socios empresariales potenciar el valor de sus datos y fortalecer su crecimiento junto a nuestra comunidad tecnológica.
                </p>
                <p>
                  Creemos que los sistemas de información no son únicamente software en la nube, sino activos estratégicos para las organizaciones, capaces de generar un retorno de inversión (ROI) sostenible que impulse la innovación, la eficiencia y el crecimiento empresarial.
                 
                  Por esta razón, le invitamos  a completar el siguiente formulario y solicitar la revisión de convenio. Uno de nuestros administradores de proyectos
                   se pondrá en contacto con usted en las próximas horas para brindar el acompañamiento correspondiente.
                </p>

              </div>

              <!-- BODY -->
              <div class="card-body">
<h2>Solicitud de Convenio</h2>
                <form method="post">

                  {% csrf_token %}

                  <!-- INGRESOS -->
                  <div class="mb-4">



                    {{ form.ingresos_anuales|add_class:"form-control" }}

                    {% if form.ingresos_anuales.errors %}
                      <div class="text-danger small mt-1">
                        {{ form.ingresos_anuales.errors }}
                      </div>
                    {% endif %}

                  </div>

                  <!-- PRESUPUESTO -->
                  <div class="mb-4">



                    {{ form.presupuesto_real|add_class:"form-control" }}

                    {% if form.presupuesto_real.errors %}
                      <div class="text-danger small mt-1">
                        {{ form.presupuesto_real.errors }}
                      </div>
                    {% endif %}

                  </div>

                  <!-- VALOR AGREGADO -->
                  <div class="mb-4">


                    {{ form.descripcion_valor_agregado|add_class:"form-control" }}

                    {% if form.descripcion_valor_agregado.errors %}
                      <div class="text-danger small mt-1">
                        {{ form.descripcion_valor_agregado.errors }}
                      </div>
                    {% endif %}

                  </div>

                  <div class="mb-4">
                    

                    {{ form.credito|add_class:"form-control" }}

                    {% if form.credito.errors %}
                      <div class="text-danger small mt-1">
                        {{ form.credito.errors }}
                      </div>
                    {% endif %}

                  </div>

                  <!-- BOTÓN -->
                  <div class="d-grid">

                    <button type="submit" class="btn btn-warning radius-10">

                      <ion-icon name="document-text-outline"></ion-icon>
                      Enviar a revisión 

                    </button>

                  </div>

                </form>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}