{% extends "saas_shop/base3.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
  estsad
{% endblock %}

{% block content %}

<div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content" style="padding: 0.5rem;">




<div class="product-more-info mt-4">
  <ul class="nav nav-pills mb-2 text-success rounded bg-light-success" id="custom-tabs" role="tablistt">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-description" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
        <div class="d-flex align-items-center">
          <div class="tab-title text-uppercase fw-500">Fin TechS</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-more-info" data-bs-toggle="tab" href="#more-info" role="tab" aria-controls="more-info" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-title text-uppercase fw-500">Social Techs</div>
        </div>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-tags" data-bs-toggle="tab" href="#tags" role="tab" aria-controls="tags" aria-selected="false">
        <div class="d-flex align-items-center">
          <div class="tab-title text-uppercase fw-500">Legal Techs</div>
        </div>
      </a>
    </li>
  </ul>

  <div class="tab-content pt-3">

    {% include 'saas_shop/product/sba_list.html' %}

    {% include 'saas_shop/product/sbm_list.html' %}

    {% include 'saas_shop/product/sbl_list.html' %}
  
  </div>
  
</div>


      </div>
    </div>

     

{% endblock %}

