{% load i18n %}
{% load static %}

<div class="tab-pane fade" id="more-info" role="tabpanel" aria-labelledby="tab-more-info">

    <div class="card" style="background-color: #2e2e2e;">

      <div class="card-body p-0" style="background-color: #2e2e2e;">
        {% for c in categories %}
          
        
        {% if c.slug == "business-media" and c.tamano_empresa == tamano_empresa %}
            {% if c.products.all %}
              <div id="carouselSmartAnalytics" class="carousel slide" data-bs-ride="carousel">
      
                <div class="carousel-inner">
    
                  {% for product in c.products.all %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  
                    <!-- 🔥 LINK ENVUELVE TODO (CLICK EN IMAGEN FUNCIONA SIEMPRE) -->
                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-white d-block">
                
                      <!-- DESKTOP -->
                      <div class="position-relative d-none d-md-block"
                        style="height: 925px; background-image: url('{% if product.image_1 %}{{ product.image_2.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}'); background-size: cover; background-position: center;">
                
                        <div class="position-absolute bottom-0 start-0 w-100 p-4 bg-dark bg-opacity-50">
                
                          <h2 class="text-warning" style="font-size: 16px;">
                            {{ product.name }}- 
      
                          
                              <strong>Disponibilidad:</strong> 
                              {% if product.usuarios_simultaneos == '100' %}10–50 usuarios maximos, ROI del 75%
                              {% elif product.usuarios_simultaneos == '300' %} 50–150 usuarios maximos, ROI del 85%
                              {% elif product.usuarios_simultaneos == '500' %150–500 usuarios maximos,ROI del 95%
                              {% elif product.usuarios_simultaneos == '800' %}500–1000 usuarios maximos,ROI del 95%
                              {% elif product.usuarios_simultaneos == '1K' %}1000–5000 usuarios maximos,ROI del 100%
                              {% elif product.usuarios_simultaneos == '+5K' %}Alta disponibilidad (>5000 usuarios simultáneos)
                              {% endif %}
                    
                          </h2>
      
      
                
                        </div>
                        
                      </div>
                    </a>
                
                    <div class="position-relative d-block d-md-none"
                    style="height: 420px; background-image: url('{% if product.image_2_2 %}{{ product.image_2_2.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}'); background-size: cover; background-position: center;">
            
                    <div class="position-absolute bottom-0 start-0 w-100 p-3 bg-dark bg-opacity-50">
            
                      <h2 style="color:#fff; font-size: 14px;">
                      {{ product.name }}
                      </h2>
            
                      <p class="text-warning mb-1">
                        Inversión: ${{ product.price_amount }}
                      </p>
            
                    </div>
                  </div>
            
                    
      
      
                
                  </div>
                  {% endfor %}
                
                </div>
               
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSmartAnalytics" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">{% trans "Previous" %}</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselSmartAnalytics" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">{% trans "Next" %}</span>
                </button>
              </div>
            {% else %}
              <p class="ps-3 pb-3">{% trans "No products available in this category." %}</p>
            {% endif %}
            {% endif %}
    
    

    
    
        {% endfor %}
    
    
        
    
      </div>
    </div>


  </div>