/* Fuentes */
@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url(PierSans-Regular.otf);
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 400;
  src: url(PierSans-Italic.otf);
}
@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url(PierSans-Light.otf);
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url(PierSans-Medium.otf);
}
@font-face {
  font-family: Fira Sans;
  font-weight: 700;
  src: url(PierSans-Bold.ttf);
}

/* Definición de la estructura de las páginas */
@page {
  @top-left {
    background: #fbc847;
    content: counter(page);
    height: 1cm;
    text-align: center;
    width: 1cm;
  }
  @top-center {
    background: #fbc847;
    content: '';
    display: block;
    height: .05cm;
    opacity: .5;
    width: 100%;
  }
  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}
@page :blank {
  @top-left { background: none; content: '' }
  @top-center { content: none }
  @top-right { content: none }
}
@page :first {
  background: url(plataform.png) no-repeat center;
  background-size: cover;
  margin: 0;
}
@page chapter {
  background: #fbc847;
  margin: 0;
  @top-left { content: none }
  @top-center { content: none }
  @top-right { content: none }
}

/* Estilo general de la página */
html {
  color: #393939;
  font-family: Fira Sans;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
}
body {
  margin: 0;
}

/* Títulos y subtítulos */
h1 {
  color: #fbc847;
  font-size: 28pt;
  margin: 5cm 2cm 0 2cm;
  page: no-chapter;
  width: 100%;
}
h2, h3, h4 {
  color: rgb(252, 251, 251);
  font-weight: 400;
   margin: 2cm 2cm 0 2cm;
}
h2 {
  break-before: always;
  font-size: 28pt;
  string-set: heading content();
}
h3 {
  font-weight: 300;
  font-size: 15pt;
}
h4 {
  font-size: 13pt;
}

p {
  color: #d4d3d0;
  font-size: 18pt;
  margin: 5cm 2cm 0 2cm;
  page: no-chapter;
  width: 100%;
}



/* Configuración del disclaimer */
#disclaimer {
  display: none; /* No mostrar en todas las páginas por defecto */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
  border-top: 2px solid #fbc847;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  padding: 1cm;
  text-align: center;
  font-size: 5pt;
  font-weight: 300;
}



/* Contenido del ebook (Ejemplos de capítulos y secciones) */
#cover {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 297mm;
}
#cover address {
  background: #fbc847;
  flex: 1 50%;
  margin: 0 -2cm;
  padding: 1cm 0;
  white-space: pre-wrap;
}
#cover address:first-of-type {
  padding-left: 3cm;
}
#contents {
  break-before: right;
  break-after: left;
  page: no-chapter;
}
#contents h2 {
  font-size: 20pt;
  font-weight: 400;
  margin-bottom: 3cm;
}
#contents h3 {
  font-weight: 500;
  margin: 3em 0 1em;
}
#contents h3::before {
  background: #fbc847;
  content: '';
  display: block;
  height: .08cm;
  margin-bottom: .25cm;
  width: 2cm;
}
#contents ul {
  list-style: none;
  padding-left: 0;
}
#contents ul li {
  border-top: .25pt solid #c1c1c1;
  margin: .25cm 0;
  padding-top: .25cm;
}
#contents ul li::before {
  color: #fbc847;
  content: '• ';
  font-size: 40pt;
  line-height: 16pt;
  vertical-align: bottom;
}
#contents ul li a {
  color: inherit;
  text-decoration-line: inherit;
}
#contents ul li a::before {
  content: target-text(attr(href));
}
#contents ul li a::after {
  color: #fbc847;
  content: target-counter(attr(href), page);
  float: right;
}

/* Ejemplo de columnas */
#columns section {
  columns: 2;
  column-gap: 1cm;
  padding-top: 1cm;
}
#columns section p {
  text-align: justify;
}
#columns section p:first-of-type {
  font-weight: 700;
}
