@font-face {
  font-family: Pier;
  src: url(PierSans-Black.otf);
}
@font-face {
  font-family: Pier Sans Pro;
  font-weight: 400;
  src: url(PierSans-Regular.otf);
}
@font-face {
  font-family: Pier Sans Pro;
  font-weight: 700;
  src: url(PierSans-Light.otf);
}

@page {
  font-family: Pier;
  margin: 2cm;
  @bottom-left {
    color: rgb(170, 153, 153) ;
    content: 'SmartQuail, Inc ® All rights Reserverd';
  }
  @bottom-right {
    color: rgb(170, 153, 153);
    content: '(+593) 096-3521-262 | https://ec.smartquail.io';
    font-size: 9pt;
  }
}

html {
  color: #000000;
  font-family: 'Pier Sans Pro', sans-serif;
  font-size: 8pt;
  line-height: 1;
}
body {
  margin: 0;
}

h1 {
  color: #1ee494;
  font-family: Pacifico;
  font-size: 20pt;
  margin: 0;
}

h2, h3, h4 {
  font-family: 'Pier Sans Pro', sans-serif;
  font-weight: 500;
  margin: 1em 0 0.5em;
  color: #14213d;
}

aside {
  display: flex;
  justify-content: space-between; /* empuja a los extremos */
  margin: 1.5em 1em 1.5em;
  background-color: #E5E1E1;
  height: 80px;
}

aside address {
  font-style: normal;
  font-size: 9pt;
  line-height: 1.2;
}

aside address#from {
  text-align: right;  /* izquierda */
  color: #a9a;
}

aside address#to {
  text-align: left; /* derecha */
}

/* Datos generales */
dl {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
dt, dd {
  display: inline;
  margin: 0;
}
dt {
  color: #a9a;
}
dt::before {
  content: '';
  display: block;
}
dt::after {
  content: ':';
}

/* Tabla principal */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0.5cm;
}
th {
  border-bottom: 0.2mm solid #a9a;
  color: #ffff;
  font-size: 9pt;
  font-weight: 400;
  padding-bottom: 0.25cm;
  text-transform: uppercase;
}
td {
  padding-top: 7mm;
  background-color: #E5E1E1;
}
td:last-of-type {
  color: #b50f15;
  font-weight: bold;
  text-align: right;
}
th, td {
  text-align: center;
}
th:first-of-type, td:first-of-type {
  text-align: left;
}
th:last-of-type, td:last-of-type {
  text-align: right;
}

/* Tabla de totales */
table#total {
  background: #4d4d4d;
  border-color: #4d4d4d;
  border-style: solid;
  border-width: 2cm 3cm;
  bottom: 0;
  font-size: 10pt;
  margin: 0 0cm;
  position: absolute;
  width: 18cm;
}
table#total td {
  padding: 0.2cm 0;
  font-weight: 700;
  font-size: 10pt;
  color: #d81806;
}
table#total td:last-child {
  text-align: right;
  color: #4d4d4d;
}

/* Estados de orden */
.paid, .pending {
  display: inline-block;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 11pt;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 20px;
  float: right;
  transform: rotate(-4deg);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.paid {
  color: #d93025;
  border-color: #d93025;
  background-color: #eaf8ed;
}

.pending {
  color: #d93025;
  border-color: #d93025;
  background-color: #fce8e6;
}

/* BLOQUE DE NOTA DE VALIDACIÓN */
.contract-note {
  margin-top: 1mm;
  padding: 4mm 6mm;
  background-color: #f6f6f4; /* color amarillo suave para alerta */
  border-left: 4px solid #6c6c6b; /* barra lateral amarilla */
  font-family: "soon", sans-serif;
  font-size: 8pt;
  line-height: 11pt;
  color: #000000;
  text-align: justify;
  border-radius: 5px;

}

.contract-note code {
  font-family: "soon", monospace;
  background-color: #f1f1f1;
  padding: 1px 3px;
  border-radius: 3px;
  text-align: justify;
}

.contract-note code .p {
  font-size: 5pt;
  text-align: justify;
}


footer {
  content: '';
  display: block;
  height: 2cm;
}
