{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}



  <!--=== About Us Start ======-->
   <!--=== Parallax Start ======-->
  <section class="pt-0 pb-0" id="home">
    <div class="full-screen-bg" style="background: url('http://www.incognitothemes.com/scoda/assets/images/slides/home-bg-34.jpg')no-repeat center center / cover">
      <div class="hero-text-wrap app-gradient-overlay">
        <div class="hero-text white-color hero-text-sm">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-6 pt-120 pb-100 col-sm-6">
                <h2 class="white-color wow fadeInUp font-100" data-wow-delay="0.1s"><span class="font-700">Showcase</span> your App in <span class="font-700">easy way</span></h2>
                <p class="white-color mt-30 wow fadeInUp lead" data-wow-delay="0.3s">Started as early as internet we are the leading business analytics solutions agency serving the digital empire from the last two decades.</p>
                <p class="text-left mt-30 wow fadeInUp app-btns" data-wow-delay="0.4s"><a class="btn btn-white btn-circle">Buy Template</a></p>
              </div>
              <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 mt-80">
                <div class="i-phones">
                  <img class="img-responsive wow fadeInRight" data-wow-delay="0.1s" src="http://www.incognitothemes.com/scoda/assets/images/slides/iPhone-01.png" alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--=== Parallax End ======-->
  <!--=== About Us End ======-->