{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load humanize %}
{% load static %}
 
 
 <!--=== Counter Start ===-->
  <section class="dark-bg pt-80 pb-80">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.1s">
          <h2 class="white-color font-700">ISO 9001</h2>
          <h3>{% trans 'Gestión IT de calidad' %}</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.2s">
          <h2 class="white-color font-700">ISO/IEC 27001</h2>
          <h3>{% trans 'Gestión IT de seguridad' %}</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.3s">
          <h2 class="white-color font-700">ISO/IEC 25000</h2>
          <h3>{% trans 'Calidad  IT de datos y software' %}</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.4s">
          <h2 class="white-color font-700">LOPDP</h2>
          <h3>{% trans 'Gobernanza IT' %}</h3>
          <p> Ley Organica de Protección de Datos Personales </p>
        </div>
      </div>
    </div>
  </section>
  <!--=== Counter End ===-->