{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load humanize %}
{% load static %}
 
 
 <!--=== Counter Start ===-->
  <section class="dark-bg pt-80 pb-80">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.1s">
          <h2 class="count white-color font-700">ISO/IEC 20000-1</h2>
          <h3>{% trans 'Administración de Servicios IT' %}</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.2s">
          <h2 class="count white-color font-700">ISO/IEC 27001</h2>
          <h3>{% trans 'Gestión de Seguridad IT' %}</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.3s">
          <h2 class="count white-color font-700">ISO/IEC-COBIT 38500</h2>
          <h3>{% trans 'Gobernanza IT' %}</h3>
        </div>
        <div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.4s">
          <h2 class="count white-color font-700">ISO/IEC 12207</h2>
          <h3>{% trans 'Calidad de Software IT' %}</h3>
        </div>
      </div>
    </div>
  </section>
  <!--=== Counter End ===-->