{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

  
  
  <!--=== Footer Start ===-->
  <footer class="footer" id="footer-fixed">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-text">
              <div class="logo logo-footer"><a href="{% slugurl 'home' %}"> <img class="logo logo-display"  src="{% static 'img/BA-LOGOS/logo_smartquailred.png' %}" alt="logo" ></a> </div>
              <p style="line-height: 20px;">
                {% trans 'SmartQuail,Inc es una empresa líder en el desarrollo de soluciones de Tecnologías de la Información y Comunicación (TIC) en la nube, con el objetivo de democratizar el acceso a los sistemas de información a nivel global.' %}
              </p>
              <p style="line-height: 20px;">
              A través de nuestras soluciones innovadoras y accesibles, trabajamos para garantizar que las tecnologías más avanzadas sean aprovechadas por organizaciones de todos los tamaños y sectores.
            </p>
            <p style="line-height: 20px;">
              Be Smart, Be a Smart Quail.
            </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
      
              <h5 class="widget-title">{% trans 'Software as a Product (SaaP)' %}</h5>
              <ul>
                <li><a href="{% url 'sbashop:product_list' %}">SmartBusinessAnalytics<sup>(I+D)</sup></a></li>
                <li><a href="{% url 'sbmshop:product_list' %}">SmartBusinessMedia<sup>(I+D)</sup></a></li>
                <li><a href="{% url 'sblshop:product_list' %}">SmartBusinessLaw<sup>(I+D)</sup></a></li>
            </ul>

            <h5 class="widget-title">{% trans 'Platform as a Product (PaaP)' %}</h5>

            <ul>
              <li><a href="{% url 'sbpshop:product_list' %}">SmartBusinessPlatforms<sup>(I+D)</sup></a></li>
          </ul>


          <h5 class="widget-title">{% trans 'Infrastructure as Product (IaaP)' %}</h5>

          <ul>
            <li><a href="{% url 'sbtshop:product_list' %}">SmartBusinessTechnologies<sup>(I+D)</sup></a></li>
        </ul>




            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
      
              <h5 class="widget-title">{% trans 'ITC Solutions' %}</h5>
              <ul>
                <li><a href="{% slugurl 'data_center' %}">{% trans 'Data Centers' %}</a></li>
                <li><a href="{% slugurl 'cloud_computing' %}">{% trans 'Cloud Computing' %}</a></li>
                <li><a href="{% slugurl 'virtual_machine' %}">{% trans 'Virtual Machine Platform' %}</a></li>
                <li><a href="{% slugurl 'blockchain' %}">{% trans 'Block Chain' %}</a></li>
                <li><a href="{% slugurl 'cibersecurity' %}">{% trans 'Cibersecurity' %}</a></li>
                <li><a href="{% slugurl 'monitoring' %}">{% trans 'Monitoring' %}</a></li>
                <li><a href="{% slugurl 'business_mailing' %}">{% trans 'Business Mailing' %}</a></li>
                <li><a href="{% slugurl 'ai_infraestructure' %}">{% trans 'AI infraestructure' %}</a></li>
            </ul>

            <h5 class="widget-title">{% trans 'Dev-Sec-Ops' %}</h5>

            <ul>
              <li><a href="{% slugurl 'id' %}">{% trans 'Reseach & Develop (I+D)' %}</a></li>
              <li><a href="{% slugurl 'ida' %}">{% trans 'Automatation (+A)' %}</a></li>
              <li><a href="{% slugurl 'ida-ai' %}">{% trans 'Artifical Inteligent (+AI)' %}</a></li>
          </ul>

       
            </div>
          </div>

          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
      
              <h5 class="widget-title">{% trans 'Jobs' %}</h5>
              <ul>
                <li><a href="{% slugurl 'bedja' %}?category=django-developer-junior">{% trans 'Developers' %}</a></li>
                <li><a href="{% slugurl 'pmaja' %}?category=django-developer-senior">{% trans 'Managers' %}</a></li>

            </ul>



            <h5 class="widget-title">{% trans 'About Us' %}</h5>

            <ul>
              <li><a href="{% slugurl 'cot' %}">{% trans 'Chief Officer Tecnologies' %}</a></li>
              <li><a href="{% slugurl 'pms' %}">{% trans 'Project Mananger' %}</a></li>
              <li><a href="{% slugurl 'sds' %}">{% trans ' Senior Developer' %}</a></li>
          </ul>

          <h5 class="widget-title">{% trans 'Policies and Certifications' %}</h5>

          <ul>
            <li><a href="{% slugurl 'iso' %}">{% trans 'ISO/IEC 27000' %}</a></li>
            <li><a href="{% slugurl 'lodp' %}">{% trans 'LOPDP' %}</a></li>
        </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
      
              <h5 class="widget-title">{% trans 'Communities' %}</h5>
              <ul>
                <li><a href="{% url 'usuarios:login' %}" >{% trans 'Negocios ITC Ecuador' %}</a></li>
                <li><a href="{% slugurl 'open_source' %}">{% trans 'OpenSource' %}</a></li>
                <li><a href="{% slugurl 'linux' %}">{% trans 'Linux Community' %}</a></li>
                <li><a href="{% slugurl 'python' %}">{% trans 'Python Community' %}</a></li>
                

            </ul>



            <h5 class="widget-title">{% trans 'Contact us' %}</h5>

            <ul>
              <li> <a href="https://api.whatsapp.com/send?phone=593963521262">
                <i class="icofont icofont-whatsapp"></i></a> 
                <a href="mailto:info@mail.smartquail.io"> <i class="icofont icofont-mail"></i></a>
                {% if settings.webapp.SocialMediaSettings.facebook %}
                <a href="{{ settings.webapp.SocialMediaSettings.facebook}}"><i class="icofont icofont-facebook"></i></a> 
                {% endif %}
                {% if settings.webapp.SocialMediaSettings.twitter %}
                <a href="{{ settings.webapp.SocialMediaSettings.twitter }}"><i class="icofont icofont-twitter"></i></a> 
                {% endif %}
                {% if settings.webapp.SocialMediaSettings.linkedin %}
                <a href="{{ settings.webapp.SocialMediaSettings.linkedin}}"><i class="icofont icofont-linkedin"></i></a> 
                {% endif %}
                {% if settings.webapp.SocialMediaSettings.instagram %}
                <a href="{{ settings.webapp.SocialMediaSettings.instagram  }}"><i class="icofont icofont-instagram "></i></a> </li>
                {% endif %}   
              
              </li>

              <li>
                SMARTQUAIL.S.A.S - Ecuador <br>
              </li>

          </ul>

            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li><img src="{% static 'img/BA-LOGOS/powered.png' %}" width="125px"></li>
              {% if settings.webapp.SocialMediaSettings.facebook %}
              <li> <a href="{{ settings.webapp.SocialMediaSettings.facebook}}"><i class="icofont icofont-facebook"></i></a> </li>
              {% endif %}
              {% if settings.webapp.SocialMediaSettings.twitter %}
              <li> <a href="{{ settings.webapp.SocialMediaSettings.twitter }}"><i class="icofont icofont-twitter"></i></a> </li>
              {% endif %}
              {% if settings.webapp.SocialMediaSettings.linkedin %}
              <li> <a href="{{ settings.webapp.SocialMediaSettings.linkedin}}"><i class="icofont icofont-linkedin"></i></a> </li>
              {% endif %}
              {% if settings.webapp.SocialMediaSettings.youtube %}
              <li> <a href="{{ settings.webapp.SocialMediaSettings.youtube }}"><i class="icofont icofont-youtube"></i></a> </li>
              {% endif %}
              {% if settings.webapp.SocialMediaSettings.instagram %}
              <li> <a href="{{ settings.webapp.SocialMediaSettings.instagram  }}"><i class="icofont icofont-instagram "></i></a>
              {% endif %}
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-right">2026 SmartQuail.S.A.S - ©  All rights reserved, Ecuador</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--=== Footer End ===-->