{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}





  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">





        <!--=== Start Top Search ===-->


    <div class="container">
<div class="attr-nav">
  <ul>
<li>
  <div class="logo"> 
    <a href="{% url 'usuarios:login' %}"> 
      <img class="logo logo-display" src="{% static 'web_assets/images/white_quail.png'  %}" alt="">
    <img class="logo logo-scrolled"  src="{% static 'web_assets/images/gray_quail.png'  %}" alt="" > </a> 
  </div>
</li>


  </ul>
</div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="icofont icofont-navigation-menu"></i> </button>
        <div class="logo"> 
          <a href="{% slugurl 'smartquail' %}"> 
            <img class="logo logo-display" src="{% static 'web_assets/images/smartquail_isologo_white.png' %}" alt="">
          <img class="logo logo-scrolled"  src="{% static 'web_assets/images/smartquail_logo_gray.png' %}" alt="" height="100px"> </a> 
        </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'smartquail' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Ecosistemas' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                  <h6 class="title">
                     <i class="icofont icofont-ui-social-link default-icon"></i>
                    SmartBusinessMedia<sup>®</sup></h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbmshop:product_list' %}#SmartBusinessMedia"><i class="icofont icofont-key font-5px default-icon"></i> {% trans 'Publicidad y marketing digital (CRM) '%}</a></li>
                        <li><a href="{% slugurl 'crm_id' %}"><i class="icofont icofont-laboratory font-5px default-icon"></i> {% trans 'Investigación y Desarrollo: Core '%}</a></li>
                        <li><a href="{% slugurl 'crm_a' %}"><i class="icofont icofont-robot-face font-5px default-icon"></i> {% trans 'Automaización: Sinthex'%}</a></li>
                        <li><a href="{% slugurl 'crm_ai' %}"> <i class="icofont icofont-brain-alt font-5px default-icon"></i>  {% trans 'Agentes de IA: Agentic'%}</a></li>
              

                      </ul>
                    </div>
                  </div>

                                    <div class="col-menu col-md-3">
                     <h6 class="title">
                       <i class="icofont icofont-chart-flow default-icon"></i>
                      SmartBusinessAnalytics<sup>®</sup> </h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbashop:product_list' %}#SmartBusinessAnalytics"><i class="icofont icofont-key font-5px default-icon"></i> {% trans 'Optimización y Análisis financiero: (EAP)'%}</a></li>

                        <li><a href="{% slugurl 'eap_id' %}"><i class="icofont icofont-laboratory font-5px default-icon"></i> {% trans 'Investigación y Desarrollo: Core'%}</a></li>
                        <li><a href="{% slugurl 'eap_a' %}"><i class="icofont icofont-robot-face font-5px default-icon"></i> {% trans 'Automaización: Synthex'%}</a></li>
                        <li><a href="{% slugurl 'eap_ai' %}"> <i class="icofont icofont-brain-alt font-5px default-icon"></i>  {% trans 'Agentes de IA: Agentic'%}</a></li>

                      

                      </ul>
                    </div>
                  </div>


                  <!--=== end col-3 ===-->
                  <div class="col-menu col-md-3">
                    <h6 class="title">
                       <i class="icofont icofont-law default-icon"></i>
                      SmartBusinessLaw<sup>®</sup></h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sblshop:product_list' %}#smartbusinesslaw"><i class="icofont icofont-key font-5px default-icon"></i> {% trans 'Gobernanza administrativa y legal: (ELP)'%}</a></li>

                        <li><a href="{% slugurl 'elp_id' %}"><i class="icofont icofont-laboratory font-5px default-icon"></i> {% trans 'Investigación y Desarrollo: Core'%}</a></li>
                        <li><a href="{% slugurl 'elp_a' %}"><i class="icofont icofont-robot-face font-5px default-icon"></i> {% trans 'Automaización: Synthex'%}</a></li>
                        <li><a href="{% slugurl 'elp_ai' %}"> <i class="icofont icofont-brain-alt font-5px default-icon"></i>  {% trans 'Agentes de IA: Agentic'%}</a></li>

                 

                      </ul>
                    </div>
                  </div>


                  <!--=== end col-3 ===-->
                  <div class="col-menu col-md-3">
                    <h6 class="title">
                      <i class="icofont icofont-architecture-alt default-icon"></i>
                      SmartBusinessPlatforms<sup>®</sup></h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbpshop:product_list' %}#smartbusinessplatforms"><i class="icofont icofont-key font-5px default-icon"></i> {% trans 'Productividad integral: (SUITE)'%}</a></li>

                        <li><a href="{% slugurl 'suite_id' %}"><i class="icofont icofont-laboratory font-5px default-icon"></i> {% trans 'Investigación y Desarrollo: Core'%}</a></li>
                        <li><a href="{% slugurl 'suite_a' %}"><i class="icofont icofont-robot-face font-5px default-icon"></i> {% trans 'Automaización: Synthex'%}</a></li>
                        <li> <a href="{% slugurl 'suite_ai' %}"><i class="icofont icofont-brain-alt font-5px default-icon"></i> {% trans 'Agentes de IA: Agentic'%}</a></li>

                     

                      </ul>
                    </div>
                  </div>


                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'smartquail' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Tecnologías' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                       <div class="col-menu col-md-3">
                    <h6 class="title">Arquitectura ITC</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbtshop:product_list' %}#portfolio-filter">{% trans 'Disponibilidad,escalabilidad y resiliencia'%}</a></li>
                        <li><a href="{% url 'sbtshop:product_list' %}#portfolio-filter">{% trans 'Microservicios'%}</a></li>
                        <li><a href="{% slugurl 'business_mailing' %}">{% trans 'Orquestacion y virtualización' %}</a></li> 
                        <li><a href="{% slugurl 'business_mailing' %}">{% trans 'Correo Electrónico propietario' %}</a></li> 
                        <li><a href="{% url 'sbtshop:product_list' %}#Staff">{% trans 'Monitoreo y trazabilidad' %}</a></li>
                        <li><a href="{% url 'sbtshop:product_list' %}#Staff">{% trans 'Ciberseguridad y hacking ético' %}</a></li>
                        <li><a href="{% url 'sbtshop:product_list' %}#Staff">{% trans 'Ciencia de datos' %}</a></li>
                        <li><a href="{% url 'sbtshop:product_list' %}#Staff">{% trans 'Automatización sobre datos reales' %}</a></li>
                         <li><a href="{% url 'sbtshop:product_list' %}#Staff">{% trans 'Agentes de inteligencia artificial empresarial' %}</a></li>

                      </ul>
                    </div>
                  </div>

                                         <div class="col-menu col-md-3">
                    <h6 class="title">{% trans "Infraestructura" %}</h6>
<div class="content">
  <ul class="menu-col">
    <li>
      <a href="{% slugurl 'data_center' %}">
        {% trans "Computación en nube nativa" %}
      </a>
    </li>


    <li>
      <a href="{% slugurl 'blockchain' %}">
        {% trans "Cadena de bloques (BlockChain)" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'cibersecurity' %}">
        {% trans "Pasarelas de pagos (SandBox payment)" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'monitoring'%}">
        {% trans "Criptografia empresarial (CryptoCoins)" %}
      </a>
    </li>

            <li>
      <a href="{% slugurl 'monitoring' %}">
        {% trans "Integración a terceros (third-party)" %}
      </a>
    </li>

                <li>
      <a href="{% slugurl 'monitoring'%}">
        {% trans "Modelos de aprendizaje automático (ML)" %}
      </a>
    </li>

                    <li>
      <a href="{% slugurl 'monitoring'%}">
        {% trans "Modelos de aprendizaje profundo (DL)" %}
      </a>
    </li>

      <li>
        <a href="{% slugurl 'monitoring' %}">
        {% trans "Modelos de aprendizaje generativo (crean)" %}
      </a>
    </li>

        <li>
      <a href="{% slugurl 'monitoring'%}">
        {% trans "Modelos de lenguaje natural (LLM)" %}
      </a>
    </li>



  </ul>
</div>

                  </div>

           <div class="col-menu col-md-3">
  <h6 class="title">{% trans "Gobernanza" %}</h6>

  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'id' %}">
          {% trans "Ley orgánica de protección de datos" %}
        </a>
      </li>

      <li>
        <a href="{% slugurl 'ida' %}">
          {% trans "Soberania digital y tratamiento de datos" %}
        </a>
      </li>

      <li>
        <a href="{% slugurl 'ida-ai' %}">
          {% trans "ISO/IEC 27001,9001,25000" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'ida-ai' %}">
          {% trans "Tecnología sostenible y amigable con el medio ambiente" %}
        </a>
      </li>
      <hr>
<li>
<li>
  SmartQuail.S.A.S <br>
  The Smartest IT Cloud Business <br>
  Quito - Ecuador.   
  
  <br>
  

</li>
    </ul>
  </div>
</div>


 




<div class="col-menu col-md-3">
  <h6 class="title">{% trans "Negocios ITC  Ecuador" %}</h6>

  <div class="content">
    <ul class="menu-col">
      <p style="color:#717070;line-height: 16px;">
       {% trans "El futuro digital de tu empresa comienza aquí.  Crea tu cuenta ITC y descubre soluciones diseñadas para innovar, generar activos digitales en minutos y multiplicar la productividad de tu equipo de forma inmediata." %}<br>
       {% trans "Te acompañamos a liderar el futuro tecnológico y la escalabilidad de tu ecosistema empresarial." %} <br>
       Be Smart, Be a Smart Quail. 
      </p>

      <li>

        <p class="text-center mt-30"><a href="{% url 'usuarios:register' %}" class="btn btn-white btn-rounded btn-animate"><span>Crear cuenta ITC <i class="icofont icofont-arrow-right"></i></span></a> </p>

        </a>
      </li>
    </ul>
  </div>
</div>



                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>
