{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}





  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">





        <!--=== Start Top Search ===-->


    <div class="container">
<div class="attr-nav">
  <ul>
    <li class="dropdown">
      {% for code, name in LANGUAGES %}
        {% if code == LANGUAGE_CODE %}
          {% get_language_info for code as current_lang %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ current_lang.code }}
          </a>
        {% endif %}
      {% endfor %}

      <ul class="dropdown-menu cart-list">
        {% for code, name in LANGUAGES %}
          {% get_language_info for code as lang %}
          {% language code %}
            <li>
              <a href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ code }}">
                {{ lang.name_local }}
              </a>
            </li>
          {% endlanguage %}
        {% endfor %}
      </ul>
    </li>

        <li ><a href="{% url 'usuarios:login' %}" class="btn-circle">Ingresar</a></li>


  </ul>
</div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="icofont icofont-navigation-menu"></i> </button>
        <div class="logo"> <a href="{% slugurl 'home' %}"> <img class="logo logo-display" src="{% static 'img/logo_smartquailWhite.png' %}" alt=""> 
          <img class="logo logo-scrolled"  src="{% static 'img/logoSQ_responsive.png' %}" alt=""> </a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'inicio' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Products' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    <a href="{% url 'sbmshop:product_list' %}"> <h6 class="title" style="color:#bd1818;">SmartBusinessMedia</h6></a>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbmshop:product_list' %}#portfolio-filter">{% trans 'Customer Relationship (CRM)'%}</a></li>

                        <li><a href="{% url 'sbmshop:product_list' %}#Staff">{% trans 'MarketingTech Consulting' %}</a></li>
                       
                      </ul>
                    </div>
                  </div>

                                    <div class="col-menu col-md-3">
                    <a href="{% url 'sbmshop:product_list' %}"> <h6 class="title" style="color:#bd1818;">SmartBusinessAnalytics</h6></a>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbashop:product_list' %}#portfolio-filter">{% trans 'Enterprise Resource Planning '%}</a></li>

                        <li><a href="{% url 'sbashop:product_list' %}#Staff">{% trans 'FinTech Consulting' %}</a></li>
                       
                      </ul>
                    </div>
                  </div>


                  <!--=== end col-3 ===-->
                  <div class="col-menu col-md-3">
                    <h6 class="title">SmartBusinessLaw</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sblshop:product_list' %}#portfolio-filter">{% trans 'Enterprise  Law Planing (ELP)'%}</a></li>

                        <li><a href="{% url 'sblshop:product_list' %}#Staff">{% trans 'LawTech Consulting' %}</a></li>
                       
                      </ul>
                    </div>
                  </div>


                <div class="col-menu col-md-3">
                    <a href="{% url 'sbmshop:product_list' %}"> <h6 class="title" style="color:#bd1818;">SmartBusinessPlatforms</h6></a>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbpshop:product_list' %}#portfolio-filter">{% trans 'Business Platforms'%}</a></li>

                        <li><a href="{% url 'sbpshop:product_list' %}#Staff">{% trans 'Platforms Consulting' %}</a></li>
                       
                      </ul>
                    </div>
                  </div>

                
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'home' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Solutions' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                       <div class="col-menu col-md-3">
                    <h6 class="title">SmartBusinessTechnologies</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbtshop:product_list' %}#portfolio-filter">{% trans 'ON-Primeses Cloud Servers'%}</a></li>

                        <li><a href="{% url 'sbtshop:product_list' %}#Staff">{% trans 'Tech Consultingg' %}</a></li>
                       
                      </ul>
                    </div>
                  </div>  
                  
                                         <div class="col-menu col-md-3">
                    <h6 class="title">Cloud Native Computing</h6>
<div class="content">
  <ul class="menu-col">
    <li>
      <a href="{% slugurl 'cloud' %}">
        {% trans "Cloud Microservers Architecture" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'vm' %}">
        {% trans "Virtual Machines" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'orchestration' %}">
        {% trans "Orchestration" %}
      </a>
    </li>
  </ul>
</div>

                  </div>    

           <div class="col-menu col-md-3">
  <h6 class="title">{% trans "ITC Business" %}</h6>

  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'id' %}">
          {% trans "Development and Research" %}
        </a>
      </li>

      <li>
        <a href="{% slugurl 'ida' %}">
          {% trans "Automations" %}
        </a>
      </li>

      <li>
        <a href="{% slugurl 'ida-ai' %}">
          {% trans "Artificial Intelligence" %}
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="col-menu col-md-3">
  <h6 class="title">{% trans "ITC Business Ecuador" %}</h6>

  <div class="content">
    <ul class="menu-col">
      <p style="color:#717070;line-height: 16px;">
        {% trans "Impulsa tu negocio al siguiente nivel. Regístrate hoy y descubre soluciones tecnológicas en la nube diseñadas para innovar, escalar y transformar tu empresa. Únete a nuestra comunidad y accede a contenido y documentación exclusiva." %}
      </p>

      <li>

        <p class="text-center mt-30"><a href="{% url 'usuarios:register' %}" class="btn btn-white btn-rounded btn-animate"><span>Register <i class="icofont icofont-arrow-right"></i></span></a> </p>

        </a>
      </li>
    </ul>
  </div>
</div>



                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'home' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Training & Jobs' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">


   <div class="col-menu col-md-3">
  <a href="{% slugurl 'marketing' %}">
    <h6 class="title" style="color:#bd1818;">Marketing & Publishing</h6>
  </a>
  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'cmja' %}?category=community-manager-junior">
          {% trans "Community Manager Junior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'cmsa' %}?category=community-manager-senior">
          {% trans "Community Manager Senior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'ccja' %}?category=content-designer-junior">
          {% trans "Content Creator Junior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'ccsa' %}?category=content-designer-senior">
          {% trans "Content Creator Senior" %}
        </a>
      </li>
    </ul>
  </div>
</div>



<div class="col-menu col-md-3">
  <a href="{% slugurl 'softwaredev' %}">
    <h6 class="title" style="color:#bd1818;">Software Developer</h6>
  </a>
  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'fedja' %}?category=uiux-designer-junior">
          {% trans "Front-End Designer Junior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'fedsa' %}?category=uiux-designer-senior">
          {% trans "Front-End Designer Senior" %}
        </a>
      </li>
            <li>
        <a href="{% slugurl 'bedja' %}?category=django-developer-junior">
          {% trans "Back-End Developer Junior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'bedsa' %}?category=django-developer-senior">
          {% trans "Back-End Developer Senior" %}
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="col-menu col-md-3">
  <a href="{% slugurl 'management' %}">
    <h6 class="title" style="color:#bd1818;">{% trans 'Management Position' %}</h6>
  </a>
  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'pmsa' %}?category=django-developer-junior">
          {% trans "Project Manager Senior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'pmaja' %}?category=django-developer-senior">
          {% trans "Project Manager Junior" %}
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="col-menu col-md-3">
  <a href="{% slugurl 'devops' %}">
    <h6 class="title" style="color:#bd1818;">DevOps & Cloud</h6>
  </a>
  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'sreja' %}?category=sre-junior">
          {% trans "Site Reliability Engineer Junior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'sresa' %}?category=sre-senior">
          {% trans "Site Reliability Engineer Senior" %}
        </a>
      </li>
    </ul>
  </div>
</div>

                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>

          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'home' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'About' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">

                  <div class="col-menu col-md-3">
  <a href="{% slugurl 'aboutus' %}">
    <h6 class="title" style="color:#bd1818;">{% trans 'SmartQuailCrew' %}</h6>
  </a>
  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'cot' %}">
          {% trans "Chief Officer Technologies" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'pms' %}">
          {% trans "Project Manager Senior" %}
        </a>
      </li>
            <li>
        <a href="{% slugurl 'sds' %}">
          {% trans "Software Developer Senior" %}
        </a>
      </li>
      <li>
        <a href="{% slugurl 'iabde' %}">
          {% trans "IA and Big Data Engineer" %}
        </a>
      </li>
    </ul>
  </div>
</div>


                  <div class="col-menu col-md-3">
  <a href="{% slugurl 'fouders' %}">
    <h6 class="title" style="color:#bd1818;">{% trans 'Fouders' %}</h6>
  </a>
  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'co' %}">
          {% trans "Chief Officer" %}
        </a>
      </li>

    </ul>
  </div>
</div>


                  <div class="col-menu col-md-3">
  <a href="{% slugurl 'fouders' %}">
    <h6 class="title" style="color:#bd1818;">{% trans 'SmartQuail.S.A.S' %}</h6>
  </a>
  <div class="content">
    <ul class="menu-col">
      <li>
        IT Cloud Business Foudation <br>
          Tel: (+593) 9963521262 <br>
          Quito, Ecuador
      </li>

    </ul>
  </div>
</div>
               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>