{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}





  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">





        <!--=== Start Top Search ===-->


    <div class="container">
<div class="attr-nav">
  <ul>

    <li ><a href="{% url 'usuarios:login' %}" class="btn-circle"> <i class="icofont icofont-login font-10px"></i></a></li>

    <li class="dropdown">
      {% for code, name in LANGUAGES %}
        {% if code == LANGUAGE_CODE %}
          {% get_language_info for code as current_lang %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ current_lang.code }}
          </a>
        {% endif %}
      {% endfor %}

      <ul class="dropdown-menu cart-list">
        {% for code, name in LANGUAGES %}
          {% get_language_info for code as lang %}
          {% language code %}
            <li>
              <a href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ code }}">
                {{ lang.name_local }}
              </a>
            </li>
          {% endlanguage %}
        {% endfor %}
      </ul>
    </li>

 


  </ul>
</div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="icofont icofont-navigation-menu"></i> </button>
        <div class="logo"> <a href="{% slugurl 'smartquail' %}"> <img class="logo logo-display" src="{% static 'web_assets/images/white_quail.png'  %}" alt="">
          <img class="logo logo-scrolled"  src="{% static 'web_assets/images/smartquail_logo_red.png' %}" alt="" height="100px"> </a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'smartquail' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Ecosistemas ITC' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    <a href="{% url 'sbmshop:product_list' %}"> <h6 class="title" style="color:#bd1818;">SmartBusinessMedia</h6></a>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbmshop:product_list' %}#portfolio-filter">{% trans 'Customer Relationship (CRM)'%}</a></li>

                        <li><a href="{% url 'sbmshop:product_list' %}#Staff">{% trans 'MarketingTech Consulting' %}</a></li>

                      </ul>
                    </div>
                  </div>

                                    <div class="col-menu col-md-3">
                    <a href="{% url 'sbmshop:product_list' %}"> <h6 class="title" style="color:#bd1818;">SmartBusinessAnalytics</h6></a>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbashop:product_list' %}#portfolio-filter">{% trans 'Enterprise Resource Planning '%}</a></li>

                        <li><a href="{% url 'sbashop:product_list' %}#Staff">{% trans 'FinTech Consulting' %}</a></li>

                      </ul>
                    </div>
                  </div>


                  <!--=== end col-3 ===-->
                  <div class="col-menu col-md-3">
                    <h6 class="title">SmartBusinessLaw</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sblshop:product_list' %}#portfolio-filter">{% trans 'Enterprise  Law Planing (ELP)'%}</a></li>

                        <li><a href="{% url 'sblshop:product_list' %}#Staff">{% trans 'LawTech Consulting' %}</a></li>

                      </ul>
                    </div>
                  </div>


                <div class="col-menu col-md-3">
                    <a href="{% url 'sbmshop:product_list' %}"> <h6 class="title" style="color:#bd1818;">SmartBusinessPlatforms</h6></a>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbpshop:product_list' %}#portfolio-filter">{% trans 'Business Platforms'%}</a></li>

                        <li><a href="{% url 'sbpshop:product_list' %}#Staff">{% trans 'Platforms Consulting' %}</a></li>

                      </ul>
                    </div>
                  </div>


                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="{% slugurl 'smartquail' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Soluciones ITC' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                       <div class="col-menu col-md-3">
                    <h6 class="title">SmartBusinessTechnologies</h6>
                    <div class="content">
                      <ul class="menu-col">
                        <li><a href="{% url 'sbtshop:product_list' %}#portfolio-filter">{% trans 'Business Technologies'%}</a></li>

                        <li><a href="{% url 'sbtshop:product_list' %}#Staff">{% trans 'Tech Consultingg' %}</a></li>

                        <li><a href="{% slugurl 'business_mailing' %}">{% trans 'Business Mailing' %}</a></li> 
                        <li><a href="{% slugurl 'ai_infraestructure' %}">{% trans 'AI infraestructure' %}</a></li> 
                      </ul>
                    </div>
                  </div>

                                         <div class="col-menu col-md-3">
                    <h6 class="title">Soluciones Tecnológicas</h6>
<div class="content">
  <ul class="menu-col">
    <li>
      <a href="{% slugurl 'data_center' %}">
        {% trans "Data centers" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'cloud_computing' %}">
        {% trans "Native Cloud Computing" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'virtual_machine' %}">
        {% trans "Virtual Machine Platform" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'blockchain' %}">
        {% trans "Block Chain" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'cibersecurity' %}">
        {% trans "Cibersecurity" %}
      </a>
    </li>

    <li>
      <a href="{% slugurl 'monitoring">
        {% trans "Monitoring" %}
      </a>
    </li>


  </ul>
</div>

                  </div>

           <div class="col-menu col-md-3">
  <h6 class="title">{% trans "DeV-SeC-OpS" %}</h6>

  <div class="content">
    <ul class="menu-col">
      <li>
        <a href="{% slugurl 'id' %}">
          {% trans "Development and Research (I+D)" %}
        </a>
      </li>

      <li>
        <a href="{% slugurl 'ida' %}">
          {% trans "Automations (+A)" %}
        </a>
      </li>

      <li>
        <a href="{% slugurl 'ida-ai' %}">
          {% trans "Artificial Intelligence (+AI)" %}
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="col-menu col-md-3">
  <h6 class="title">{% trans "Negocios ITC  Ecuador" %}</h6>

  <div class="content">
    <ul class="menu-col">
      <p style="color:#717070;line-height: 16px;">
        {% trans "Impulsa tu negocio al siguiente nivel. Regístrate hoy y descubre soluciones tecnológicas en la nube diseñadas para innovar, escalar y transformar tu empresa. Únete a nuestra comunidad y accede a contenido y documentación exclusiva." %}
      </p>

      <li>

        <p class="text-center mt-30"><a href="{% url 'usuarios:register' %}" class="btn btn-white btn-rounded btn-animate"><span>Register <i class="icofont icofont-arrow-right"></i></span></a> </p>

        </a>
      </li>
    </ul>
  </div>
</div>



                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>
