{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}

<style>
  h4 {
  font-size: clamp(1.1rem, 2vw, 28px);
}

.logo-responsive{
    width: 100%;
    max-width: 49%;
    height: auto;
}

@media (max-width: 768px){
    .logo-responsive{
        max-width: 100%;
    }
}


</style>

  <!--=== Flex Slider Start ===-->
  <section class="pt-0 pb-0">
    <div class="slider-bg ">
      <ul class="slides">
        <!--=== SLIDE 1 ===-->
        <li>
          {% for item in page.galleria.all %}
          {% image item.image scale-100 as s1 %}
          <div class="slide-img" style="background:url('{{s1.url}}') center center / cover scroll no-repeat; opacity: 0.75;"></div>
          {% endfor %}
          <div class="hero-text-wrap-sq gradient-overlay-bg-sq">
            <div class="hero-text dark-color">
              <div class="container text-center">
                <h2 class="dark-color font-500 letter-spacing-5"></h2>
                
               <img src="{% static 'web_assets/images/smartquail_ini.png' %}" class="logo-responsive">
                <p class="text-center mt-30"><a href="{% slugurl 'smartquailinfo' %}" class="btn btn-red btn-rounded btn-animate">
                  <span>{% trans 'Saber más' %} <i class="icofont icofont-arrow-right"></i></span></a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 2 ===-->
        <li>
          {% for item in page.galleria.all %}
          {% image item.image_2 scale-100 as s2 %}
          <div class="slide-img" style="background:url('{{s2.url}}') center center / cover scroll no-repeat;opacity: 0.8"></div>
          {% endfor %}
          <div class="hero-text-wrap-sbm gradient-overlay-bg-sbm">
            <div class="hero-text">
              <div class="container text-center">
                <h1 class="white-color text-uppercase font-700">
                  <img src="{% static 'img/smartbusinessmedia.png' %}">
                </h1>
                <a href="{% url 'sbmshop:product_list' %}" class="btn btn-yellow btn-rounded btn-animate">{% trans 'Saber más' %}</a> </p>
               
              </div>
            </div>
          </div>
        </li>
        <li>
          {% for item in page.galleria.all %}
          {% image item.image_3 scale-100 as s3 %}
          <div class="slide-img" style="background:url('{{s3.url}}') center center / cover scroll no-repeat;opacity: 0.4"></div>
          {% endfor %}
          <div class="hero-text-wrap-sba gradient-overlay-bg-sba">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5"><img src="{% static 'img/BA-LOGOS/SmartBusinessAnalytcis.png' %}"></h2>
               
                <a href="{% url 'sbashop:product_list' %}" class="btn btn-red  btn-rounded btn-animate">{% trans 'Saber más' %}</a> </p>
              </div>
            </div>
          </div>
        </li>
        <li>
          {% for item in page.galleria.all %}
          {% image item.image_4 scale-100 as s4 %}
          <div class="slide-img" style="background:url('{{s4.url}}') center center / cover scroll no-repeat;opacity: 0.4"></div>
          {% endfor %}
          <div class="hero-text-wrap-sbl gradient-overlay-bg-sbl">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5"><img src="{% static 'img/SmartBusinessLaw.png' %}"></h2>

                  <a  href="{% url 'sblshop:product_list' %}" class="btn btn-brown btn-rounded btn-animate">{% trans 'Saber más' %}</a> </p>
              </div>
            </div>
          </div>
        </li>

        <li>
          {% for item in page.galleria.all %}
          {% image item.image_5 scale-100 as s5 %}
          <div class="slide-img" style="background:url('{{s5.url}}') center center / cover scroll no-repeat;opacity: 0.4"></div>
          {% endfor %}
          <div class="hero-text-wrap-sbl gradient-overlay-bg-sbl">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5"><img src="{% static 'img/BA-LOGOS/SmartBusinessPlataforms.png' %}"></h2>
                  <a  href="{% url 'sbpshop:product_list' %}" class="btn btn-plataform btn-rounded btn-animate">{% trans 'Saber más' %}</a> </p>
              </div>
            </div>
          </div>
        </li>


        <li>
          {% for item in page.galleria.all %}
          {% image item.image_6 scale-100 as s6 %}
          <div class="slide-img" style="background:url('{{s6.url}}') center center / cover scroll no-repeat;opacity: 0.4"></div>
          {% endfor %}
          <div class="hero-text-wrap-sbt gradient-overlay-bg-sbt">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5"><img src="{% static 'img/smartbusinesstechnologies.png' %}"></h2>
                 <a href="{% url 'sbtshop:product_list' %}" class="btn btn-blue btn-rounded btn-animate">{% trans 'Saber más' %}</a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 3 ===-->
        <li>
          {% for item in page.galleria.all %}
          {% image item.image_7 scale-100 as s7 %}
          <div class="slide-img" style="background:url('{{s7.url}}') center center / cover scroll no-repeat;opacity: 0.4"></div>
          {% endfor %}
          <div class="hero-text-wrap-sbactivitys  gradient-overlay-bg-sbactivitys">
            <div class="hero-text">
              <div class="container text-center">
                <h2 class="white-color font-500 letter-spacing-5">{{page.banner_title10|richtext}}</h2>
                <h1 class="white-color text-uppercase font-700"><img src="{% static 'img/smartquail_iso.png' %}" width="400px"></h1>
                <h3 class="white-color font-400">{{ page.TS_info7 }}</h3>
                <p class="text-center mt-30"><a href="{% url 'usuarios:register' %}" class="btn btn-dark btn-rounded">{% trans 'Registrarme ahora!' %}</a> </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>



  