{% extends "emails/base_mail.html" %}
{% load widget_tweaks %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}


{% block content %}
      
<!-- emails/account_activation_email.html -->
<div class="email-body" style="font-family: Arial, sans-serif; background-color: #f8f9fa; padding: 20px; max-width: 600px; margin: auto; background-color: white; padding: 30px; border-radius: 8px;">
  
  <h2>🔑 Activación de cuenta <strong>{{ user.email|default:user.email }}</strong></h2>

  <p>
    Hola Bienvenido a SmartQuail, Inc <strong>Tecnologías de información y comunicacion en la nube para negocios y organizaciones sociales </strong>,
  </p>

  <p>
    Soy el agente de inteligencia artificial de <strong>SmartQuail, Inc.</strong>.
    Hemos recibido tu solicitud de registro y necesitamos que actives tu cuenta para poder utilizar todos nuestros servicios.
  </p>

  <p style="text-align: center; margin: 30px 0;">
    <a href="{{ activation_url }}" style="background-color: #b5181a; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-weight: bold;">
      Activar cuenta
    </a>
  </p>

  <p>
    Este enlace está tokenizado y tiene tiempo de expiración por seguridad.
  </p>

  <p>
    Todo el proceso se realiza con los más altos estándares de seguridad, utilizando arquitectura <strong>Blockchain</strong> para proteger tu identidad digital.
  </p>





{% endblock %}

