{% extends "base_dash_parther.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Aplicativo para la administración de gestión de información cultural{% endblock %}

{% block content %}

<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">

<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card radius-10">
      <div class="card-body">
        <h2><ion-icon name="shield-outline"></ion-icon> Contraseña y Seguridad</h2>
        <hr>
    
        <h5 class="mb-0"><ion-icon name="finger-print-outline"></ion-icon>Cambiar contraseña</h5>
        <p class="text-muted">
          Actualiza tu contraseña de acceso al sistema.
        </p>

        <hr>

        <form method="POST">
          {% csrf_token %}

          <!-- Nueva contraseña -->
          <div class="mb-3">
            <label class="form-label">Nueva contraseña</label>
            <input type="password"
                   name="password1"
                   class="form-control radius-10"
                   placeholder="Ingrese nueva contraseña"
                   required>
          </div>

          <!-- Confirmar contraseña -->
          <div class="mb-3">
            <label class="form-label">Confirmar contraseña</label>
            <input type="password"
                   name="password2"
                   class="form-control radius-10"
                   placeholder="Repita la contraseña"
                   required>
          </div>

          <!-- Botón -->
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-warning radius-10">
              Actualizar contraseña
            </button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>



  </div>
  <!-- end page content-->
</div>



<script>
document.addEventListener("DOMContentLoaded", function () {

    function typeWriterEffect(elementId, text, speed) {
        let index = 0;
        function type() {
            if (index < text.length) {
                document.getElementById(elementId).innerHTML += text.charAt(index);
                index++;
                setTimeout(type, speed);
            }
        }
        type();
    }

   
    const text_start = `Hola, {{ request.user.first_name }}  . He seleccionado los productos de TI en la nube que mejor se ajustan a las necesidades registradas en tu perfil. Ingresa a cada producto para explorar las demostraciones y conocer más sobre la metodología que utilizamos para implementar soluciones personalizadas para tu proyecto o negocio.`;
    typeWriterEffect("typewriter", text_start, 35);


});
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const btnCambiarFoto = document.getElementById("btnCambiarFoto");
    const inputPhoto = document.getElementById("id_photo");
    const previewImg = document.querySelector(".user-change-photo img");

    btnCambiarFoto.addEventListener("click", function () {
        inputPhoto.click();
    });

    inputPhoto.addEventListener("change", function (e) {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                previewImg.src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
});
</script>

 
{% endblock %}