{% extends "base_register.html" %}
{% load widget_tweaks %}
{% load static %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<style>
  .custom-card-width {
    width: 100%;
    max-width: 500px;
  }
  .logo-container {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 31px;
  }
</style>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div>
    <div class="logo-container">
      <a href="{% slugurl 'home' %}">
        <img src="{% static 'assets/images/sqwhite.png' %}" style="width: 100%; max-width: 250px;" alt="Logo">
      </a>
    </div>

    <div class="card shadow custom-card-width">
      <div class="card-body">

        <div class="text-left mb-4">
          <p><strong>Restablezca su contraseña</strong> para acceder nuevamente a su cuenta SmartQuail, Inc. Asegúrese de usar una contraseña segura y única.</p>
        </div>

        <form class="form-body row g-3" method="post">
          {% csrf_token %}

          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}

          <div class="col-12">
            <hr>
          </div>

          <div class="col-12">
            <label for="password1">Nueva contraseña</label>
            <input type="password" name="password1" id="password1" class="form-control" required>
            <small class="form-text text-muted">
              Use al menos 8 caracteres, combinando letras, números y símbolos.
            </small>
          </div>

          <div class="col-12">
            <label for="password2">Confirmar nueva contraseña</label>
            <input type="password" name="password2" id="password2" class="form-control" required>
          </div>

          <div class="col-12 d-grid mt-4">
            <button type="submit" class="btn btn-success">Actualizar contraseña</button>
          </div>

          <div class="col-12 d-grid mt-4">
            <p>¿Ya tiene acceso? <a href="{% url 'usuarios:login' %}"><strong>Inicie sesión</strong></a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
