{% extends "base_register.html" %}
{% load widget_tweaks %}
{% load wagtailimages_tags wagtailcore_tags menu_tags %}
{% load static %}


{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<style>
  .custom-card-width {
    width: 100%;
    max-width: 500px;
  }
  .logo-container {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 31px;
  }
</style>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div>
    <div class="logo-container">
      <a href="{% slugurl 'home' %}">
        <img src="{% static 'assets/images/sqwhite.png' %}" style="width: 100%; max-width: 250px;" alt="Logo">
      </a>
    </div>

    <div class="card shadow custom-card-width">
      <div class="card-body">

        <div class="text-left mb-4">
          <p><strong>¿Olvidó su contraseña?</strong> No se preocupe. Ingrese su <strong>correo electrónico</strong> y <strong>número telefónico</strong> registrado. Le enviaremos un enlace seguro para restablecer su acceso.</p>
        </div>

        <form class="form-body row g-3" method="post">
          {% csrf_token %}

          {% if form.non_field_errors %}
            <div class="col-12">
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          <div class="col-12">
            <hr>
          </div>

          {% for field in form.visible_fields %}
            <div class="col-12">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}
              {% for error in field.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}

          <div class="col-12 d-grid mt-4">
            <button type="submit" class="btn btn-primary">Enviar enlace de restablecimiento</button>
          </div>

          <div class="col-12 d-grid mt-4">
            <p>¿Ya recuerda su contraseña? <a href="{% url 'usuarios:login' %}"><strong>Inicie sesión</strong></a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
