{% extends "base_dash_parther.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Usuarios ITC {% endblock %}

{% block content %}

<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card radius-10">
          <div class="card-body">
    
            <!-- ================= USUARIO ================= -->
            <h5 class="mb-3">
              <ion-icon name="person-circle-outline"></ion-icon> Cuenta de Usuario ITC
            </h5>
    
            <div class="mb-4 d-flex flex-column align-items-center justify-content-center">
              <div class="user-change-photo shadow">
                {% if profile.photo %}
                  <img src="{{ profile.photo.url }}" alt="Foto de perfil" width="120" class="rounded-circle">
                {% else %}
                  <img src="{% static 'assets/images/default.png' %}" alt="Foto de perfil" width="120" class="rounded-circle">
                {% endif %}
              </div>
            </div>
    
            <!-- ================= INFO NEGOCIO ================= -->
            <h5 class="mt-4">Información de Negocio ITC</h5>
            <hr>
    
            <div class="row g-3">
              <div class="col-md-6">
                <p><strong>Usuario:</strong> {{ profile.user.username }}</p>
                <p><strong>Teléfono:</strong> {{ profile.telefono }}</p>
                <p><strong>Provincia:</strong> {{ profile.provincia }}</p>
                <p><strong>Dirección:</strong> {{ profile.direccion_empresa }}</p>
              </div>
    
              <div class="col-md-6">
                <p><strong>Empresa:</strong> {{ profile.nombre_empresa }}</p>
                <p><strong>Nombre:</strong> {{ profile.nombre_completo }}</p>
                <p><strong>Cargo:</strong> {{ profile.cargo_usuario }}</p>
                <p><strong>Sector:</strong> {{ profile.sector_negocio }}</p>
              </div>
            </div>
    
            <!-- ================= ESCALABILIDAD ================= -->
            <h5 class="mt-4">Configuraciones de Escalabilidad</h5>
            <hr>
    
            <div class="row g-3">
              <div class="col-md-4">
                <p><strong>Tamaño Empresa:</strong><br>{{ profile.tamano_empresa }}</p>
              </div>
    
              <div class="col-md-4">
                <p><strong>Experiencia Cloud:</strong><br>{{ profile.nivel_experiencia_cloud }}</p>
              </div>
    
              <div class="col-md-4">
                <p><strong>Presupuesto:</strong><br>$ {{ profile.presupuesto_estimado }}</p>
              </div>
            </div>
    
            <!-- ================= ÓRDENES ================= -->
            <h5 class="mt-4"><ion-icon name="key-outline"></ion-icon> Licencias válidas</h5>
            <hr>
            
            <div style="max-height: 300px; overflow-y: auto;overflow-x: hidden;">
                {% if orders %}
                    {% for order in orders %}
                        <div class="row g-3 mb-4 p-2 border rounded">
            
                            <!-- Info orden -->
                            <div class="col-md-6">
                                <p class="mb-1">
                                    <strong>SQ02-APP-120-00{{ order.id }}</strong>
                                </p>
            
                                <p class="mb-1">
                                    <strong>Fecha:</strong> {{ order.created|date:"d/m/Y H:i" }}
                                </p>
            
                                <p class="mb-1">
                                    <strong>Estado:</strong>
                                    {% if order.is_active %}
                                        <span class="badge bg-warning text-dark">Pendiente</span>
                                    {% else %}
                                        <span class="badge bg-success">Activo</span>
                                    {% endif %}
                                </p>
                            </div>
            
                            <!-- Productos -->
                            <div class="col-md-6">
                                {% for item in order.items.all %}
                                    <div class="mb-2">
                                        <strong>{{ item.product }}</strong><br>
                                        <small>
                                            Disponibilidad: {{ item.product.software }}<br>
                                            Inversión: {{ item.price }}<br>
                                        </small>
                                    </div>
                                {% empty %}
                                    <p class="text-muted">Sin productos</p>
                                {% endfor %}
                            </div>
            
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-muted">No tienes órdenes registradas.</p>
                {% endif %}
            </div>
    
          </div>
        </div>
      </div>
    </div>




  </div>
  <!-- end page content-->
</div>
</div>




 
{% endblock %}