{% load widget_tweaks %}
{% load static %}


<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/login_bg/sello1_white.png' %}" class="logo-icon"  width="50px" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">
                <div>
                    <img src="{% static 'assets/images/login_bg/SQW.png' %}"  width="195px" alt="logo icon">
                </div>
            </h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

                    
        
        <li class="menu-label">SOFTWARE & PLATAFORM AS SERVICE (SaaS)/(PaaS) </li>

        <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;" class="menu-title">Analiticas & Finanzas</div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
        <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>SBA+ERP
              </a>
            </li>

            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>SBA+ERP+(I+D)
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>SBA+ERP+(I+D)+A
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>SBA+ERP+(I+D)+A+AI
              </a>
            </li>


          </ul>
        </li>

                <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
             <ion-icon name="megaphone-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Social Media & Digital Marketing</div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>SBA+ERP+(I+D)
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>SBA+ERP+(I+D)+A
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>SBA+ERP+(I+D)+A+AI
              </a>
            </li>


          </ul>
        </li>




        <li class="menu-label">INFRASTRUCTURE AS SERVICE (IaaS)</li>


                <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
            <ion-icon name="radio-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Disponibilidad</div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Alta
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Intermedia
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Regular
              </a>
            </li>


          </ul>
        </li>

                        <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
             <ion-icon name="shield-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Seguridad</div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Extrema 85 %
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Intermedia 60 %
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Regular 30 %
              </a>
            </li>


          </ul>
        </li>

        <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
             <ion-icon name="pulse-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Monitoreo</div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Extrema 85 %
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Intermedia 60 %
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Regular 30 %
              </a>
            </li>


          </ul>
        </li>


    </ul>

  
    <!--end navigation-->


</aside>


