{% load widget_tweaks %}
{% load static %}


<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/REDQUAIL.png' %}" class="logo-icon"  width="39px" alt="logo icon">
        </div>

    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

      
     <li class="menu-label">IT Business Products</li>

        <li>
         
            <div class="parent-icon">
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
              <ion-icon name="browsers-outline"></ion-icon>
            <div class="menu-title">Business Software</div>
          </a>
        </li>



        <li>
          
            <div class="parent-icon">
              <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
               <ion-icon name="grid-outline"></ion-icon>
            <div class="menu-title">Business Platforms</div>
          </a>
        </li>

        <li>
          
            <div class="parent-icon">
              <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
                <ion-icon name="cube-outline"></ion-icon>
            <div class="menu-title">Business Infrastructure</div>
          </a>
        </li>



      <li class="menu-label">Consulting</li>

        <li>
          <a href="index.html" aria-expanded="false">
            <div class="parent-icon">
              <ion-icon name="ticket-outline"></ion-icon>
            <div class="menu-title">Take a Ticket</div>
          </a>
        </li>

    </ul>




  
    <!--end navigation-->


</aside>


