{% load widget_tweaks %}
{% load static %}


<style>
  .text-info {
  color: #48ff05 !important;
}
</style>

<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/REDQUAIL.png' %}" class="logo-icon"  width="39px" alt="logo icon">
                                 

        </div>



    </div>

    
    <!--navigation-->
    <ul class="metismenu" id="menu">

      <li class="menu-label">Negocios IT Cloud Native
                 <p class="mb-0 text-success bg-light-success px-1 rounded py-1" style="font-size: 10pt; align-items: left;">
              StartUp
          </p>
      </li>
                          
<li class="">
  <a href="javascript:;" class="has-arrow" aria-expanded="false">
    <div class="parent-icon">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </div>
    <div style="font-size: 10pt;" class="menu-title">Proyectos ITC</div>
  </a>

<ul class="mm-collapse" style="height: auto;">

    {% if all_projects or projects_in_progress %}
      
      {# 🔥 Proyectos en progreso #}
      {% for project in projects_in_progress %}
        <li>
          <a href="{% url 'business_customer_projects:processes' project.pk %}">
            <span class="spinner-border spinner-border-sm text-warning"></span>
            {{ project.name }}
            <span class="text-warning">({{ project.progress }}%)</span>
          </a>
        </li>
      {% endfor %}

      {# 🔥 Proyectos completados #}
      {% for project in all_projects %}
        <li>
          <a href="{% url 'business_customer_projects:project_detail' project.pk %}">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            {{ project.name }}
          </a>
        </li>
      {% endfor %}

    {% else %}
      {# 🔥 Sin proyectos #}
      <li>
        <a href="{% url 'business_customer_projects:create_project' %}">
          <ion-icon name="add-outline"></ion-icon>
          Crear Nuevo Proyecto
        </a>
      </li>
    {% endif %}

</ul>

</li>



<li class="">
  <a href="javascript:;" class="has-arrow" aria-expanded="false">
    <div class="parent-icon">
       <ion-icon name="cloud-upload-outline"></ion-icon>
      
    </div>
    <div style="font-size: 10pt;" class="menu-title">Soluciones ITC </div>
  </a>
  <ul class="mm-collapse" style="height: auto;">
  
            <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
              <ion-icon name="browsers-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Software</div>
          </a>
        </li>


        <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
              <ion-icon name="grid-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Plataformas</div>
          </a>
        </li>

        <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
              <ion-icon name="cube-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Infraestructura</div>
          </a>
        </li>
  

  </ul>


</li>


<li class="">
  <a href="javascript:;" class="has-arrow" aria-expanded="false">
    <div class="parent-icon">
      <ion-icon name="cloud-done-outline"></ion-icon>
      
    </div>
    <div style="font-size: 10pt;" class="menu-title"> Pago de Servicios ITC </div>
  </a>
  <ul class="mm-collapse" style="height: auto;">





        <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
             
              <ion-icon name="card-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Uso de Nube Pública</div>
          </a>
        </li>


                <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
             
              <ion-icon name="card-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Ticket de Consulta</div>
          </a>
        </li>

                        <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
             
              <ion-icon name="card-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Convenio Estratégico</div>
          </a>
        </li>

                                <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
             
              <ion-icon name="card-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Infraestructura</div>
          </a>
        </li>

                                      <li>
          <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
             
              <ion-icon name="card-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Monitoreo</div>
          </a>
        </li>


                                              <li>
          <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
             
              <ion-icon name="card-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Seguridad</div>
          </a>
        </li>

                                                      <li>
          <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
             
              <ion-icon name="card-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Soporte</div>
          </a>
        </li>


            <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
               <ion-icon name="list-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Historial de Pagos</div>
          </a>
        </li>


  

  </ul>
          <a href="index.html">
            <div class="parent-icon">
              <ion-icon name="bulb-outline"></ion-icon> 
            </div>
            <div class="menu-title">Ideas para Negocios ITC</div>
          </a>
        </li>

</li>

      <li class="menu-label">Consultas</li>

        <li>
          <a href="index.html" aria-expanded="false">
            <div class="parent-icon">
              <ion-icon name="ticket-outline"></ion-icon>
            <div class="menu-title">Generar Ticket</div>
          </a>
        </li>


<li>


    </ul>




  
    <!--end navigation-->


</aside>


