{% load widget_tweaks %}
{% load static %}


<style>
  .text-info {
  color: #48ff05 !important;
}
</style>

<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <a href="{% url 'usuarios:dashboard_pather' %}">
              <img src="{% static 'assets/images/QUAIL.png' %}" class="logo-icon"  width="9px" alt="logo icon">
            </a>
                                 

        </div>

        <div>
            <h4 class="logo-text" style="margin-top: 5px;">
                <div><a href="{% url 'usuarios:dashboard_pather' %}">
                    <img src="{% static 'assets/images/smartquail_iso.png' %}"  width="110px" alt="logo icon">
                    </a>
                </div>
            </h4>
        </div>


    </div>

    
    <!--navigation-->
    <ul class="metismenu" id="menu">

      <li class="menu-label">
                 <p class="mb-0 text-success bg-light-success px-1 rounded py-1" style="font-size: 8pt; align-items: left;">
                  {% if tamano_empresa == "1-10 usuarios" %}
PYMES

{% elif tamano_empresa == "11-50 usuarios" %}
 STARUP

{% elif tamano_empresa == "51-200 usuarios" %}
Enterprise

{% elif tamano_empresa == "200+ usuarios" %}
Coorp & Industrial

{% else %}
    No se ha definido el tamaño de la empresa.
{% endif %}

    
          </p>
      </li>
{% if all_projects or projects_in_progress %}                          
<li class="">
  <a href="javascript:;" class="has-arrow" aria-expanded="false">
    <div class="parent-icon">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </div>
    <div style="font-size: 10pt;" class="menu-title">Proyectos ITC</div>
  </a>


<ul class="mm-collapse" style="height: auto;">

  {# 🔥 Proyectos en progreso #}
  {% for project in projects_in_progress %}
    <li>
      <a href="{% url 'business_customer_projects:processes' project.pk %}">
        <span class="spinner-border spinner-border-sm text-warning"></span>
        {{ project.name }}
        <span class="text-warning">({{ project.progress }}%)</span>
      </a>
    </li>
  {% endfor %}

  {# 🔥 Proyectos completados #}
  {% for project in all_projects %}
    <li>
      <a href="{% url 'business_customer_projects:project_detail' project.pk %}">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        {{ project.name }}
      </a>
    </li>
  {% endfor %}

</ul>
</li>
{% endif %}



<li class="">
  <a href="javascript:;" class="has-arrow" aria-expanded="false">
    <div class="parent-icon">
       <ion-icon name="cloud-upload-outline"></ion-icon>
      
    </div>
    <div style="font-size: 10pt;" class="menu-title">Soluciones ITC </div>
  </a>
  <ul class="mm-collapse" style="height: auto;">
  
            <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
              <ion-icon name="browsers-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Software</div>
          </a>
        </li>


        <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
              <ion-icon name="grid-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Plataformas</div>
          </a>
        </li>

        <li>
               <a href="{% url 'saas_shop:product_list' %}" aria-expanded="false">
              <ion-icon name="cube-outline"></ion-icon>
            <div style="font-size: 10pt;"  class="menu-title">Infraestructura</div>
          </a>
        </li>
  

  </ul>


</li>




</li>

            <li class="menu-label">
                 <p class="mb-0 text-success bg-light-success px-1 rounded py-1" style="font-size: 8pt; align-items: left;">
           NEGOCIOS ITC 
          </p>
      </li>


      <li class="">


{% if all_projects or projects_in_progress %} 

            <a href="{% url 'business_customer_projects:paymentorder_list' %}">
            <div class="parent-icon">
             <ion-icon name="card-outline"></ion-icon>
            </div>
            <div class="menu-title">Inversiones</div>
          </a>
{% endif %}


          <a href="{% url 'business_customer_projects:lista' %}">
            <div class="parent-icon">
              <ion-icon name="document-text-outline"></ion-icon>
            </div>
            <div class="menu-title">Documentación</div>
          </a>

                    <a href="{% url 'business_customer_projects:ticket_list' %}">
            <div class="parent-icon">
               <i class="fadeIn animated bx bx-support"></i>
            </div>
            <div class="menu-title">Soporte</div>
          </a>


                              <a href="{% url 'business_customer_projects:ticket_list' %}">
            <div class="parent-icon">
               <ion-icon name="log-out-outline"></ion-icon>
            </div>
            <div class="menu-title">Salir</div>
          </a>


        </li>




<li>


    </ul>




  
    <!--end navigation-->


</aside>


