{% load widget_tweaks %}
{% load static %}


<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/REDQUAIL.png' %}" class="logo-icon"  width="50px" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">
                <div>
                    <img src="{% static 'assets/images/SQLOGORED.png' %}"  width="195px" alt="logo icon">
                </div>
            </h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

                    
        
      <a href="{% url 'saas_shop:product_list'  %}"><li class="menu-label">SOFTWARE AS PRODUCTS </li></a>

{% for c in categories %}
   {% if c.slug == "smartbusinessanalytics" %}
    <li class="">
      <a href="javascript:;" class="has-arrow" aria-expanded="false">
        <div class="parent-icon">
          <ion-icon name="stats-chart-outline"></ion-icon>
        </div>
        <div style="font-size: 10pt;" class="menu-title">{{ c.name }}</div>
      </a>

      <ul class="mm-collapse" style="height: 2px;">
        {% for p in c.products.all %}
          <li>
            <a href="{{ p.get_absolute_url }}">
              <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>
              {{ p.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}

{% for c in categories %}
   {% if c.slug == "smartbusinessmedia" %}
    <li class="">
      <a href="javascript:;" class="has-arrow" aria-expanded="false">
        <div class="parent-icon">
         <ion-icon name="brush-outline"></ion-icon>
        </div>
        <div style="font-size: 10pt;" class="menu-title">{{ c.name }}</div>
      </a>

      <ul class="mm-collapse" style="height: 2px;">
        {% for p in c.products.all %}
          <li>
            <a href="{{ p.get_absolute_url }}">
              <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>
              {{ p.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}

{% for c in categories %}
   {% if c.slug == "smartbusinesslaw" %}
    <li class="">
      <a href="javascript:;" class="has-arrow" aria-expanded="false">
        <div class="parent-icon">
         <ion-icon name="finger-print-outline"></ion-icon>
        </div>
        <div style="font-size: 10pt;" class="menu-title">{{ c.name }}</div>
      </a>

      <ul class="mm-collapse" style="height: 2px;">
        {% for p in c.products.all %}
          <li>
            <a href="{{ p.get_absolute_url }}">
              <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>
              {{ p.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}





        <li class="menu-label">Implemetación Dev-Sec-Ops</li>


                <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
           <ion-icon name="code-slash-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Desarollo (I+D) </div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Investigación
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Coding Development
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Resultados
              </a>
            </li>


          </ul>
        </li>

        <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
           <ion-icon name="cog-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Automatización (+A) </div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Tareas programadas
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Coding Development
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Resultados
              </a>
            </li>


          </ul>
        </li>

                <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
           <ion-icon name="hardware-chip-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Inteligencia Artificial (+AI) </div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Machine Learning
              </a>
            </li>
              <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Deep Learning
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Coding Development
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Resultados
              </a>
            </li>


          </ul>
        </li>

        

                        <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
             <ion-icon name="flask-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Quality Assurance (QA)</div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Resilencia a Fallos
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Perfomance Testing
              </a>
            </li>

            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Seguridad
              </a>
            </li>


          </ul>
        </li>

        <li class="">
          <a href="javascript:;" class="has-arrow" aria-expanded="false">
            <div class="parent-icon">
             <ion-icon name="git-compare-outline"></ion-icon>
            </div>
            <div style="font-size: 10pt;"  class="menu-title">Producción</div>
          </a>
          <ul class="mm-collapse" style="height: 2px;">
            <li> <a href="widgets-static-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Uso de recursos
              </a>
            </li>
            <li> <a href="widgets-data-widgets.html">
                <ion-icon name="ellipse-outline" role="img" class="md hydrated" aria-label="ellipse outline"></ion-icon>Plan de Escalabilidad
              </a>
            </li>



          </ul>
        </li>

        <li class="menu-label">Private Cloud Server </li>

        <li>
          <a href="index.html" aria-expanded="false">
            <div class="parent-icon">
              <ion-icon name="apps-outline"></ion-icon>
            <div class="menu-title">On-Premise</div>
          </a>
        </li>


      <li class="menu-label">Consulting</li>

        <li>
          <a href="index.html" aria-expanded="false">
            <div class="parent-icon">
              <ion-icon name="ticket-outline"></ion-icon>
            <div class="menu-title">Take a Ticket</div>
          </a>
        </li>

    </ul>




  
    <!--end navigation-->


</aside>


