{% extends "webapp/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}
{% load widget_tweaks webapp_0_tags menu_tags %}

{% block content %}

{% main_menu template="webapp/home/header.html" %}

<div class="wrapper">

  {% for item in page.galleria_3.all %}
    {% if item.banner_background %}
      {% image item.banner_background original as bg %}
      <section class="title-hero-bg portfolio-cover-bg"
        style="background-image:url('{{ bg.url }}'); background-size:cover; background-position:center; ">
        <div class="container">
          <div class="page-title text-left">
            {% if item.logo_slide %}
              {% image item.logo_slide original as logo_slide %}
              <img src="{{ logo_slide.url }}" class="img-responsive" style="max-width:580px;">
            {% endif %}
            <h3 style="color:#c7c7c7;">{{ page.title }}</h3>
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}


  <section class="pt-100" style="background-color: #212121;">
    <div class="container">
      <div class="row">

        {# ===== SIDEBAR ===== #}
        <div class="col-md-3">

          {% for item in page.galleria_3.all %}
            {% if item.logo %}
              {% image item.logo scale-100 as logo %}
              <img src="{{ logo.url }}" class="img-responsive mb-20">
            {% endif %}
          {% endfor %}

          <ul class="project-detail-box">
            <li><strong>{% trans "Author" %}:</strong> {{ page.author_name }}</li>
            <li>{{ page.business_title }}</li>
            <li>{{ page.business_activiy }}</li>
            <li>
              <strong>{% trans "Experience" %}:</strong>
              {{ page.business_experience }} {% trans "years" %}
            </li>
            <li>
              <strong>{% trans "Updated" %}:</strong>
              {{ page.updated }}
            </li>
          </ul>

          {% for item in page.galleria_3.all %}
            {% if item.profile_pic %}
              {% image item.profile_pic scale-100 as profile %}
              <img src="{{ profile.url }}" class="img-responsive mt-30">
            {% endif %}
          {% endfor %}

          <p class="mt-30">{{ page.bio2|richtext }}</p>

        </div>


        <div class="col-md-9">

          <h3 style="color: #fff;">{{ page.banner_title9|richtext }}</h3>
          <h4 style="color: #fff;">{{ page.TS_info6 }}</h4>
          <div style="color: #fff;">{{ page.info_title9|richtext }}</div>

          {# ===== SLIDER 1 ===== #}
          <div class="portfolio-slider owl-carousel mt-30">
            {% for item in page.galleria_3.all %}
              {% if item.image_1 %}
                {% image item.image_1 original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
              {% if item.image_2_2 %}
                {% image item.image_2_2 original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
              {% if item.image_3_3 %}
                {% image item.image_3_3 original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
              {% if item.image_4_4 %}
                {% image item.image_4_4 original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
            {% endfor %}
          </div>

          <h3 style="color: #fff;">{{ page.banner_title10|richtext }}</h3>
          <h4 style="color: #fff;">{{ page.TS_info7 }}</h4>
          <div>{{ page.info_title10|richtext }}</div>

          <h3 style="color: #fff;">{{ page.banner_title11|richtext }}</h3>
          <h4 style="color: #fff;">{{ page.TS_info8 }}</h4>
          <div>{{ page.info_title11|richtext }}</div>

          {% if settings.webapp.GlobalLinksSettings.start_project_SBM %}
            <p class="mt-40">
              <a href="{{ settings.webapp.GlobalLinksSettings.start_project_SBM }}"
                 class="btn btn-color btn-rounded">
                {% trans "Start a Project" %}
              </a>
            </p>
          {% endif %}

        
          <div class="portfolio-slider owl-carousel mt-40">
            {% for item in page.galleria_3.all %}
              {% if item.image %}
                {% image item.image original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
              {% if item.image_2 %}
                {% image item.image_2 original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
              {% if item.image_3 %}
                {% image item.image_3 original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
              {% if item.image_4 %}
                {% image item.image_4 original as img %}
                <img src="{{ img.url }}" class="img-responsive">
              {% endif %}
            {% endfor %}
          </div>

          <hr>
          <h3>{{ page.banner_title12|richtext }}</h3>
          <div>{{ page.info_title12|richtext }}</div>

          <hr>
          <h3>{{ page.banner_title13|richtext }}</h3>
          <div>{{ page.info_title13|richtext }}</div>
          <a href="{% slugurl 'manifiesto' %}" class="btn btn-color btn-rounded">{% trans "Learn more" %}</a>

          <hr>
          <h3>{{ page.banner_title14|richtext }}</h3>
          <div>{{ page.info_title14|richtext }}</div>
          <a href="{% slugurl 'historia' %}" class="btn btn-color btn-rounded">{% trans "Learn more" %}</a>

          <hr>
          <h3>{{ page.banner_title15|richtext }}</h3>
          <div>{{ page.info_title15|richtext }}</div>
          <a href="{% slugurl 'products' %}" class="btn btn-color btn-rounded">{% trans "Learn more" %}</a>

        </div>
      </div>
    </div>
  </section>

  
  <section class="pt-50 pb-50 default-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="subtitle">{% trans "Become a Smart IT Cloud Business" %}</p>
          <h3>{% trans "Let’s build your cloud future together." %}</h3>
        </div>
        <div class="col-md-6 text-right">
          <a href="{{ settings.webapp.GlobalLinksSettings.contacus }}"
             class="btn btn-rounded btn-white">
            {% trans "Register now" %}
          </a>
        </div>
      </div>
    </div>
  </section>

</div>

{% include "webapp/home/footer_section.html" %}
{% endblock %}
