
{% load widget_tweaks %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}


<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/login_css/css/mail.css' %}">
  </head>
  <body>
    <div class="email-container">
      <div class="email-header">
        <img src="{% static 'css/logo_smartquailred.png' %}" alt="SmartQuail Logo">
      </div>
 <hr class="divider">

{% block content %}
{% endblock %}


<hr class="divider">


<p class="legal">
 © 2026 SmartQuail, Inc. Todos los derechos reservados.<br>
 Este es un mensaje automático, por favor no responda.
</p>

<div class="contact-info">
 <a href="https://ec.smartquail.io" target="_blank">
<img src="{% static 'img/BA-LOGOS/logo_sq_header.png' %}" alt="SmartQuail Logo" width="110px">
</a>
</div>
     <div class="social-icons">
<a href="https://wa.me/593963521262" target="_blank" rel="noopener" alt="Facebook">
 <img src="{% static 'assets/images/whatsapp.png' %}" alt="WhatsApp" style="width:16px; height:16px;">
</a>

       <a href="https://linkedin.com/company/smartquail" target="_blank" >
         <img src="{% static 'assets/images/linkedin.png' %}" alt="LinkedIn" style="width:16px; height:16px;">
       </a>
       <a href="https://facebook.com/smartquail" target="_blank">
         <img src="{% static 'assets/images/instagram.png' %}" alt="Facebook" style="width:16px; height:16px;">
       </a>
         <a href="https://facebook.com/smartquail" target="_blank">
         <img src="{% static 'assets/images/twitter.png' %}" alt="Facebook" style="width:16px; height:16px;">
       </a>
     </div>



    </div>
  </body>
</html>
