
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}
<!doctype html>
<html lang="en" class="light-theme">



<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- loader-->
  <link href="{% static 'assets/login_css/css/pace.min.css' %}" rel="stylesheet" />
  <script src="{% static 'assets/js/pace.min.js' %}"></script>

  <!--plugins-->
  <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />

  <!-- CSS Files -->
  <link href="{% static 'assets/login_css/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/login_css/css/bootstrap-extended.css' %}" rel="stylesheet">
  <link href="{% static 'assets/login_css/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/login_css/css/icons.css' %}" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <title>SmartQuail - Register</title>
</head>

<body>



    <!--start wrapper-->

  <!--end wrapper-->

  <!--start wrapper-->
  <div class="wrapper">
  

     
      {% block content %}
      {% endblock %}

      
  </div>



  <!--end wrapper-->

{% block script %}{% endblock %}

  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>