
{% load widget_tweaks %}
{% load static %}


<footer class="footer" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    background-color: #2e2e2e;
    color: #fff;
">
  <!-- Logo centrado -->
  <div class="footer-logo" style="margin-bottom: 0rem;">
    <a href="https://ec.smartquail.io" class="hover:underline">
      <img src="{% static 'assets/images/footer_logo.png' %}" 
           alt="Logo del proveedor" 
           style="width: 80px; display: block; margin: 0 auto;" />
    </a>
  </div>

  <!-- Texto centrado debajo del logo -->
  <div class="footer-text" style="font-size: 6px; line-height: 1;">
    <strong>2025 ® Todos los Derechos Reservados, UIO-EC</strong>
  </div>
</footer>


  <!--end footer-->