
{% load widget_tweaks %}
{% load static %}


<footer class="footer">
  <div class="footer-text">
   
<p style="line-height: 0.8;margin-bottom: 0rem;"> 
  <a href="https://ec.smartquail.io" class="text-blue-600 hover:underline">
    <img src="{% static 'assets/images/SQLOGORED2.png' %}"  alt="Logo del proveedor" style="width: 120px;" />
  </a>
</p>
<p style="font-size: 10px; line-height: 0.8; margin-top: 0; margin-bottom: 0;">
  <strong> 2025 ® Todos los Derechos Reservados, Ecuador</strong>
</p>
   
  </div>
</footer>
  <!--end footer-->