{% extends "base_dash_parther.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Aplicativo para la administración de gestión de información cultural{% endblock %}

{% block content %}

<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">

  <div class="col-md-8">
    <h2 class="display-4 mt-3"><ion-icon name="cloud-download-outline"></ion-icon> ITC Business Projects </h2>
    <p id="typewriter" style="color:#fff;"> <ion-icon name="chatbox-ellipses-outline"></ion-icon></p>
  </div>
  
    <div class="card radius-10">
      <div class="card-body">

{% if all_projects or projects_in_progress %}

    {% for project in all_projects %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4 mb-4">

        <!-- 🔵 1 — Estado del Proyecto -->
        <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white"> Meddes® (I+D)+A</p>
                            <h4 class="mb-0 text-white">Activo</h4>
                            <p class="mb-1 text-white">app.meddes.com.ec <ion-icon name="shield-checkmark-sharp"></ion-icon> </p>
                        </div>
                        <div class="ms-auto text-white fs-2">
                            <button class="btn btn-primary" type="button" disabled=""> <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                  </button>
                        </div>
                    </div>
                    <hr class="text-white">
                    <p class="mb-0 text-white"><strong>Progreso:</strong> {{ project.progress }}% (Producción)</p>
                    <div class="progress my-0" style="height: 6px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ project.progress }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>

        <!-- 🟣 2 — Uso de Recursos Cloud -->
        <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white">Latencia Max (100 usuarios)</p>
                            <h4 class="mb-0 text-white">814 ms </h4>
                            <p class="mb-1 text-white">última revision: 07/11/25   <ion-icon name="checkmark-done-outline"></ion-icon></p>
                        </div>
                        <div class="ms-auto text-white fs-2">
                            <ion-icon name="shuffle-outline"></ion-icon>
                        </div>
                    </div>
                    <hr class="text-white">
                                        <p class="mb-0 text-white"><strong>Uso de recursos:</strong> 30% (Producción)</p>
                    <div class="progress my-0" style="height: 6px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>

        <!-- 🟢 3 — Seguridad y Monitoreo -->
        <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white">Almacenamiento  <ion-icon name="shield-checkmark-sharp"></ion-icon> </p>
                            <h4 class="mb-0 text-white">25 GB </h4>
                               <p class="mb-1 text-white">Respaldo: 2:00 am / 24hs <ion-icon name="sync-outline"></ion-icon></p>
                        </div>
                        <div class="ms-auto text-white fs-2">
                           <ion-icon name="server-outline"></ion-icon>
                        </div>
                    </div>
                    <hr class="text-white">
                    <p class="mb-0 text-white"><strong>Uso de recurso Bucket:</strong> 5% (5 GB)</p>
                    <div class="progress my-0" style="height: 6px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>

        <!-- ⚫ 4 — Estado de Pago -->
          <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white">Procesamiento (vCPU/Intel) </p>
                            <h4 class="mb-0 text-white">1000m </h4>
                               <p class="mb-1 text-white">Servidor Público Dedicado</p>
                        </div>
                        <div class="ms-auto text-white fs-2">
                           <ion-icon name="hardware-chip-outline"></ion-icon>
                        </div>
                    </div>
                    <hr class="text-white">
                    <p class="mb-0 text-white"><strong>Uso de recurso vCPU:</strong> 95% (978m)</p>
                    <div class="progress my-0" style="height: 6px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}

    {% for project in projects_in_progress %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4 mb-4">

        <!-- 🔵 1 — Estado del Proyecto -->
        <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white">{{ project.name }}</p>
                            <h4 class="mb-0 text-white">En Progreso</h4>
                        </div>
                        <div class="ms-auto text-warning fs-2">
                           <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
                        </div>
                    </div>
                    <hr class="text-white">
                    <p class="mb-0 text-white"><strong>Progreso:</strong> {{ project.progress }}% (Desarollo)</p>
                    <div class="progress mb-3" style="height:7px;">
									<div class="progress-bar bg-warning" role="progressbar" style="width: {{ project.progress }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
                </div>
            </div>
        </div>

        <!-- 🟣 2 — Cloud -->
        <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white">Cloud</p>
                            <h4 class="mb-0 text-white">N/D</h4>
                        </div>
                        <div class="ms-auto text-white fs-2">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                        </div>
                    </div>
                    <hr class="text-white">
                    <p class="mb-0 text-white"><strong>Uso:</strong> Información no disponible</p>
                </div>
            </div>
        </div>

        <!-- 🟢 3 — Seguridad -->
        <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white">Seguridad</p>
                            <h4 class="mb-0 text-white">Sin Alertas</h4>
                        </div>
                        <div class="ms-auto text-white fs-2">
                            <ion-icon name="shield-checkmark-sharp"></ion-icon>
                        </div>
                    </div>
                    <hr class="text-white">
                    <p class="mb-0 text-white"><strong>Monitoreo:</strong> OK</p>
                </div>
            </div>
        </div>

        <!-- ⚫ 4 — Estado de Pago -->
        <div class="col">
            <div class="card radius-10 bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-1 text-white">Estado de Pago</p>
                            <h4 class="mb-0 text-white">
                                {% if project.product %}
                                    Pagado
                                {% else %}
                                    No pagado
                                {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto text-white fs-2">
                            <ion-icon name="card-sharp"></ion-icon>
                        </div>
                    </div>
<p class="mb-0 text-white"><strong>Producto:</strong>
    {% if project.product %}
        {{ project.product.name }}
    {% else %}
        N/A
    {% endif %}
</p>

                </div>
            </div>
        </div>

    </div>
    {% endfor %}

{% else %}

    <!-- SIN PROYECTOS -->
    <div class="alert alert-warning text-center">
        No tienes proyectos creados.
        <br>
        <a href="{% url 'business_customer_projects:create_project' %}" class="btn btn-primary mt-2">
            Crear Proyecto
        </a>
    </div>

{% endif %}


      </div>
    </div>

    <div class="col-md-8">
    <h2 class="display-4 mt-3"> <ion-icon name="cloud-upload-outline"></ion-icon> ITC Business Products</h2>
  </div>
  
    <div class="card radius-10">
      <div class="card-body">
<div class="row row-cols-1 row-cols-lg-3">

<a href="{% url 'saas_shop:product_list' %}">
            <div class="col">
              <div class="card radius-10 bg-primary">
                <div class="card-body text-white">
                   <div class="service-box bg-white text-primary">
                    <ion-icon name="browsers-outline"></ion-icon>
                   </div>
                   <h5>Business Software</h5>
                   <p class="mb-0">
                   Potentes sistemas de Planificación de Recursos Empresariales (ERP) y avanzadas plataformas de Gestión de Contenidos y 
                   Relaciones con Clientes (CRM).
                   </p>
                </div>
              </div>
            </div>
</a>

<a href="{% url 'saas_shop:product_list' %}">

            <div class="col">
              <div class="card radius-10 bg-primary">
                <div class="card-body text-white">
                   <div class="service-box bg-white text-primary">
                   <ion-icon name="grid-outline"></ion-icon>
                   </div>
                   <h5>Business Platforms  </h5>
                   <p class="mb-0">
                    Obtén la Suite completa (ERP + CRM + WebApp) y transforma tus procesos reales de negocio en una experiencia de usuario sólida, integrada y altamente atractiva para tus clientes.
                   </p>
                </div>
              </div>
            </div>
</a>

<a href="{% url 'saas_shop:product_list' %}">
            <div class="col">
              <div class="card radius-10 bg-primary">
                <div class="card-body text-white">
                   <div class="service-box bg-white text-primary">
                    <ion-icon name="cube-outline"></ion-icon>
                   </div>
                   <h5>Business Infrastructure</h5>
                   <p class="mb-0">
                    Adquiere independencia y soberanía digital con tu propia infraestructura en la nube, totalmente configurada para gestionar tus procesos sin depender de servidores públicos dedicados.
                    </p>
                </div>
              </div>
            </div>
</a>


         </div>

  <div class="col-md-8">
    <h2 class="display-4 mt-3"><ion-icon name="logo-rss"></ion-icon> ITC Business News </h2>
  </div>


         <div class="row row-cols-1 row-cols-lg-3">
              <div class="col">
               <div class="card radius-10">
                 <div class="card-body">
                  <img src="assets/images/cards/15.png" class="img-fluid radius-10" alt="...">
                  <div class="text-center mt-4">
                    <h5 class="card-title">Fire Up Your Motivation</h5>
                    <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <a href="component-cards.html#" class="btn btn-dark px-4 radius-10">Read More</a>
                  </div>
                 </div>
               </div>
              </div>
              <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                   <img src="assets/images/cards/16.png" class="img-fluid radius-10" alt="...">
                   <div class="text-center mt-4">
                     <h5 class="card-title">Fire Up Your Motivation</h5>
                     <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                     <a href="component-cards.html#" class="btn btn-warning px-4 radius-10">Read More</a>
                   </div>
                  </div>
                </div>
               </div>
               <div class="col">
                <div class="card radius-10">
                  <div class="card-body">
                   <img src="assets/images/cards/17.png" class="img-fluid radius-10" alt="...">
                   <div class="text-center mt-4">
                     <h5 class="card-title">Fire Up Your Motivation</h5>
                     <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                     <a href="component-cards.html#" class="btn btn-info px-4 radius-10">Read More</a>
                   </div>
                  </div>
                </div>
               </div>
           </div>
      </div>
    </div>


  </div>
  <!-- end page content-->
</div>



<script>
document.addEventListener("DOMContentLoaded", function () {

    function typeWriterEffect(elementId, text, speed) {
        let index = 0;
        function type() {
            if (index < text.length) {
                document.getElementById(elementId).innerHTML += text.charAt(index);
                index++;
                setTimeout(type, speed);
            }
        }
        type();
    }

   
    const text_start = `Hola, {{ request.user.first_name }}  . He seleccionado los productos de TI en la nube que mejor se ajustan a las necesidades registradas en tu perfil. Ingresa a cada producto para explorar las demostraciones y conocer más sobre la metodología que utilizamos para implementar soluciones personalizadas para tu proyecto o negocio.`;
    typeWriterEffect("typewriter", text_start, 35);


});
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const btnCambiarFoto = document.getElementById("btnCambiarFoto");
    const inputPhoto = document.getElementById("id_photo");
    const previewImg = document.querySelector(".user-change-photo img");

    btnCambiarFoto.addEventListener("click", function () {
        inputPhoto.click();
    });

    inputPhoto.addEventListener("change", function (e) {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                previewImg.src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
});
</script>

 
{% endblock %}