{% extends "base_dash.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Aplicativo para la administración de gestión de información cultural{% endblock %}

{% block content %}

<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">

    <!--start breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">Inicio</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0 align-items-center">
            <li class="breadcrumb-item"><a href="javascript:;">
                <ion-icon name="home-outline"></ion-icon>
               
              </a>
              
            </li>
            
            <li class="breadcrumb-item active" aria-current="page"></li>
            Aplicativo para la administración de gestión de información cultural
          </ol>
          
        </nav>
      </div>

    </div>
  
    <div class="card radius-10">
      <div class="card-body">
<div class="row row-cols-1 row-cols-lg-4">
          <div class="col">
            <div class="card radius-10 bg-purple">
              <div class="card-body text-white">
                 <div class="service-box bg-white text-purple">
                  <ion-icon name="book-sharp" role="img" class="md hydrated" aria-label="book sharp"></ion-icon>
                 </div>
                 <h5>Best Services</h5>
                 <p class="mb-0">Horses famous for their size and quality are reared in the marshes of Aurich and Stade, in Hildesheim and Hanover; and, for breeding purposes, in the stud farm of Celle.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10 bg-danger">
              <div class="card-body text-white">
                 <div class="service-box bg-white text-danger">
                  <ion-icon name="camera-sharp" role="img" class="md hydrated" aria-label="camera sharp"></ion-icon>
                 </div>
                 <h5>Organized Content</h5>
                 <p class="mb-0">Horses famous for their size and quality are reared in the marshes of Aurich and Stade, in Hildesheim and Hanover; and, for breeding purposes, in the stud farm of Celle.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10 bg-bronze">
              <div class="card-body text-white">
                 <div class="service-box bg-white text-bronze">
                  <ion-icon name="fish-sharp" role="img" class="md hydrated" aria-label="fish sharp"></ion-icon>
                 </div>
                 <h5>Super Fast</h5>
                 <p class="mb-0">Horses famous for their size and quality are reared in the marshes of Aurich and Stade, in Hildesheim and Hanover; and, for breeding purposes, in the stud farm of Celle.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10 bg-dark">
              <div class="card-body text-white">
                 <div class="service-box bg-white">
                  <ion-icon name="headset-sharp" role="img" class="md hydrated" aria-label="headset sharp"></ion-icon>
                 </div>
                 <h5>Fast Development</h5>
                 <p class="mb-0">Horses famous for their size and quality are reared in the marshes of Aurich and Stade, in Hildesheim and Hanover; and, for breeding purposes, in the stud farm of Celle.</p>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>


  </div>
  <!-- end page content-->
</div>






 
{% endblock %}