{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
<div class="page-content-wrapper">
  <div class="page-content">

    <!-- Breadcrumb -->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">
        <ion-icon name="card"></ion-icon>  Servicios Negocios ITC
      </div>
      <div class="ps-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 p-0 align-items-center">

                <li class="breadcrumb-item active" aria-current="page">Confirmación de Pago</li>
              </ol>
            </nav>
          </div>

    </div>

    <!-- Nav pills -->
    <ul class="nav nav-pills mb-2 text-success rounded bg-light-success" id="custom-tabs" role="tablist">

      <li class="nav-item" role="presentation">
        {% if payment.invoice_file %}
         {% if not payment.pago_verificado %}
       
                 <a href="{{ payment.invoice_file.url }}" class="btn btn-warning btn-sm" download>
                    <ion-icon name="alert-circle-outline"></ion-icon>
           <ion-icon name="document-outline"></ion-icon>
              {{ payment.invoice_number }}
        </a>
             
            {% else %}
             
            
                      <a href="{{ payment.invoice_file.url }}" class="btn btn-success btn-sm" download>
                          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
           <ion-icon name="document-outline"></ion-icon>
              {{ payment.invoice_number }}
        </a>
              
              {% endif %}
    {% else %}
        <span class="text-muted">No disponible</span>
    {% endif %}


    
      </li>

    </ul>


    
    <!-- Tab content -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab-orderlist" role="tabpanel">
        <hr class="my-4">
        <div class="card radius-10">
          <div class="card-body">

           <div class="table-responsive" >
              <table class="table table-invoice" style="overflow-x:auto; white-space: nowrap;">
                <thead>
                  <tr>
                    <th>PROYECTO ITC</th>
                    <th class="text-center" width="10%">SERVICIO</th>
                    <th class="text-right" width="20%">TOTAL A PAGAR</th>
            
                  </tr>
                </thead>
                <tbody>
   <!-- En tu <tbody> -->
<tr>

{% for item in cart %}
    {% with order=item.payment_order %}
    <td>
        {{ order.project }}
    </td>

    <td>
        {{ order.get_service_type_display }}
    </td>

        <td>
        ${{ item.total_price|floatformat:2 }}
    </td>

   {% endwith %}
{% endfor %}






</tr>

                </tbody>
              </table>

              <!-- Resumen total -->
              <div class="row bg-light align-items-center m-0 mt-3">
                <div class="col col-auto p-4">
                                                       <form method="POST" action=".">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                <input type="text" name="code" class="form-control" placeholder="Código de descuento" required>
                                                <button type="submit" class="btn btn-outline-primary">Aplicar Beneficio</button>
                                            </div>
                                        </form>
                                        {% if message %}
                                        <div class="mt-2"><p>{{ message }}</p></div>
                                        {% endif %}
                                        {% if coupon_apply_form.errors %}
                                        <div class="text-danger mt-1">
                                            {{ coupon_apply_form.errors }}
                                        </div>
                                        {% endif %}
                </div>
                <div class="col col-auto p-4">
                  <i class="bi bi-plus-lg text-muted"></i>
                </div>
                <div class="col col-auto me-auto p-4">

                </div>



                <div class="col bg-success col-auto p-4">
                                                             <p class="mb-2">Subtotal <span class="float-end">${{ total|floatformat:2 }}</span></p>
                                            {% if discount > 0 %}
                                            <p class="mb-2 text-success">Descuento <span class="float-end">-${{ discount|floatformat:2 }}</span></p>
                                            {% endif %}
                                            <h5 class="mb-0">Total a pagar <span class="float-end">${{ total_after_discount|floatformat:2 }}</span></h5>
                                             <a href="{% url 'services_payment:process' %}" class="btn btn-primary btn-ecomm">
                                                <ion-icon name="cart-outline"></ion-icon> Realizar Orden
                                            </a>
                </div>
            

               
              </div><!--end row-->
                


              <hr>
              <!-- invoice-note -->

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
