{% load filters %}
<div class="bg-white border border-base-200 flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs light:bg-base-900 light:border-base-800">
  <div class="grow relative">
    <div class="max-h-[600px] overflow-auto">
      <table class="border-collapse w-full min-w-[900px]">
        <thead class="sticky top-0 z-10">
          <tr class="bg-base-50 dark:bg-base-800">
            <th class="border border-dashed border-base-200 bg-white dark:bg-base-900 sticky left-0 z-20"></th>
            {% for hora in horas %}
              <th class="border border-dashed border-base-200 font-normal px-3 py-2 text-left bg-white dark:bg-base-900 text-font-important-light dark:text-font-important-dark">
                <div class="font-semibold truncate">{{ hora }}</div>
                <div class="mt-0.5 text-xs truncate">{{ hora }}</div>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for dia in dias %}
            <tr>
              <td class="border border-dashed border-base-200 sticky left-0 z-10 bg-white dark:bg-base-900 px-3 py-2">
                <div class="font-semibold text-font-important-light truncate dark:text-font-important-dark">
                {{ dia|date:"j \\d\\e F " }}
                </div>
                <div class="mt-0.5 text-xs">{{ dia|date:"l" }}</div>
              </td>

              {% with dia_str=dias_str_map|get_item:dia %}
                {% with dia_agenda=agenda|get_item:dia_str %}
                  {% for hora in horas %}
                    <td class="border border-dashed border-base-200 align-top px-3 py-2 bg-white dark:bg-base-900">
                      {% with citas=dia_agenda|get_item:hora %}
                        {% if citas %}
                          {% for cita in citas %}
                            <div class="flex flex-col justify-center px-2 py-2 mb-2 rounded-default
                              {% if cita.estado == 'Pendiente' %}
                                bg-blue-600
                              {% elif cita.estado == 'Confirmada' %}
                                bg-green-600
                              {% elif cita.estado == 'Cancelada' %}
                                bg-red-600
                              {% else %}
                                bg-gray-500
                              {% endif %}
                              text-white dark:text-base-600">
                              <span><strong>Cita #{{ cita.id }}</strong></span>
                              <span class="mt-0.5 truncate"><strong>De:</strong> {{ cita.creador }}</span>
                              <span class="mt-0.5 truncate"><strong>Para:</strong> {{ cita.destinatario }}</span>
                              <span class="mt-0.5 truncate"><strong>Motivo:</strong> {{ cita.motivo }}</span>
                              <span class="mt-0.5 text-xs italic truncate">{{ cita.tipo_cita }}</span>
                              <span class="mt-0.5 text-xs italic">{{ cita.estado }}</span>
                            </div>
                          {% endfor %}
                        {% else %}
                          <div class="text-gray-400 text-xs">–</div>
                        {% endif %}
                      {% endwith %}
                    </td>
                  {% endfor %}
                {% endwith %}
              {% endwith %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
