{% extends "sblshop/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
{% include 'webapp/home/header.html' %}

<style>

body {
  color: #e23185;
  font-size: 15px;
  font-family: 'Hind', sans-serif;
  text-align: justify;
  background-color: #0d0d0d;
}
 
  section {
   padding-top: 120px;
   padding-bottom: 120px;
   position: relative;
   z-index: 10;
   background:#212121;
 }

 .dark-bg {
  background-color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  color: #f8c44d;
  margin: 10px 0;
  font-style: normal;
  font-family: 'Jost', sans-serif;
}


.grey {
  color: #f15a24 !important;
}

.btn-color {
  color: #fff;
  border-color: #f15a24;
  background-color: #f15a24;
}

strong {
  color: #fff;
}

.blog-cover-bg {
  background-image: url('{{ product.background.url }}');
}

.white-bg {
  background-color: #0d0d0d;
}

.panel-default > .panel-heading {
  color: #fbec15;
  background-color: #0d0d0d;
  border-color: #f15a24;
}

.panel-default {
  border-color: #0d0d0d;
}

.panel-default {
  border-color: #0d0d0d;
}

.panel {
  margin-bottom: 20px;
  background-color: #327f9c;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.accordion-color .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 1px solid #353535;
  background: #353535;
}
 
  </style>



<section class="blog-cover-bg" data-stellar-background-ratio="0.1">
  <div class="container">
   
    <h2 class="subtitle" style ="line-height: 31px ; color:#f1f1f1;">Planificador administrativo y legal (ELP)</h2>
    <div class="row">

      <div class="col-md-6">
        <div class="product-slider flexslider">
          <ul class="slides">
            <li data-thumb="{{ product.image.url }}"> <img src="{{ product.image.url }}" class="img-responsive" alt="single-product" /> </li>
            <li data-thumb="{{ product.image1.url }}"> <img src="{{ product.image1.url }}" class="img-responsive" alt="single-product" /> </li>
            <li data-thumb="{{ product.image2.url }}"> <img src="{{ product.image2.url }}" class="img-responsive" alt="single-product" /> </li>
            <li data-thumb="{{ product.image3.url }}"> <img src="{{ product.image3.url }}" class="img-responsive" alt="single-product" /> </li>
          </ul>

          
        </div>
        <p>
          {% trans 'El ecosistema de información que transforma tus datos administrativos y legales en un activo con un retorno de inversión de entre el 150% y el 600%, garantizado.' %}
        </p>

        

       


      </div>
      <div class="col-md-6">
       
        <h3> <i class="icofont font-50px default-icon"></i> Ecosistema SmartBusinessLaw para {{product.category }}</h3>

        <div class="panel-group accordion-color mt-50" id="accordion-color">

          <div class="panel panel-default ">
        
            <div class="panel-heading">
             
              <h3 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseOne"> 
                  Arquitectura: {{ product.name }}  </a>
                 </h3>
                
            </div>
  
            
            <div id="collapseOne" class="panel-collapse collapse ">
              
              <div class="panel-body">
                <p style="line-height: 16px;color: #fff;">{{ product.description|richtext }}</p> 
              </div> 
            </div>
          </div>

          <div class="panel panel-default ">
            <div class="panel-heading">
              <h3 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseTwo"> 
                  {% trans 'Infraestructura Tecnológica' %} </a>
                 </h3> 
            </div>
            <div id="collapseTwo" class="panel-collapse collapse ">
              <div class="panel-body">
                <p style="line-height: 10px;color: #fff;">{{ product.cloud_technologies|richtext }}</p>
              </div>
             
              
            </div>
          </div>

          <div class="panel panel-default ">
        
            <div class="panel-heading">
             
              <h3 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseTree"> 
                  {% trans 'Gobernanza IT y Garantías' %} </a>
                 </h3>
                
            </div>
  
            
            <div id="collapseTree" class="panel-collapse collapse ">
              
              <div class="panel-body">
              
                
                <p style="line-height: 10px;color: #fff;">{{ product.cloud_requirements|richtext }}</p>                 
              </div>
             
              
            </div>
          </div>

        </div>
        <p>{% trans 'Lleva tus activos legales y administrativos a la nube en cuestión de minutos. Adquiere nuestra licencia ITC' %} {{product.name }} </p>
        <h3 class="grey">{% trans 'Valor de Inversión'  %}:  {{ product.price }} $USD </h3>
        
    
        {% if product.coupon %}
        <p>{% trans "This product subscription includes a promotional discount—don't miss out on this opportunity!" %}</p>
        <h5>{% trans "Promotional Expire at" %}: {{ product.coupon.valid_from }} </h5>
       {% endif %}

      
        <p ><strong style="color:#f15a24">{% trans 'Para explorar la versión demo en tiempo real y obtener la licencia del producto, inicia sesión en nuestra plataforma de gestión de activos digitales Negocios ITC.' %}</strong></p>




       <a class="btn btn-outline-white  btn-default" href="{% url 'sblshop:product_list' %}#SBL"  ><i class="icon icofont-arrow-left"></i>  {% trans 'Volver' %}</a>
       <a class="btn btn-outline-blue btn-default" href="{% url 'usuarios:login' %}">  {% trans 'Iniciar Sesión' %} <i class="icon icofont-arrow-right"></i>  </a>
  
         
      

      

      </div>

    </div>
  </div>
</section>


{% include 'webapp/home/footer_section.html' %}




{% endblock %}