<section id="Choose" class="black-bg">
  <div class="container">
    <div class="row">
     <div class="col-md-6">
    <h1>{% trans "Empecemos" %}</h1>
    <p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
        {% trans 'Descubre SmartBusinessLaw®, el ERP legal inteligente diseñado para administrar y gestionar en tiempo real todos los procesos legales de tu organización, integrando investigación y desarrollo (I+D) directamente en tu flujo de trabajo.' %}
    </p>

    <p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
        {% trans 'Con la automatización avanzada, SmartBusinessLaw® permite generar contratos de manera automática y gestionar cada etapa del proceso legal con eficiencia y seguridad. Además, su inteligencia artificial analiza datos históricos y predice posibles resultados legales, brindándote la capacidad de tomar decisiones proactivas y estratégicas.' %}
    </p>

    <p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
        {% trans 'Simplifica la gestión legal, aumenta la productividad y lleva la operación de tu área jurídica al siguiente nivel con una plataforma que combina innovación, automatización y análisis predictivo.' %}
    </p>

        <p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
        {% trans 'Cumple con la Ley de Protección de Datos de Ecuador, garantizando los derechos ARCO de tus clientes, y está respaldado por la certificación ISO 27001, que asegura la confidencialidad, integridad y disponibilidad de toda tu información.' %}
    </p>

    <h3 class="text-uppercase font-700 mt-0 wow fadeIn" data-wow-delay="0.1s">
        {% trans 'Donde la información legal se convierte en decisiones inteligentes.' %}
    </h3>

    <div class="panel-group accordion-color mt-50" id="accordion-color">
        <div class="panel panel-default">
            {% for c in categories %}
            <div class="panel-heading">
                {% if c.title == 'Pre-Seed' %}
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseOne"> 
                        {{ c.title }} (1-{{c.name }} {% trans 'Clientes' %} / 1-{{ c.name }} {% trans 'Empleados' %})  
                    </a>
                </h3>
                {% else %}
                {% endif %}
            </div>
            {% endfor %}
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for c in categories %}
                    <p style="line-height: 10px;color: #333;">{% if c.title == 'Pre-Seed' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                    <p style="line-height: 10px;color: #333;">{% if c.title == 'Pre-Seed' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                    <p style="line-height: 10px;color: #333;">{% if c.title == 'Pre-Seed' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                    {% endfor %} 
                </div>
            </div>
        </div>

        <!-- Repetir estructura para Stage y Stage-A como en tu código original -->

    </div>
</div>


        <div class="col-md-6">
               
          <div class="panel-group accordion-color mt-50" id="accordion-color">

            <div class="panel panel-default">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Growth-Stage' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseFour"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseFour" class="panel-collapse collapse">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
           
           
            <div class="panel panel-default">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Growth-Stage-A' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseFive"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseFive" class="panel-collapse collapse">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage-A' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage-A' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage-A' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
  
            <div class="panel panel-default">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Scale-Up' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseSix"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseSix" class="panel-collapse collapse ">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Scale-Up' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Scale-Up' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Scale-Up' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
  
            <div class="panel panel-default ">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Unicorn' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseSeven"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseSeven" class="panel-collapse collapse ">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Unicorn' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Unicorn' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Unicorn' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
  
          
          </div>
  
          </div>
      
    

   
  </div>
</section>



<section  id="Staff" style="background-color: #65615f" >
  <div class="container">
    <div class="row startup-member">
      <div class="col-sm-8 section-heading">
        <h2 class="wow fadeTop josefin-font" data-wow-delay="0.1s">  <img src="{% static 'img/SmartBusinessLaw.png'  %}" > {% trans 'Conócenos' %}</h2>
        <p class="subtitle" style="line-height: 18px; color:#f1f1f1;">{% trans 'Expertos en derecho, cumplimiento normativo y tecnología legal.' %}</p>

      </div>
      {% for staff_item in products_staff %}

      <div class="col-md-3 col-sm-6">
        <div class="member text-center">
          <div class="team-member-container">
            <!-- Aquí debes usar 'staff_item' para acceder a los atributos -->
            <img src="{{ staff_item.ceo_profile_img.url }}" class="img-responsive" alt="team-01">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="icofont icofont-user"></i> See My Profile </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Aquí también debes usar 'staff_item' -->
          <h4 class="member-title">{{ staff_item.ceo_name }} {{ staff_item.ceo_lastname }}</h4>
          <p class="member-subtitle">{{ staff_item.ceo_sector }}</p>
        </div>
      </div>
    {% endfor %}
    

     
      <!--=== Member End ===-->

    


    </div>
  </div>
</section>


