{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="page-content-wrapper">
  <div class="page-content">

    <!-- Breadcrumb -->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">
       <ion-icon name="library-outline"></ion-icon> Biblioteca ITC
      </div>
      <div class="ps-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 p-0 align-items-center">

                <li class="breadcrumb-item active" aria-current="page">SmartQuail ® E-Books</li>
              </ol>
            </nav>
          </div>

    </div>

    <!-- Nav pills -->
    <ul class="nav nav-pills mb-2 text-success rounded bg-light-success" id="custom-tabs" role="tablist">

  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="pill" href="#tab-general" role="tab" aria-selected="true">
      <div class="d-flex align-items-center">
        <div class="tab-title"><ion-icon name="cloud-download-outline"></ion-icon> </div>
      </div>
    </a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="pill" href="#tab-desarrollo" role="tab" aria-selected="false">
      <div class="d-flex align-items-center">
        <div class="tab-title"><ion-icon name="create-outline"></ion-icon>

      
        </div>
      </div>
    </a>
  </li>



  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="pill" href="#tab-automatizacion" role="tab" aria-selected="false">
      <div class="d-flex align-items-center">
        
        <div class="tab-title"><i class="fadeIn animated bx bx-bot"></i></div>
      </div>
    </a>
  </li>


  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="pill" href="#tab-ia" role="tab" aria-selected="false">
      <div class="d-flex align-items-center">
        <div class="tab-title">  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
                                          </div>
      </div>
    </a>
  </li>





<li class="nav-item" role="presentation">
  <a class="nav-link" data-bs-toggle="pill" href="#tab-seguridad" role="tab" aria-selected="false">
    <div class="d-flex align-items-center">
      <ion-icon name="shield-half"></ion-icon>
  

    </div>
  </a>
</li>


<li class="nav-item" role="presentation">
  <a class="nav-link" data-bs-toggle="pill" href="#tab-monitoring" role="tab" aria-selected="false">
    <div class="d-flex align-items-center">
    <ion-icon name="pulse"></ion-icon>

    </div>
  </a>
</li>


<li class="nav-item" role="presentation">
  <a class="nav-link" data-bs-toggle="pill" href="#tab-recursos" role="tab" aria-selected="false">
    <div class="d-flex align-items-center">
      <ion-icon name="shield-checkmark"></ion-icon>
      
    </div>
  </a>
</li>


    </ul>


    
    <!-- Tab content -->
    <div class="tab-content">

<div class="tab-pane fade show active" id="tab-general" role="tabpanel">
{% for noticia in noticias_itc %}
  {% include "noticias/partials/noticia_card.html" %}
{% empty %}

{% endfor %}
  </div>
  

  <div class="tab-pane fade show active" id="tab-desarrollo" role="tabpanel">
{% for noticia in noticias_id %}
  {% include "noticias/partials/noticia_card.html" %}
{% empty %}

{% endfor %}

  </div>

  <div class="tab-pane fade show active" id="tab-automatizacion" role="tabpanel">
{% for noticia in noticias_automatizacion %}
  {% include "noticias/partials/noticia_card.html" %}
{% empty %}   

{% endfor %}  

    </div>


 </div>


  </div>
</div>

{% endblock %}



