
{% extends "shop/base.html" %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}



{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}


{% block content %}



        <!-- start page content wrapper-->
        <div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content">

 

   
            <div class="demo-seprater">
              <h6 class="mb-0 text-uppercase">Cards With Images</h6>
              <div class="my-3 border-bottom"></div>
            </div>



<div class="row row-cols-1 row-cols-lg-3">
  {% for c in categories %}
    <div class="col">
      <div class="card radius-10">
        <div class="card-body">
          <img src="{% if c.image %}{{ c.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid radius-10" alt="{{ c.name }}">
          <div class="text-center mt-4">
            <h5 class="card-title">{{ c.name }}</h5>
            <p class="card-text">{{ c.description }}</p>
            <a href="{{ c.get_absolute_url }}" class="btn btn-dark px-4 radius-10">{% trans 'Leer más' %}</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

         
           

         





          </div>
          <!-- end page content-->
         </div>
         <!--end page content wrapper-->



{% endblock %}