<div class="flex flex-col gap-6 lg:flex-row">
        
            <div class="flex flex-col gap-6 lg:w-1/2">
                
                    <div class="bg-white block flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs dark:bg-base-900 dark:border-base-800 border border-base-200  ">



<div class="grow relative">
    
                        <p class="leading-relaxed mb-0 text-sm">
    
                            Last week revenue
                        
</p>


                        <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark mb-8">
    
                            $1,234.56
                        
</div>


                        <div class="relative w-full">
  <canvas class="chart" data-type="line" data-value="{&quot;labels&quot;: [&quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;, &quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;, &quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;, &quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;], &quot;datasets&quot;: [{&quot;data&quot;: [12, 19, 8, 27, 9, 19, 8, 14, 22, 20, 17, 16, 11, 18, 9, 12, 18, 27, 11, 10, 8, 17, 9, 18, 10, 20, 14, 27], &quot;borderColor&quot;: &quot;var(--color-primary-700)&quot;}]}" style="display: block; box-sizing: border-box; height: 150px; width: 432px;" width="864" height="300"></canvas>
</div>

                    

    

    
</div>


</div>

                
                    <div class="bg-white block flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs dark:bg-base-900 dark:border-base-800 border border-base-200  ">



<div class="grow relative">
    
                        <p class="leading-relaxed mb-0 text-sm">
    
                            Last week expenses
                        
</p>


                        <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark mb-8">
    
                            $1,234.56
                        
</div>


                        <div class="relative w-full">
  <canvas class="chart" data-type="line" data-value="{&quot;labels&quot;: [&quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;, &quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;, &quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;, &quot;Mon&quot;, &quot;Tue&quot;, &quot;Wed&quot;, &quot;Thu&quot;, &quot;Fri&quot;, &quot;Sat&quot;, &quot;Sun&quot;], &quot;datasets&quot;: [{&quot;data&quot;: [-20, -27, -10, -18, -11, -11, -25, -12, -17, -19, -17, -21, -16, -15, -11, -17, -20, -25, -24, -19, -13, -27, -18, -21, -23, -21, -22, -8], &quot;borderColor&quot;: &quot;var(--color-red-500)&quot;}]}" style="display: block; box-sizing: border-box; height: 150px; width: 432px;" width="864" height="300"></canvas>
</div>

                    

    

    
</div>


</div>

                
            </div>
        


        <div class="bg-white block flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs dark:bg-base-900 dark:border-base-800 border border-base-200   lg:w-1/2">


    <div class="border-b border-base-200 flex flex-row items-center mb-6 -mt-6 -mx-6 py-4 px-6 dark:border-base-800">
        <h2 class="font-semibold text-[15px] text-important">
            The most trending products in last 2 weeks
        </h2>

        
    </div>


<div class="grow relative">
    
            <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark mb-2">
    
                $1,234,567.89
            
</div>


            <p class="leading-relaxed mb-0 text-sm">
    
                
                    Total revenue between <strong class="font-semibold text-font-important-light dark:text-font-important-dark dark:text-white">1 - 31 October</strong>. Increase <span class="text-green-700 font-semibold dark:text-green-400">+3.14%</span> comparing to previous month <strong class="font-semibold text-font-important-light dark:text-font-important-dark dark:text-white">1 - 30 September</strong>.
                
            
</p>


            <div class="bg-base-200 dark:bg-base-800 dark:border-base-800 h-px my-6"></div>


            <div class="flex flex-col gap-5">
                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Social marketing e-book
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $3,133.05
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Social marketing e-book: 61%" style="width: 61%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Freelancing tasks
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $5,131.35
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Freelancing tasks: 80%" style="width: 80%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Development coaching
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $1,609.80
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Development coaching: 75%" style="width: 75%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Product consulting
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $6,647.13
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Product consulting: 83%" style="width: 83%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Other income
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $3,207.24
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Other income: 80%" style="width: 80%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Course sales
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $7,966.98
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Course sales: 33%" style="width: 33%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Ads revenue
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $3,960.44
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Ads revenue: 10%" style="width: 10%"></div>
            
        </div>
    
</div>

                
            </div>
        

    

    
</div>


</div>

    </div>