<div class="@container px-4 pb-4 grow">

 <div class="{% if card_included == 1 %}-m-6{% else %} bg-white flex flex-col grow lg:border lg:border-base-200 lg:overflow-hidden lg:rounded-default lg:shadow-xs{% endif %} lg:dark:border-base-800 dark:bg-base-900">
        <div {% if height %}style="max-height: {{ height }}px;" data-simplebar{% endif %}>

<div class="bg-white dark:bg-base-900 border border-base-200 rounded-default shadow-xs p-6">

    {% if title %}
        <h3 class="text-base font-semibold mb-4">{{ title }}: ({{ e.fecha_inicio|date:"d M Y" }} - {{ e.fecha_fin|date:"d M Y" }})</h3>
    {% endif %}

 
    {% if cards %}
        <div class="flex flex-col gap-6 lg:flex-row">
            {% for card in cards %}
                <div class="bg-white block flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs
                            dark:bg-base-900 dark:border-base-800 border border-base-200 lg:w-1/3">
                    <div class="grow relative">
                        <p class="leading-relaxed mb-0 text-sm">{{ card.title }} </p>
                        <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark">
                            {{ card.value }} 
                        </div>
                        {% if card.badge %}
                            <div class="absolute right-0 top-0">
                                <span class="inline-block font-semibold h-6 leading-6 px-2 rounded-default
                                    text-[11px] uppercase whitespace-nowrap
                                    {% if card.badge_color == 'success' %}
                                        bg-green-100 text-green-700 dark:bg-green-500/20 dark:text-green-400
                                    {% elif card.badge_color == 'warning' %}
                                        bg-yellow-100 text-yellow-700 dark:bg-yellow-500/20 dark:text-yellow-400
                                    {% else %}
                                        bg-primary-100 text-primary-700 dark:bg-primary-500/20 dark:text-primary-400
                                    {% endif %}">
                                    {{ card.badge }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    {% if card.footer %}
                        <div class="border-t border-base-200 flex items-center -mb-6 -mx-6 mt-6
                                    pb-2 pt-2 px-6 text-sm dark:border-base-800">
                            <span>{{ card.footer }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}


</div>
<div class="bg-white dark:bg-base-900 border border-base-200 rounded-default shadow-xs p-6">
  <div class="flex flex-col gap-6 lg:flex-row">
        
            <div class="flex flex-col gap-6 lg:w-1/2">
                
                    <div class="bg-white block flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs dark:bg-base-900 dark:border-base-800 border border-base-200  ">



<div class="grow relative">
    
 <p class="leading-relaxed mb-0 text-sm">
    <span class="font-semibold" style="color: #850389;">Ingresos</span>/
    <span class="font-semibold" style="color: #F2C94C;">Egresos</span>/
    <span class="font-semibold" style="color: #6FCF97;">Utilidad Neta</span>
</p>




 


                        <div class="relative w-full">
   <img src="{{ chart_image }}" alt="Ingresos vs Egresos" class="w-full h-auto rounded-default shadow-xs"/>
</div>

                    

    

    
</div>


</div>

                
                    <div class="bg-white block flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs dark:bg-base-900 dark:border-base-800 border border-base-200  ">



<div class="grow relative">
    
                        <p class="leading-relaxed mb-0 text-sm">
    
                            Last week expenses
                        
</p>


                        <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark mb-8">
    
                            $1,234.56
                        
</div>


                        <div class="relative w-full">
<img src="{{ scatter_chart_image }}" alt="Gráfico de Dispersión" class="w-full h-auto" />

</div>

                    

    

    
</div>


</div>

                
            </div>
        


        <div class="bg-white block flex flex-col grow overflow-hidden p-6 relative rounded-default shadow-xs dark:bg-base-900 dark:border-base-800 border border-base-200   lg:w-1/2">


    <div class="border-b border-base-200 flex flex-row items-center mb-6 -mt-6 -mx-6 py-4 px-6 dark:border-base-800">
        <h2 class="font-semibold text-[15px] text-important">
            The most trending products in last 2 weeks
        </h2>

        
    </div>


<div class="grow relative">
    
            <div class="font-semibold text-2xl text-font-important-light tracking-tight dark:text-font-important-dark mb-2">
    
                $1,234,567.89
            
</div>


            <p class="leading-relaxed mb-0 text-sm">
    
                
                    Total revenue between <strong class="font-semibold text-font-important-light dark:text-font-important-dark dark:text-white">1 - 31 October</strong>. Increase <span class="text-green-700 font-semibold dark:text-green-400">+3.14%</span> comparing to previous month <strong class="font-semibold text-font-important-light dark:text-font-important-dark dark:text-white">1 - 30 September</strong>.
                
            
</p>


            <div class="bg-base-200 dark:bg-base-800 dark:border-base-800 h-px my-6"></div>


            <div class="flex flex-col gap-5">
                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Social marketing e-book
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $3,133.05
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Social marketing e-book: 61%" style="width: 61%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Freelancing tasks
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $5,131.35
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Freelancing tasks: 80%" style="width: 80%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Development coaching
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $1,609.80
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Development coaching: 75%" style="width: 75%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Product consulting
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $6,647.13
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Product consulting: 83%" style="width: 83%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Other income
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $3,207.24
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Other income: 80%" style="width: 80%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Course sales
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $7,966.98
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Course sales: 33%" style="width: 33%"></div>
            
        </div>
    
</div>

                
                    <div class="flex flex-col gap-2 relative w-full ">
    
        <div class="flex flex-row relative z-20">
            
                <h3 class="text-font-important-light dark:text-font-important-dark text-sm">
                    Ads revenue
                </h3>
            

            
                <strong class="bg-base-100 font-medium text-font-important-light ml-auto px-1.5 py-1 rounded-default text-xs dark:text-font-important-dark dark:bg-base-800">
                    $3,960.44
                </strong>
            
        </div>
    

    
        <div class="bg-base-100 flex flex-row overflow-hidden rounded-default dark:bg-base-800">
            
                <div class="h-1.5 bg-primary-600 rounded-default z-10 last:rounded-r-default dark:bg-primary-500 " title="Ads revenue: 10%" style="width: 10%">

                </div>
            
        </div>

                                <div class="relative w-full">
<img src="{{ pie_chart_image }}" alt="Gráfico de Dispersión" class="w-full h-auto" />

</div>
    
</div>

                
            </div>
        

    

    
</div>


</div>

    </div>
</div>

</div>

</div>
</div>