{% load i18n %}
{% load static %}
    
    
    <!-- TAB: Información -->
    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="tab-description">
        <div class="card" style="background-color: #2e2e2e;">
          <div class="card-body p-4" style="color:#ededed;text-align:justify;font-family:'Segoe UI',sans-serif;font-size:14px;line-height:1.2;background-color:#2e2e2e;border-radius:25px;">
  
            <div class="product-detail-card">
    <div class="product-detail-body">
      <div class="row g-0">
  
        <!-- Imagen principal con carousel -->
        <div class="col-12 col-lg-5">
          <div class="image-zoom-section">
            <div class="product-gallery border rounded mb-3 p-3">
  
              <!-- INICIO DEL CAROUSEL -->
              <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
  
                  {% if product.image %}
                  <div class="carousel-item active">
                    <div class="image-container position-relative mb-3">
                      <img src="{{ product.image.url }}" class="d-block w-100 img-fluid" alt="Imagen principal del producto">
                      <a href="{% url 'admin:index' %}" class="play-button position-absolute top-50 start-50 translate-middle">
                        <ion-icon name="play-circle-outline" style="font-size:48px;color:#ffab4d;"></ion-icon>
                      </a>
                    </div>
                  </div>
                  {% endif %}
  
                  {% if product.image_2 %}
                  <div class="carousel-item">
                    <div class="image-container position-relative mb-3">
                      <img src="{{ product.image_2.url }}" class="d-block w-100 img-fluid" alt="Imagen secundaria del producto">
                       <a href="{% url 'admin:index' %}" class="play-button position-absolute top-50 start-50 translate-middle">
                        <ion-icon name="play-circle-outline" style="font-size:48px;color:#ffab4d;"></ion-icon>
                      </a>
                    </div>
                  </div>
                  {% endif %}
  
                  {% if product.image_3 %}
                  <div class="carousel-item">
                    <div class="image-container position-relative mb-3">
                      <img src="{{ product.image_3.url }}" class="d-block w-100 img-fluid" alt="Imagen terciaria del producto">
                        <a href="{% url 'admin:index' %}" class="play-button position-absolute top-50 start-50 translate-middle">
                        <ion-icon name="play-circle-outline" style="font-size:48px;color:#ffab4d;"></ion-icon>
                      </a>
                    </div>
                  </div>
                  {% endif %}
  
                  {% if not product.image and not product.image_2 and not product.image_3 %}
                  <div class="carousel-item active">
                    <div class="image-container position-relative mb-3">
                      <img src="{% static 'img/no_image.png' %}" class="d-block w-100 img-fluid" alt="Imagen no disponible">
  
                    </div>
                  </div>
                  {% endif %}
  
                </div>
  
                <!-- CONTROLES DEL CAROUSEL -->
   
  
                <!-- INDICADORES -->
  <div class="carousel-indicators mt-3 indicators-circle">
    {% if product.image %}
      <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Imagen 1"></button>
    {% endif %}
    {% if product.image_2 %}
      <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="1" aria-label="Imagen 2"></button>
    {% endif %}
    {% if product.image_3 %}
      <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="2" aria-label="Imagen 3"></button>
    {% endif %}
    {% if not product.image and not product.image_2 and not product.image_3 %}
      <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active" aria-label="Sin imagen"></button>
    {% endif %}
  </div>
  
  
  
              </div>
  
              <div class="d-flex gap-2">
  
        <!-- Botón para ver demo -->
  
  
      <form action="{% url 'paas_cart:cart_add' product.id %}" method="post">
          {% csrf_token %}
          {{ cart_product_form.quantity }}   <!-- Campo oculto -->
          {{ cart_product_form.update }}     <!-- Campo oculto -->
  
          <button type="submit" class="btn btn-warning btn-ecomm d-flex align-items-center gap-2">
            
              {% trans 'Ordenar Plataforma' %}
          </button>
      </form>
  
  
  
  </div>
              <!-- FIN DEL CAROUSEL -->
  
            </div>
          </div>
        </div>
  
        <!-- Información del producto -->
        <div class="col-12 col-lg-7">
          
          <div class="product-info-section p-3">
  
            {% if product.image_2 %}
            <img src="{{ product.image_2.url }}" class="img-fluid mb-3 d-none" alt="Vista adicional">
            {% endif %}
  
  
      <!-- Precio -->
      <div class="d-flex align-items-center gap-2">
          <h4 class="mb-0" style="color:#fff"><strong>{{ product.price }}</strong></h4>
          <h6 class="mb-0">Incluido 15 % I.V.A</h6>
      </div>
  
      <!-- Logo a la derecha -->
       {% if product.category.slug == 'business analytics' %}
      <img src="{% static 'img/smartbusinessanalytics.png' %}" 
           alt="Logo del proveedor" 
           style="width:290px;">
        {% endif %}
        {% if product.category.slug == 'business-media' %}
        <img src="{% static 'img/smartbusinessmedia.png' %}" 
           alt="Logo del proveedor" 
           style="width:290px;">
         {% endif %}
         {% if product.category.slug == 'business-law' %}
        <img src="{% static 'img/SmartBusinessLaw.png' %}" 
           alt="Logo del proveedor" 
           style="width:290px;">
  
         {% endif %}
  
         
  
  
  
  
            <div class="mt-3">
              <p style="color:#d4d0d0"><strong>{{ product.name }}</strong></p>
              <h6>Descripción</h6>
              <p class="mb-0">{{ product.description|linebreaks }}</p>
            </div>
  
  
  <div class="row mt-4" style="display: flex; flex-wrap: nowrap; gap: 20px; align-items: stretch;">
  
    <!-- 🔹 COLUMNA IZQUIERDA - ESPECIFICACIONES DEL PRODUCTO -->
    <div class="col-md-6" style="flex: 1; background-color: #444040; color: #ffffff; border-radius: 8px; padding: 20px;">
  <dl style="
    display: grid;
    grid-template-columns: 46% 65%;
    row-gap: 0px;
    column-gap: 6px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    margin: 0;
  ">
  
    <!-- ============================= -->
    <!--     CARACTERÍSTICAS DEL SISTEMA -->
    <!-- ============================= -->
    
  
  
    <dt><ion-icon name="rocket-outline"></ion-icon> Latencia</dt>
    <dd>{{ product.latencia_aproximada }} ms</dd>
  
    <dt><ion-icon name="people-outline"></ion-icon> Máx-Usuarios</dt>
    <dd>{{ product.usuarios_simultaneos }} Simultáneos</dd>
  
    <dt><ion-icon name="shuffle-outline"></ion-icon> Balanceo de Carga</dt>
    <dd><ion-icon name="checkmark-outline"></ion-icon></dd>
  
    <dt><ion-icon name="git-branch-outline"></ion-icon> Disponibilidad</dt>
    <dd>{{ product.software }}</dd>
  
    <dt><ion-icon name="git-compare-outline"></ion-icon> Max-Procesos(I+D)</dt>
    <dd>{{ product.numero_procesos }}</dd>
  
    <dt><ion-icon name="logo-tux"></ion-icon> Sistema Operativo</dt>
    <dd>{{ product.os }}</dd>
  
    <dt><ion-icon name="hardware-chip-outline"></ion-icon> vCPU(AMD/INTEL)</dt>
    <dd>{{ product.cpu }} Core</dd>
  {% if product.gpu  %}
     <dt><ion-icon name="hardware-chip-outline"></ion-icon> GPU(NVIDIA)</dt>
    <dd>{{ product.gpu }} Core</dd>
  {% else %}
  {% endif %}
  
    <dt><ion-icon name="layers-outline"></ion-icon> Memoria RAM</dt>
    <dd>{{ product.memoria  }}  MB</dd>
  
    <dt> <ion-icon name="server-outline"></ion-icon> Almacenamiento</dt>
    <dd>{{ product.almacenamiento }} GB</dd>
  
     <dt> <ion-icon name="timer-outline"></ion-icon> Ancho de banda</dt>
    <dd>{{ product.ancho_banda }} Mbps </dd>
  
  
   
  
  
  
  
    <!-- ============================= -->
    <!--          COSTOS -->
    <!-- ============================= -->
  
    <dt><ion-icon name="code-slash-outline"></ion-icon> Desarrollo (I+D)</dt>
    <dd>{{ product.total_nube_iva }} </dd>
  
    {% if product.is_automatitation %}
    <dt><ion-icon name="terminal-outline"></ion-icon> Automatización(+A)</dt>
    <dd>{{ product.total_nube_iva }} </dd>
    {% else %}
    {% endif %}
  
    {% if product.is_intelligent %}
     <dt><ion-icon name="chatbox-ellipses-outline"></ion-icon> Agente (+IA)</dt>
    <dd>{{ product.total_nube_iva }} </dd>
    {% else %}
    {% endif %}
  
  
  
  
  </dl>
  
    </div>
  
    
  
    <!-- 🔹 COLUMNA DERECHA - NORMATIVAS Y CUMPLIMIENTO -->
   <div class="col-md-6" style="flex: 1; display: flex; flex-direction: column; gap: 20px;">
  
  
        <!-- RECUADRO DE GARANTÍAS -->
    <div class="card" 
         style="background-color: #444040; color: #ffffff; border: 0px solid #5a5a5a; 
                border-radius: 8px; padding: 20px; text-align: left;">
  
      <h4><ion-icon name="shield-checkmark-outline"></ion-icon> Garantías</h4>
  
      <p>
        ISO/IEC 27001, ISO/IEC 27017, LOPD / GDPR, NIST SP 800-53, OWASP Top 10, ISO/IEC 20000.
      </p>
  
      <a href="https://ec.smartquail.io" class="text-blue-600 hover:underline">
        <img src="{% static 'assets/images/powered.png' %}" 
             alt="Logo del proveedor" 
             style="width: 250px;" />
      </a>
  
      <p style="font-size: 10px; line-height: 0.8; margin-top: 0; margin-bottom: 0;">
        <strong>2026 ® Todos los Derechos Reservados, Ecuador</strong>
      </p>
    </div>
  
  
  
  
    <!-- RECUADRO DE INFORMACIÓN DEL SERVICIO -->
  <div class="card" 
       style="background-color: #444040; color: #ffffff; border: 0px solid #5a5a5a; 
              border-radius: 8px; padding: 20px; text-align: left;">
      <h4><ion-icon name="card-outline"></ion-icon> Costos Mensuales</h4>
  
    <p>
    
      Infraestructura en la nube: <strong>{{ product.total_nube_iva }}</strong><br>
      Soporte técnico: <strong>{{ product.total_arch_iva }}</strong>
    </p>
  
  </div>
  
  
  
  
  </div>
  
  
  </div>
  
  
  
  
  
            
  
  
  
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
          </div>
        </div>
      </div>
  