{% extends "sbtshop/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load static %}


{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

<style>
 
 .blog-cover-bg {
  background-image: url("{% static 'img/smartbusinessmedia/2.png' %}");
}


p {
    letter-spacing: normal;
    line-height: 12px;
    color: #151414;
    font-weight: 300;
}
h3 {
  font-size: 20px;
}

.portfolio:hover .portfolio-description .portfolio-title {
  top: 15px;
  opacity: 1;
  visibility: visible;
}

.portfolio-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -95px;
}

.flexslider .slides img {
  width: 81%;
  display: block;
}

.btn-white {
    color: #f1f1f1;
    border-color: #6ba5f9;
    background-color: #6ba5f9;
}

</style>


{% include 'sbmshop/header.html' %}


<section class="pt-0 pb-0">
  <div class="slider-bg flexslider">
    <ul class="slides">
      <!--=== SLIDE 1 ===-->
      <li>
        <div class="slide-img"  style="background: url('{% static 'img/BA-BG/6.jpg' %}') center center / cover no-repeat;opacity: 0.4;" data-stellar-background-ratio="0.2" ></div>

        <div class="hero-text-wrap">
          <div class="hero-text white-color">
            <div class="container text-left">

            
              <img src="{% static 'img/smartbusinesstechnologies.png' %}" > 
            
              <h3 style="color:#358eb2" class="white-color">{% trans 'Tecnologías de información y comunicación en  nube nativa ' %}</h3>
              <h3 style="color:#358eb2" >{% trans 'La seguridad de tus datos, nuestra prioridad.' %}</h3>

                <div class="animate-caption capitalize mt-50">
                  <h3 class="mt-30 text-left" style="color:rgb(107, 165, 249)" >
                    <span class="rotate" style="color:rgb(107, 165, 249)">
                       {% trans 'Disponibilidad & Escalabilidad con Oquestación & CI/CD' %}  | {% trans 'Cyberseguridad: Roles Multifactoriales, encriptación SSL/TTL1.3' %}  | {% trans 'Recuperación y Respaldo automatizada' %} | {% trans 'Monitoreo & trazabilidad en tiempo real' %} | {% trans 'On-Premises Servers' %} |   {% trans 'Infraestructura & Arquitectura en la nube como servicio (IaaS)' %}</span></h3>
                </div>
                <a href="#Choose" class="btn btn-white btn-circle">{% trans 'Start Your Business Media Project' %}</a>
               
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>  


<section id="Choose" class="black-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
<h1>{% trans "Tecnologias en movimiento" %}</h1>
<p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
    {% trans 'Nuestra infraestructura combina servidores On-Premises con soluciones en la nube.' %}
</p>
<p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
    {% trans 'Garantizamos el cumplimiento de la Ley Orgánica de Protección de Datos Personales del Ecuador en cada capa del sistema,' %}
</p>
<p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
    {% trans 'Optimizamos la eficiencia operativa integrando soluciones sobre infraestructura propia, diseñadas bajo los lineamientos de seguridad y cumplimiento de la norma ISO 27001 y los principios ARCO, garantizando una gestión responsable de la información.' %}
</p>
<p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
    {% trans 'Asimismo, seguimos los “Principios sobre Inteligencia Artificial” de la OCDE (OECD AI Principles, 2019), promoviendo una IA centrada en el ser humano, respetuosa de los derechos humanos, transparente, explicable, robusta y supervisada.' %}
</p>
<h3 class="text-uppercase font-700 mt-0 wow fadeIn" data-wow-delay="0.1s">
    {% trans 'Desde el backend hasta el frontend.' %}
</h3>

       
        <div class="panel-group accordion-color mt-50" id="accordion-color">
         
         
          <div class="panel panel-default">
            {% for c in categories %}
            <div class="panel-heading">
              {% if c.title == 'Pre-Seed' %}
              <h3 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseOne"> 
                    {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                 </h3>
                 {% else %}
                 {% endif %}
            </div>

          {% endfor %} 
            
            <div id="collapseOne" class="panel-collapse collapse">
              
              <div class="panel-body">
                {% for c in categories %}
                
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Pre-Seed' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Pre-Seed' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Pre-Seed' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
               
                {% endfor %} 
              </div>
             
              
            </div>
          </div>

          <div class="panel panel-default">
            {% for c in categories %}
            <div class="panel-heading">
              {% if c.title == 'Stage' %}
              <h3 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseTwo"> 
                    {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                 </h3>
                 {% else %}
                 {% endif %}
            </div>

          {% endfor %} 
            
            <div id="collapseTwo" class="panel-collapse collapse ">
              
              <div class="panel-body">
                {% for c in categories %}
                
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Stage' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Stage' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Stage' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
               
                {% endfor %} 
              </div>
             
              
            </div>
          </div>

          <div class="panel panel-default ">
            {% for c in categories %}
            <div class="panel-heading">
              {% if c.title == 'Stage-A' %}
              <h3 class="panel-title">
                 <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseTree"> 
                    {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                 </h3>
                 {% else %}
                 {% endif %}
            </div>

          {% endfor %} 
            
            <div id="collapseTree" class="panel-collapse collapse ">
              
              <div class="panel-body">
                {% for c in categories %}
                
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Stage-A' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Stage-A' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                <p style="line-height: 10px;color: #333;">{% if c.title == 'Stage-A' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
               
                {% endfor %} 
              </div>
             
              
            </div>
          </div>

        
        </div>

        </div>

        <div class="col-md-6">
               
          <div class="panel-group accordion-color mt-50" id="accordion-color">

            <div class="panel panel-default">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Growth-Stage' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseFour"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseFour" class="panel-collapse collapse">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
           
           
            <div class="panel panel-default">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Growth-Stage-A' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseFive"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseFive" class="panel-collapse collapse">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage-A' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage-A' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Growth-Stage-A' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
  
            <div class="panel panel-default">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Scale-Up' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseSix"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseSix" class="panel-collapse collapse ">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Scale-Up' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Scale-Up' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Scale-Up' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
  
            <div class="panel panel-default ">
              {% for c in categories %}
              <div class="panel-heading">
                {% if c.title == 'Unicorn' %}
                <h3 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion-color" href="#collapseSeven"> 
                      {{ c.title }} (1-{{c.name }} {% trans 'Customers' %} / 1-{{ c.name }} {% trans 'Employes' %})  </a>
                   </h3>
                   {% else %}
                   {% endif %}
              </div>
  
            {% endfor %} 
              
              <div id="collapseSeven" class="panel-collapse collapse ">
                
                <div class="panel-body">
                  {% for c in categories %}
                  
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Unicorn' %}{{ c.sbmmodels_p1|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Unicorn' %}{{ c.sbmmodels_p2|richtext }}{% else %}{% endif %}</p> 
                  <p style="line-height: 10px;color: #333;">{% if c.title == 'Unicorn' %}{{ c.sbmmodels_p3|richtext }}{% else %}{% endif %}</p> 
                 
                  {% endfor %} 
                </div>
               
                
              </div>
            </div>
  
          
          </div>
  
          </div>
      
    

   
  </div>
</section>



<section id="SmartBusinessTechnologies" class="pt-50 pb-50 dark-bg cta-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="cta-heading-left">
          <p class="subtitle" style="line-height: 18px; color:#f1f1f1;">
            {% trans 'SmartBusinessTechnologies® – Innovación y Tecnología Inteligente' %}
          </p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="cta-heading-right">

          <p class="mt-20 content-text">
            {% trans 'SmartBusinessTechnologies® es un proyecto liderado por SmartQuail, Inc. que reúne el mejor talento nacional e internacional para garantizar el cumplimiento de las normativas y regulaciones locales e internacionales en materia de calidad de productos tecnológicos.' %}
          </p>

          <p class="mt-20 content-text">
            {% trans 'Nuestro equipo multidisciplinario está conformado por científicos de datos, administradores de empresas, financieros y artistas digitales, quienes trabajan en conjunto para acompañar a las empresas como su aliado estratégico en innovación tecnológica.' %}
          </p>

          <p class="mt-20 content-text">
            {% trans 'Contamos con laboratorios de desarrollo donde analizamos y comprendemos a fondo los procesos naturales de negocio, para luego implementarlos en sistemas de información en la nube con coherencia, eficiencia y responsabilidad.' %}
          </p>

          <p class="mt-20 content-text">
            {% trans 'Estamos comprometidos con la investigación y el desarrollo de soluciones tecnológicas innovadoras, enfocadas en la automatización, la inteligencia artificial y la transformación digital, para impulsar el crecimiento de los negocios inteligentes del futuro.' %}
          </p>

          <p class="mt-20 content-text">
            {% trans 'Además, te invitamos a conocer nuestras soluciones On-Premise, donde implementamos nuestras arquitecturas en servidores privados. Con esta modalidad, podrás ofrecer a tus usuarios finales y clientes total autonomía, independencia y protección de datos personales, contando con tu propio centro de datos dentro de tu organización.' %}
          </p>

        </div>
        <hr>
      </div>
    </div>
  </div>
</section>







<section  id="Staff" style="background: #53494e;" >
  <div class="container">
    <div class="row startup-member">
      <div class="col-sm-8 section-heading">
        <h2 class="wow fadeTop josefin-font" data-wow-delay="0.1s">  <img src="{% static 'img/smartbusinesstechnologies.png' %}" > {% trans 'Consulting us' %}</h2>
        <p class="subtitle" style ="line-height: 18px ; color:#f1f1f1;">{% trans 'We are professional, creative, smart, and fun!' %}</p>
      </div>
      {% for staff_item in products_staff %}

      <div class="col-md-3 col-sm-6">
        <div class="member text-center">
          <div class="team-member-container">
            <!-- Aquí debes usar 'staff_item' para acceder a los atributos -->
            <img src="{{ staff_item.ceo_profile_img.url }}" class="img-responsive" alt="team-01">
            <div class="member-caption">
              <div class="member-description text-center">
                <div class="member-description-wrap">
                  <ul class="member-icons">
                    <li class="social-icon"><a href="#"><i class="icofont icofont-user"></i> See My Profile </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Aquí también debes usar 'staff_item' -->
          <h4 class="member-title">{{ staff_item.ceo_name }} {{ staff_item.ceo_lastname }}</h4>
          <p class="member-subtitle">{{ staff_item.ceo_sector }}</p>
        </div>
      </div>
    {% endfor %}
    

     
      <!--=== Member End ===-->

    


    </div>
  </div>
</section>


<section style="background: #6ba5f9;" class="pt-50 pb-50 black-bg">
  <div class="container">
    <div class="row">
      <div id="client-slider" class="owl-carousel">
        {% for tech_items in products_tech %}
        <div class="client-logo"> <img class="img-responsive" src="{{ tech_items.logo_img.url }}" alt="01"/> </div>
        {% endfor %}
  
      </div>
    </div>
  </div>
</section>






{% include 'webapp/home/footer_section.html' %}


{% endblock %}