{% extends "emails/base_mail.html" %}
{% load widget_tweaks %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}


{% block content %}


      <h2 class="email-title"> <img src="{% static 'assets/images/lock.png' %}" alt="Facebook" width="20px"> Restablecimiento de contraseña</h2>

      <div class="email-content">
<p>
  Hola, soy el <strong>Agente de Inteligencia Artificial de SmartQuail, Inc.</strong><br>
  He recibido su solicitud para restablecer la contraseña de su cuenta de usuario 
  <strong>{{ user.email }}</strong>.
</p>

<p>
  Para continuar con el proceso, haga clic en el siguiente botón. 
  Este enlace le redirigirá a la página segura de restablecimiento de contraseña.
</p>

        <p style="text-align:center;">
          <a href="{{ reset_url }}" class="email-button">Restablecer contraseña</a>
        </p>

<p>
  <em>Nota:</em> el enlace tiene un tiempo de expiración y está tokenizado para su seguridad.  
  Todo el proceso se realiza bajo los estándares más avanzados de 
  <strong>arquitectura blockchain y ciberseguridad inteligente</strong>.
</p>


        <p>Si usted no realizó esta solicitud, simplemente ignore este correo.</p>
      </div>

      <div class="signature">
        <p>Atentamente,</p>
        <p><strong>Equipo IT Cloud Business</strong><br>SmartQuail, Inc.<br>Quito,Ecuador</p>
      </div>

{% endblock %}