
{% load static %}
<div class="page-number"></div>

<header>
    <div class="header-left">
        <img src="{% static 'css/logo_sq_header.png' %}" alt="SmartQuail Logo">
    </div>

    <div class="header-center">
        Nota Estados Finacieros No. {{ reporte.id|stringformat:"05d" }}
    </div>

    <div class="header-right">
        <strong>
            Quito,
            {{ reporte.created_at|date:"d" }} de
            {{ reporte.created_at|date:"F" }} de
            {{ reporte.created_at|date:"Y" }}
        </strong>
    </div>
</header>
<hr>


<article id="contents">
  <h2>POLÍTICAS CONTABLES Y NOTAS EXPLICATIVAS</h2>

  <h4>Estados Financieros por el año terminado al 31 de diciembre de {{ reporte.fiscal_year }} (Expresado en Dólares de EEUU)</h4>
  <p ><strong>{{ acta.regulacion.razon_social|default:"SMARTQUAIL S.A.S." }}</strong></p>
  <h3>INDICE DE NOTAS A LOS ESTADOS FINANCIEROS</h3>
  <ul>
    <li><a href="#columns-title"></a></li>
    <li><a href="#columns-title-2"></a></li>
    <li><a href="#columns-title-3"></a></li>
    <li><a href="#columns-title-4"></a></li>
    <li><a href="#columns-title-5"></a></li>
    <li><a href="#columns-title-6"></a></li>
    <li><a href="#columns-title-7"></a></li>
    <li><a href="#columns-title-8"></a></li>

  </ul>

</article>


<header>
    <div class="header-left">
        <img src="{% static 'css/logosmartquail.png' %}" alt="SmartQuail Logo">
    </div>

    <div class="header-center">
        Nota Estados Finacieros No. {{ reporte.id|stringformat:"05d" }}
    </div>

    <div class="header-right">
        <strong>
            Quito,
            {{ reporte.created_at|date:"d" }} de
            {{ reporte.created_at|date:"F" }} de
            {{ reporte.created_at|date:"Y" }}
        </strong>
    </div>
</header>
<hr>

<article id="skills">


  <h3 id="columns-title" >Abreviaturas</h3>

  <section id="heading">
    <h4>NIC</h4>
    <p>
      Normas Internacionales de Contabilidad
    </p>
  </section>

  <section id="heading">
    <h4>NIIF</h4>
    <p>
      Normas Internacionales de Informació n Financiera
    </p>
  </section>

  <section id="heading">
    <h4>NEC</h4>
    <p>
      Normas Ecuatorianas de Contabilidad
    </p>
  </section>

  <section id="heading">
    <h4>IASB</h4>
    <p>
      International Accounting Standard Board
  Consejo de Normas Internacionales de Contabilidad
    </p>
  </section>

  <section id="heading">
    <h4>PCGA</h4>
    <p>
      Principios de Contabilidad Generalmente Aceptados
    </p>
  </section>

  <section id="heading">
    <h4>PV</h4>
    <p>
    Valor Razonable
    </p>
  </section>

  <section id="heading">
    <h4>USD$</h4>
    <p>
      Dolares de Estados Unidos
    </p>
  </section>







</article>



<header>
    <div class="header-left">
        <img src="{% static 'css/logosmartquail.png' %}" alt="SmartQuail Logo">
    </div>

    <div class="header-center">
        Nota Estados Finacieros No. {{ reporte.id|stringformat:"05d" }}
    </div>

    <div class="header-right">
        <strong>
            Quito,
            {{ reporte.created_at|date:"d" }} de
            {{ reporte.created_at|date:"F" }} de
            {{ reporte.created_at|date:"Y" }}
        </strong>
    </div>
</header>
<hr>





<div class="titulos">
    <h3 id="columns-title-2">1. Información de la Compañía</h3>

</div>

<div class="preambulo">
  <p>
    {{ reporte.company_name }}, constituida en el Ecuador el {{ reporte.fecha_incripcion|date:"d" }}  de {{ reporte.fecha_incripcion|date:"F" }} del {{ reporte.fecha_incripcion|date:"Y" }}. Su domicilio principal está en la {{ reporte.direccion }}, en la ciudad de Quito.  </p>
      <p> Las principales actividades de la Compañía son: </p>
    <p>{{ reporte.economic_activity }}</p>

</div>

<div class="titulos">
    <h3 id="columns-title-3">2. Bases de la elaboración y políticas contables significativas</h3>
</div>

<div class="clausulas">

    <h3>a. Declaración de Cumplimiento</h3>

    <p>
        Estos estados financieros se han elaborado de acuerdo con las Normas Internacionales
        de Información Financiera para Pequeñas y Medianas Empresas (NIIF para PYMES)
        emitida por el Consejo de Normas Internacionales de Contabilidad (IASB).
    </p>

    <h3>b. Moneda de presentación y moneda funcional</h3>

    <p>
      Estos estados financieros son preparados en dólares de los Estados Unidos de
América que constituye la moneda oficial de Ecuador.
    </p>

    <h3>c. Base de Preparación</h3>

    <p>
      Los estados financieros han sido preparados sobre la base del costo histórico.  </p>
  <p>El costo histórico está basado generalmente en el valor razonable de la contraprestación entregada a cambio de los bienes y servicios.
     El valor razonable de la contraprestación entregada a cambio de los bienes y servicios.
     El valor razonable es el precio que se recibirıá por vender un activo o el valor pagado para transferir un pasivo entre participantes
     de un mercado en la fecha de valoración, independientemente de si ese precio es directamente
    observables o estimado utilizando otra técnica de valoración.
     Al estimar el valor razonable de un activo o pasivo, la Compañía tiene en cuenta las caracterıśticas del activo o pasivo a la fecha de medición.
El valor razonable a efectos de medición y revelación de los estados financieros, se determina sobre una base de este tipo.
    </p>

</div>

<div class="titulos">
    <h3 id="columns-title-4">3. Efectivo y equivalentes de efectivo</h3>
</div>

<div class="clausulas">
    <p>
      El efectivo y equivalentes de efectivo incluyen aquel los activos financieros líquidos, depósitoso inversiones financieras líquidas
      que se pueden transformar demanera rápida en efectivo en un plazo inferior a tres meses.
El efectivo y equivalente al efectivo está conformado por las cuentas de caja y bancos.
Al 31 de diciembre de {{ reporte.fiscal_year }} presentó el monto de USD ${{ reporte.monto_total }} de los cuales el 100% corresponde a Caja.
    </p>
</div>

<div class="titulos">
    <h3 id="columns-title-5">4. Capital Social</h3>
</div>

<div class="clausulas">

        <p>El Capital Social Autorizado, suscrito y pagado es de USD ${{ reporte.monto_total }}  y consiste en 100 acciones de USD ${{ reporte.valor_unitario }}
          dólares de los Estados Unidos de América cada uno. Los cuales otorgan un voto y un derecho a los dividendos por cada USD ${{ reporte.valor_unitario }}  por acción.
Al 31 de diciembre de {{ reporte.fiscal_year }} , la compañıá se mantuvo con la misma cantidad de acciones.</p>
</div>


<div class="titulos">
    <h3 id="columns-title-6">5. Resultados del periodo</h3>
</div>

<div class="clausulas">

        <p>También conocida como utilidad o pérdida del ejercicio representa el último elemento del balance general.
          Que es el resultado final de las cuentas de ingresos, gastos y costos,
           en tanto los ingresos sean mayores que los gastos se considera que exista utilidad.
          Las utilidades o pérdidas en el balance se ubican dentro del patrimonio, puesto que toda ganancia de los activos incrementa el patrimonio de la empresa.
          Al 31 de diciembre de  {{ reporte.fiscal_year }} , la compañía registró ganancia de <strong>US$ {{ eir.c_600 }}</strong> dólares de los Estados Unidos de América.
        </p>
</div>

<div class="titulos">
    <h3 id="columns-title-7">6. Hechos producidos después del periodo sobre el que se informa</h3>
</div>

<div class="clausulas">

        <p>Entre el 31 de diciembre de {{ reporte.fiscal_year }}  y la fecha de emisión de los estados financieros
          no se produjeron eventos que en opinión de la Administración pudieran tener un efecto importante sobre los estados financieros adjuntos.
        </p>


</div>




<div class="titulos">
    <h3 id="columns-title-8">7. Aprobación de los estados financieros</h3>
</div>

<div class="clausulas">

        <p>Los estados financieros por el año terminado al 31 de diciembre de {{ reporte.fiscal_year }} han sido aprobados por la administración de la compañía y
          Junta directiva el  {{ reporte.created_at|date:"d" }} de
                    {{ reporte.created_at|date:"F" }} de
                    {{ reporte.created_at|date:"Y" }}.
        </p>
</div>


<hr>



<div class="certificaciones">

    <div class="cert-left">
      <div class="cert-sign">
      <div class="signature-box"></div>
      <p>{{ reporte.nombre_contador }} <br>
        {{ reporte.matricula_contador }} <br>
          <strong>CONTADOR</strong><br>
          <strong>SMARTQUAIL.S.A.S</strong><br>

      </p>
    </div>
    </div>


  </div>


<hr>




<footer>
    <p>
        SmartQuail, Inc. — Innovación en Soluciones Tecnológicas<br>
        https://ec.smartquail.io |  phys.mauricio.silva@gmail.com | Tel: +593 (96) 352-1262<br>
        © 2026 SmartQuail, Inc. Todos los derechos reservados.
    </p>
</footer>
