{% load i18n %}
{% load static %}

<div class="page-number"></div>

<header>
    <div class="header-left">
        <img src="{% static 'css/logosmartquail.png' %}" alt="SmartQuail Logo">
    </div>

    <div class="header-center">
        ACTA No. {{ acta.id|stringformat:"05d" }}
    </div>

    <div class="header-right">
        <strong>
            Quito,
            {{ acta.fecha_asamblea|date:"d" }} de
            {{ acta.fecha_asamblea|date:"F" }} de
            {{ acta.fecha_asamblea|date:"Y" }}
        </strong>
    </div>
</header>
<hr>
<div class="titulos">
    <h2>ACTA DE ASAMBLEA UNIPERSONAL DE ACCIONISTA</h2>
    <p><strong>{{ acta.regulacion.razon_social|default:"SMARTQUAIL S.A.S." }}</strong></p>
</div>

<div class="preambulo">
  <p>
      En la ciudad de <strong>{{ acta.lugar_asamblea|default:"Quito" }}</strong>, a los
      {{ acta.fecha_asamblea|date:"d" }} días del mes de
      {{ acta.fecha_asamblea|date:"F" }} de
      {{ acta.fecha_asamblea|date:"Y" }},
      siendo las {{ acta.hora_inicio }},
      el señor <strong>{{ acta.presidente_junta }}</strong>,
      en su calidad de Accionista Único de la compañía,
      titular del <strong>100% del capital social suscrito y pagado</strong>,
      adopta la presente decisión conforme a la Ley de Compañías y el estatuto social vigente.
  </p>

  <p>
      El Accionista Único deja constancia de que sus decisiones se adoptan por escrito,
      de conformidad con la normativa aplicable.
  </p>
</div>

<div class="clausulas">

    <h3>Instalación de la Asamblea</h3>

    <p>
        El accionista único de la compañía, <strong>{{ acta.presidente_junta }}</strong>,
        se constituye como titular del <strong>100% del capital social suscrito y pagado</strong>
        y asume, conforme a derecho, las funciones de Presidente y Secretario Ad–Hoc
        de la presente <strong>Asamblea Unipersonal de Accionista</strong>, en cumplimiento
        de la Ley de Compañías y del estatuto social vigente.
    </p>

    <p>
        La Secretaría certifica la hora de inicio siendo las {{ acta.hora_inicio }},
        constatando la presencia del accionista único. Por lo tanto, se declara válidamente
        instalada la <strong>Asamblea Unipersonal de Accionista</strong>,
        con plena capacidad para deliberar y resolver sobre los asuntos sometidos a su conocimiento.
    </p>

</div>
<div class="clausulas">
    <h3>Orden del Día</h3>
    <p>
        La Presidencia pone en conocimiento del accionista el siguiente
        <strong>Orden del Día</strong>:
    </p>

    <p>
        {{ acta.orden_dia|linebreaks }}
    </p>

    <p>
        El Orden del Día es conocido y aprobado en su integridad por unanimidad
        del accionista único, dejándose expresa constancia de la obligación de
        confidencialidad respecto de los asuntos tratados y de la información
        conocida en el desarrollo de la presente Asamblea.
    </p>
</div>


<div class="clausulas">
    {% for clausula in clausulas %}
        <h3>{{ clausula.get_clausula_display }}: {{ clausula.titulo_clausura }} </h3>
        <p>{{ clausula.detalle }}</p>
    {% empty %}

    {% endfor %}
</div>




<hr>



<div class="certificaciones">

    <div class="cert-left">
      <div class="cert-sign">
      <div class="signature-box"></div>
      <p>
          <strong>PRESIDENTE AD–HOC</strong><br>
          {{ acta.secretario_junta }}
      </p>
    </div>
    </div>




    <div class="cert-right">

        <div class="cert-sign">
            <div class="signature-box"></div>
            <p>
                <strong>SECRETARIO AD–HOC</strong><br>
                {{ acta.secretario_junta }}
            </p>
        </div>

    </div>
  </div>


<hr>




<footer>
    <p>
        SmartQuail, Inc. — Innovación en Soluciones Tecnológicas<br>
        https://ec.smartquail.io |  phys.mauricio.silva@gmail.com | Tel: +593 (96) 352-1262<br>
        © 2026 SmartQuail, Inc. Todos los derechos reservados.
    </p>
</footer>
