{% extends 'unfold/base.html' %}
{% load static %}

{% block content %}


{% block customCSS %}{% endblock %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block body %}{% endblock %}
{% block customJS %}{% endblock %}


<div class="container max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="card">
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<!-- rrule lib --> 
<script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>

<!-- fullcalendar bundle  "IMPORTANT"--> 
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<!-- or download fullcalendar@6.x.xx (static) and link it from there -->

<!-- the rrule-to-fullcalendar connector. must go AFTER the rrule lib -->
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.11/index.global.min.js'></script>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            
            //event data : 
            events: '/mp/', /*. URL from urls.py (JSON output from views.py) */
            headerToolbar: {
                left: 'prev,next today', 
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            
            });
            calendar.render();
        });

</script>
{% endblock %}
